{% extends "team/settings_base.html" %}

{% block container-right %}
<h2 class="heading">{{teamGroup.name}} 组</h2>
<div class="group-member">
    {% for groupMember in groupMembers %}
    <div class="member">
      <div class="hide actions">
        <a href="javascript:;" data-member-user-id="{{groupMember.member_user_id}}" class="remove-group-member btn btn-mini">删除</a>
      </div>
      <div class="name">
        <img src="https://gravatar.com/avatar/{{groupMember.member_userprofile.imgurl}}?s=34" alt="{{groupMember.member_userprofile.username}}">
        <a href="/{{groupMember.member_userprofile.username}}/">{{groupMember.member_userprofile.username}}</a>
      </div>
    </div>
    {% endfor %}
</div>
{% if teamMembersNotInGroup %}
<div>
  <select class="add-group-member-select" name="member">
    {% for teamMember in teamMembersNotInGroup %}
    <option value="{{teamMember.user.username}}">{{teamMember.user.username}}</option>
    {% endfor %}
  </select>
  <button class="add-group-member-btn btn btn-mini">选择团队用户添加</button>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script>
$(function(){
    $('.group-member').live('mouseover mouseout', function(event) {
        if(event.type == 'mouseover') {
            $(this).find('.actions').show();
        } else {
            $(this).find('.actions').hide();
        }
    });
    $('.add-group-member-btn').click(function(){
        var team_group_id = {{teamGroup.id}};
        var member_username = $('option:selected', '.add-group-member-select').val();
        $.post('/{{teamUser.username}}/-/settings/group/add_member/', {csrfmiddlewaretoken: '{{ csrf_token }}', 'team_group_id': team_group_id, 'member_username': member_username}, function(json){
            if(json.code == 200) {
                window.location.reload(true);
                return;
            }
            alert(json.message);
        });
    });

    $('.remove-group-member').click(function(){
        var team_group_id = {{teamGroup.id}};
        var member_user_id = $(this).data('member-user-id');
        $.post('/{{teamUser.username}}/-/settings/group/remove_member/', {csrfmiddlewaretoken: '{{ csrf_token }}', 'team_group_id': team_group_id, 'member_user_id': member_user_id}, function(json){
            if(json.code == 200) {
                window.location.reload(true);
                return;
            }
            alert(json.message);
        });
    });
});
</script>
{% endblock %}

