{% extends "team/dashboard_base.html" %}

{% block subcontainer %}

  <div class="pulls bubble">
    <div class="pulls-head">
      <h2 class="heading">需要我处理的</h2>
      <!--p>未合并的<a href="#" class="count">12</a>, 已经关闭的<a href="#" class="count">1</a>, 拒绝合并的<a href="#" class="count">2</a></p-->
    </div>

    {% if pullRequests %}
      {% for pullRequest in pullRequests %}
        <section class="pull-item">
          <div class="pull">

            <figure class="avatar">
              <img src="https://gravatar.com/avatar/{{pullRequest.pull_user.username}}?s=38" alt="{{pullRequest.pull_user.username}}">
            </figure>

            <div class="info">

              <h3 class="heading">
                <a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/pull/{{pullRequest.id}}/" class="id">{#[{{pullRequest.id}}]#}{{pullRequest.short_title}}</a>
                <span class="label label-mini {{pullRequest.status_label}}">{{pullRequest.status_view}}</span>
              </h3>

              <div class="branches hide">
                <span class="puller">
                  <a href="/{{pullRequest.pull_user.username}}/">{{pullRequest.pull_user.username}}</a>想把
                </span>
                <span class="sub">{#<a href="/{{pullRequest.source_repo.username}}/">{{pullRequest.source_repo.username}}</a>/#}<a href="/{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}/">{{pullRequest.source_repo.name}}</a>:<span{# href="/{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}/tree/{{pullRequest.source_refname}}/" #} class="repo-name">{{pullRequest.source_refname}}</span>
                </span>合并到
                <span class="master">{#<a href="/{{pullRequest.desc_repo.username}}/">{{pullRequest.desc_repo.username}}</a>/#}<a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/">{{pullRequest.desc_repo.name}}</a>:<span{# href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/tree/{{pullRequest.desc_refname}}/" #} class="repo-name">{{pullRequest.desc_refname}}</span>
                </span>
              </div>
              <p class="desc">{{pullRequest.short_desc}}</p>
          </div>

          </div>
        </section>
      {% endfor %}
    {% else %}
      <div class="pull-item wall">
        <p>还没有Pull Request需要您处理。</p>
      </div>
    {% endif %}

  </div>


{% endblock %}

{% block js %}
  <script>
    $(function(){
        moment.lang('zh-cn');
        $('#pullMerge').click(function(){
            window.location.href = '/dashboard/pull/';
        });
        $('#pullRequest').click(function(){
            window.location.href = '/dashboard/pull/request/';
        });
    });
  </script>
{% endblock %}
