{% extends "team/dashboard_base.html" %}

{% block subcontainer %}
    <div class="feeds bubble">
      <div class="ajaxLoader">
        <p>请等待...</p>
        <img src='/static/img/loading.gif' alt="loader">
      </div>
      <div id="newsfeed" class="primary"></div>
    </div>
{% endblock %}

{% block js %}
  <script>
    $(function(){
        var orgi_feeds = {{ feeds_as_json|safe }};
        var feed = new Feed(orgi_feeds, 'feed');
        feed.render($('#newsfeed'), null, function(){
            $('.ajaxLoader').hide();
        });
    });
  </script>
{% endblock %}
