{% extends "repo/repo.html" %}

{% block css %}
<link rel="stylesheet" class="theme" title="default" href="/static/less/app/highlight/default.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="IDEA" href="/static/less/app/highlight/idea.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="sunburst" href="/static/less/app/highlight/sunburst.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="github" href="/static/less/app/highlight/github.css">
<link rel="stylesheet" class="theme" title="googleCode" href="/static/less/app/highlight/googlecode.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="solarized" href="/static/less/app/highlight/solarized_dark.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="xCode" href="/static/less/app/highlight/xcode.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="tomorrowNightBright" href="/static/less/app/highlight/tomorrow-night-bright.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="pojoaque" href="/static/less/app/highlight/pojoaque.css" disabled="disabled">
<link rel="stylesheet" class="theme" title="railscasts" href="/static/less/app/highlight/railscasts.css" disabled="disabled">
<style>
  #themes li {
    cursor: pointer;
  }
</style>
{% endblock %}
{% block subcontainer %}
<div class="header clearfix">
</div>
<div class="files bubble">
<div class="file-list table-container" id="source">
        <div class="theme-selector">
            <div class="group clearfix">
                <a href="#" id="switcher">主题</a>
                <span class="current-branch-name">
                    <a href="/{{user_name}}/{{repo_name}}/{%if current == 'index' or current == 'tree' or current == 'blob' %}tree{%endif%}{%if current == 'commits' %}commits{%endif%}{%if current == 'refs_graph' %}refs/graph{%endif%}/{{refs}}/">{{repo_name}}</a><span class="divider">/</span>
                    <span id="repo-path"></span>
                </span>
                <span class="views pull-right">
                  <a href="/{{user_name}}/{{repo_name}}/commits/{{refs}}/{{path}}"><em>提交</em></a>
                  <a href="/{{user_name}}/{{repo_name}}/raw/blob/{{refs}}/{{path}}"><em>原始文件</em></a>
                </span>
            </div>
            <ul id="themes" class="theme-list clearfix">
              <li id="default"><a href="#">Default</a></li>
              <li id="github"><a href="#">Github</a></li>
              <li id="sunburst"><a href="#">Sunburst</a></li>
              <li id="solarized"><a href="#">Solarized</a></li>
              <li id="googleCode"><a href="#">Google Code</a></li>
              <li id="xCode"><a href="#">xCode</a></li>
              <li id="tomorrowNightBright"><a href="#">Tomorrow</a></li>
              <li id="pojoaque"><a href="#">Pojoaque</a></li>
              <li id="railscasts"><a href="#">Railscasts</a></li>
            </ul>
        </div>

  <div id="i_source_code">
    {% if not blob and blob != '' %}
    没有源代码、二进制文件，或者没有查看源代码权限，半公开和私有项目需要申请成为成员才能查看源代码
    {% else %}
    {% if is_markdown %}
    <div id="id_markdown_content" class="markdown hide">{{ blob }}</div>
    {% else %}
    <div class="code">
      <pre><code class="lineNumbers">{{ blob }}</code></pre>
    </div>
    {% endif %}
    {% endif %}
  </div>          
</div>

</div>{# files/bubble #}
{% endblock %}
{% block subjs %}
{#<script src="/static/js/app/highlight/highlight.min.js?timestamp={{gitshell.timestamp}}"></script>#}
<script src="/static/js/app/highlight/highlight.pack.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
{% if is_markdown %}
<script src="/static/js/app/markdown/marked.js"></script>
<script src="/static/js/app/caja/html-css-sanitizer-minified.js"></script>
{% endif %}
<script>
  $(function(){
    set_path_href = function() {
      var base_href_path = '/{{user_name}}/{{repo_name}}/tree/{{refs}}/';
      var path = '{{path}}';
      if(path == '.') {
        return;
      }
      var paths = path.split('/');
      path_href_html = '';
      for(x in paths) {
        subpath = paths[x];
        if(subpath == '') {
          break;
        }
        base_href_path = (base_href_path + subpath + '/');
        if(path.substr(-1) === "/") {
          if(x != (paths.length-2)) {
            path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
          } else {
            path_href_html = (path_href_html + ' ' + subpath + ' /');
          }
        } else {
          if(x != (paths.length-1)) {
            path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
          } else {
            path_href_html = (path_href_html + ' ' + subpath);
          }
        }
      }
      $('#repo-path').html(path_href_html);
    };
    set_path_href();
    {% if is_markdown %}
    marked.setOptions({ gfm: true, tables: true, breaks: false, pedantic: false, sanitize: false, smartLists: true, smartypants: false, langPrefix: 'lang-' });
    var html = $('#id_markdown_content').html();
    html = $('<div/>').html(html).text();
    var sanitized_html = html_sanitize(marked(html), function(url) { return url; }, function(id) { return id; })
      $('#id_markdown_content').html(sanitized_html);
    $('#id_markdown_content').show();
    {% else %}
    //hljs.tabReplace = '    ';
    hljs.initHighlightingOnLoad();
    {% endif %}

  });
</script>
<script>
  $(function(){

    // Color Scheme
    var switcher = $("#switcher"),
        themes = $("#themes");
    switcher.click(
        function(e){
          e.preventDefault();
          themes.slideToggle(100);
        }
    );

    var colorSchemeCookie = $.cookie("colorscheme");

    if(colorSchemeCookie == null){
      $("link[title='github']").removeAttr("disabled");
      $("#themes #github").addClass("active");
    } else {
      $("link.theme[title='" + colorSchemeCookie + "']").removeAttr("disabled");
      $("#themes li[id='" + colorSchemeCookie + "']").addClass("active");
      $("link.theme[title!='" + colorSchemeCookie + "']").attr("disabled","disabled");
    }

    $("#themes li").click(function(){
      var colorScheme = $(this).attr("id");
      $("link.theme[title='" + colorScheme + "']").removeAttr("disabled");
      $("link.theme[title!='" + colorScheme +"']").attr("disabled","disabled");
      $.cookie("colorscheme", colorScheme , {expires:30});
      $(this).addClass("active").siblings().removeClass("active");
    });

  });
</script>
{% endblock %}
