{% extends "repo/repo.html" %}
{% block subcontainer %}
<style>
</style>
<h2>Branches</h2>
<div id="i_branches">
</div>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $.post('/{{user_name}}/{{repo_name}}/refs/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
        var html = [];
        var detail_commit = json.refs_meta.detail_commit;
        var branches = json.refs_meta.branches;
        html.push('<table class="table table-striped"><tbody>');
        for(x in branches) {
            html.push('<tr>');
            var branch = branches[x];
            var commit = detail_commit[branch];
            html.push('<td><h2><a href="/{{user_name}}/{{repo_name}}/tree/' + branch + '">' + branch + '</a></h2></td>');
            html.push('<td><span class="muted">由' + commit.author + '<span class="c_unixtime">' + commit.committer_date + '</span>提交: ' + commit.commit_message + '</span></td>');
            html.push('<td>');
            html.push('<a href="/{{user_name}}/{{repo_name}}/branch/graph/' + branch + '/"><button type="button" class="btn">分支图</button></a>');
            html.push('&nbsp;');
            html.push('<a href="/{{user_name}}/{{repo_name}}/compare/' + branch + '/"><button type="button" class="btn btn-success">比较</button></a>');
            html.push('</td>');
            html.push('</tr>');
        }
        html.push('</tbody></table>');
        $('#i_branches').html(html.join(''));
        $('.c_unixtime').each(function(index){ 
            $(this).html(moment(new Date($(this).html()*1000)).fromNow());
            $(this).show();
        });
    });
});
</script>
{% endblock %}
