{% extends "repo/repo.html" %}

{% block subcontainer %}
<div class="hooks inner bubble">
  <ul class="breadcrumb">
    <li><a href="/{{user_name}}/{{repo_name}}/settings/"><i>&larr;</i>返回设置</a></li>
  </ul>
  <div class="header">
    <h1 class="heading">{{branch}} 分支权限控制</h1>
    <p class="note"><a href="#desc">常见使用说明</a></p>
  </div>

  <p>1 全局权限控制</p>
  <div class="global-permission">
    <ul class="permission">
      <li>
        <div>
          <span>对于仓库的所有成员</span>
          <select class="global-permission-select" name="permission">
            {% for key, value in PERMISSION_VIEW.items %}
              <option value="{{key}}"{%if branchPermission and key == branchPermission.global_permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
          </select>
        </div>
      </li>
    </ul>
  </div>

  <p>2 用户权限控制</p>
  <div class="user-permission">
    <ul class="permission">
    {% if branchPermission %}
      {% for permissionItem in branchPermission.user_permission_set %}
        <li>
          <div>
            {{ permissionItem.userprofile.username }}
            <select class="user-permission-select" data-user-id="{{permissionItem.userprofile.id}}" name="permission">
            {% for key, value in PERMISSION_VIEW.items %}
              <option value="{{key}}"{%if key == permissionItem.permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
            </select>
            <button class="remove-user-permission-button" data-item-id="{{permissionItem.id}}">删除</button>
          </div>
        </li>
      {%endfor%}
    {% endif %}
    </ul>
    {% if memberUsers_without_grant %}
    <div>
      <span>设置用户权限</span>
      <select id="grant-user">
        {% for memberUser in memberUsers_without_grant %}
          <option value="{{memberUser.id}}">{{memberUser.username}}</option>
        {% endfor %}
      </select>
      <select id="grant-user-permission">
        {% for key, value in PERMISSION_VIEW.items %}
          <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
      <button id="grant-user-button">确定</button>
    </div>
    {% endif %}
  </div>

  {% if teamGroups %}
  <p>3 群组权限控制</p>
  <div class="group-permission">
    <ul class="permission">
    {% if branchPermission %}
      {% for permissionItem in branchPermission.group_permission_set %}
        <li>
          <div>
            {{ permissionItem.group.name }}
            <select class="group-permission-select" data-group-id="{{permissionItem.group.id}}" name="permission">
            {% for key, value in PERMISSION_VIEW.items %}
              <option value="{{key}}"{%if key == permissionItem.permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
            </select>
            <button class="remove-group-permission-button" data-item-id="{{permissionItem.item.id}}">删除</button>
          </div>
        </li>
      {%endfor%}
    {% endif %}
    </ul>
    {% if teamGroups_without_grant %}
    <div>
      <span>设置群组权限</span>
      <select id="grant-group">
        {% for teamGroup in teamGroups_without_grant %}
          <option value="{{teamGroup.id}}">{{teamGroup.name}}</option>
        {% endfor %}
      </select>
      <select id="grant-group-permission">
        {% for key, value in PERMISSION_VIEW.items %}
          <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
      <button id="grant-group-button">确定</button>
    </div>
    {% endif %}
  </div>
  {% endif %}

  <div id="desc">
    <pre>
1 xx
2 yy
    </pre>
  </div>
</div>
{% endblock %}

{% block subjs %}

<script>
  $(function(){
    var repo_id = {{repo.id}};
    var user_name = '{{user_name}}';
    var repo_name = '{{repo_name}}';
    var branch = '{{branch}}';
    function reload_or_alert_error(json) {
        if(json.code == 200) {
            window.location.reload(true);
            return;
        }
        alert(json.message);
    }
    function grant_user_permission(user_id, permission) {
        var grant_url = _.sprintf('/%s/%s/settings/branch/permission/%s/grant/', user_name, repo_name, branch);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'user', 'user_id': user_id, 'permission': permission}, function(json){
            reload_or_alert_error(json);
        });
    }
    function grant_group_permission(group_id, permission) {
        var grant_url = _.sprintf('/%s/%s/settings/branch/permission/%s/grant/', user_name, repo_name, branch);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'group', 'group_id': group_id, 'permission': permission}, function(json){
            reload_or_alert_error(json);
        });
    }
    function permission_remove_item(item_id) {
        var remove_url = _.sprintf('/%s/%s/settings/permission/item/remove/', user_name, repo_name);
        $.post(remove_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'item_id': item_id}, function(json){
            reload_or_alert_error(json);
        });
    }
    $('.global-permission-select').change(function(event) {
        var global_permission = $('option:selected', this).val();
        var grant_url = _.sprintf('/%s/%s/settings/branch/permission/%s/grant/', user_name, repo_name, branch);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'global', 'permission': global_permission}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.user-permission-select').change(function(event) {
        var user_id = $(this).data('user-id');
        var user_permission = $('option:selected', this).val();
        grant_user_permission(user_id, user_permission);
    });
    $('.group-permission-select').change(function(event) {
        var group_id = $(this).data('group-id');
        var group_permission = $('option:selected', this).val();
        grant_group_permission(group_id, group_permission);
    });
    $('#grant-user-button').click(function(event) {
        var user_id = $('option:selected', '#grant-user').val();
        var user_permission = $('option:selected', '#grant-user-permission').val();
        grant_user_permission(user_id, user_permission);
    });
    $('#grant-group-button').click(function(event) {
        var group_id = $('option:selected', '#grant-group').val();
        var group_permission = $('option:selected', '#grant-group-permission').val();
        grant_group_permission(group_id, group_permission);
    });
    $('.remove-user-permission-button').click(function(event) {
        var item_id = $(this).data('item-id');
        permission_remove_item(item_id);
    });
    $('.remove-group-permission-button').click(function(event) {
        var item_id = $(this).data('item-id');
        permission_remove_item(item_id);
    });
  });
</script>
{% endblock %}
