<div class="clearfix pull-left">
    <div class="branches dropdown">
        <a href="javascript:void" data-toggle="dropdown" class="dropdown-toggle btn btn-mini">
        <span class="dropdown-toggle-inner">
            <span class="branch">{%if is_branch%}Branch:{%elif is_tag%}Tag:{%elif is_commit%}Commit:{%endif%}</span>
            <span class="branch-name">{{refs}}</span>
            <i class="icon-caret-down"></i>
        </span>
        </a>
        <nav class="dropdown-menu">
            <ul class="nav nav-list">
            <!--TODO Need divider for branch and tag split line -->
            <!--TODO icon-ok goto right pull-right -->
            {% for branch in refs_meta.branches %}
                <li{%if branch == refs %} class="active"{%endif%}>
                    <a href="/{{user_name}}/{{repo_name}}/{%if current == 'index' or current == 'tree' or current == 'blob' %}tree{%endif%}{%if current == 'commits' %}commits{%endif%}{%if current == 'refs_graph' %}refs/graph{%endif%}/{{branch}}/">{%if branch == refs %}<i class="icon-ok"></i>{%endif%}<span>{{branch}}</span></a>
                </li>
            {% endfor %}
            {% if refs_meta.tags|length > 0 %}
                <li class="divider"></li>
            {% endif %}
            {% for tag in refs_meta.tags %}
                <li{%if tag == refs %} class="active"{%endif%}>
                    <a href="/{{user_name}}/{{repo_name}}/{%if current == 'index' or current == 'tree' or current == 'blob' %}tree{%endif%}{%if current == 'commits' %}commits{%endif%}{%if current == 'refs_graph' %}refs/graph{%endif%}/{{tag}}/">{%if tag == refs %}<i class="icon-ok"></i>{%endif%}<span>{{tag}}</span></a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
    <span class="current-branch-name">
        <a href="/{{user_name}}/{{repo_name}}/{%if current == 'index' or current == 'tree' or current == 'blob' %}tree{%endif%}{%if current == 'commits' %}commits{%endif%}{%if current == 'refs_graph' %}refs/graph{%endif%}/{{refs}}/">{{repo_name}}</a>
        /
        <span id="repo-path"></span>
    </span>
</div>
