{% extends "repo/repo.html" %}

{% block bubble_inner_class_name %} cloner{% endblock %}

{% block bubbleheader %}

{% endblock %}

{% block subcontainer %}

		{%for fork_repos in fork_repos_tree%}
			{%for fork_repo in fork_repos%}
				<div class="user-plugin repo-{{forloop.parentloop.counter}}">
					<figure class="avatar">
						<img src="https://gravatar.com/avatar/{{fork_repo.imgurl}}?s=80" alt="{{ gsuser.username }}">
					</figure>
					<div class="info">
						<p class="name">
							<a class="c_img_{{forloop.parentloop.counter}}" href="/{{fork_repo.username}}/">{{fork_repo.username}}</a>
						</p>
						<p class="meta extra-info" title="{{fork_repo.desc}}">{{fork_repo.desc}}</p>
					</div>
				</div>
			{%endfor%}
		{%endfor%}

		{% if watch_users %}
			<div class="watchers">
			{%for watch_user in watch_users%}
				<div class="member">
					<div class="user-plugin">
						<figure class="avatar">
							<img src="https://gravatar.com/avatar/{{ watch_user.imgurl }}?s=80" alt="{{ gsuser.username }}">
						</figure>
						<div class="info">
							<p class="name">
								<a href="/{{watch_user.username}}/">{{watch_user.username}}</a>
								{%if watch_user.nickname%}
									<span>({{watch_user.nickname}})</span>
								{%endif%}
							</p>
							<p class="meta">
								{%if watch_user.tweet%}
									<span class="tweet" title="{{watch_user.tweet}}">{{watch_user.tweet|truncatechars:20}}</span>
								{%endif%}
							</p>
						</div>
					</div>
				</div>
			{%endfor%}
			</div>
		{% else %}
			<p class="info text-error">还没有任何关注用户.</p>
		{% endif %}

{% endblock %}

{% block subjs %}
	<script>
		$(function(){

			$('.actions').tooltip({
				selector: "a[rel=tooltip]"
			});

			var bubbleLeftColHeight = $('.bubble-col:eq(0)').height(), bubbleRightColHeight = $('.bubble-col:eq(1)').height();
			var bubbleInnerHeight = (bubbleLeftColHeight < bubbleRightColHeight) ? bubbleRightColHeight : bubbleLeftColHeight;

			$('.bubble-col > .bubble-inner').height(bubbleInnerHeight);

		});
	</script>
{% endblock %}
