{% extends "repo/repo.html" %}
{% block subcontainer %}
<style>
.table-striped td { border-top: 0px; font-size: 16px}
.c_tr_1 {border-left: 5px solid #0074CC}
.c_img_1 {margin-left: 5px}
.c_tr_2 {border-left: 10px solid #5BB75B}
.c_img_2 {margin-left: 10px}
.c_tr_3 {border-left: 15px solid #DA4F49}
.c_img_3 {margin-left: 15px}
</style>
<div class="span6">
    <div class="page-header" style="margin-top: 0px; margin-bottom: 10px;padding-bottom: 8px">
        <h4>衍生仓库树<small>
        <span style="color: #0074CC">▐ 父仓库</span>
        <span style="color: #5BB75B">▐ 本仓库</span>
        <span style="color: #DA4F49">▐ 子仓库</span>
        </small></h4>
    </div>
    <div>
        <table class="table table-striped">
        {%for fork_repos in fork_repos_tree%}
            {%for fork_repo in fork_repos%}
                <tr class="c_tr_{{forloop.parentloop.counter}}"><td>
                <a class="c_img_{{forloop.parentloop.counter}}" href="/{{fork_repo.username}}/"><img class="avatar" src="https://gravatar.com/avatar/{{fork_repo.imgurl}}?s=32"/></a>
                <a style="margin-left: 5px" href="/{{fork_repo.username}}/{{fork_repo.name}}/">{{fork_repo.username}}</a>
                <span>{{fork_repo.desc}}</span>
                <a href="javascript:void(0)" style="margin-right: 5px" rel="tooltip" data-original-title="commit {{ fork_repo.commit }}次数">♯ {{ fork_repo.commit }}</a>
                <a href="javascript:void(0)" style="margin-right: 5px" rel="tooltip" data-original-title="watch {{ fork_repo.watch }}次数">♥ {{ fork_repo.watch }}</a>
                <a href="javascript:void(0)" style="margin-right: 5px" rel="tooltip" data-original-title="fork {{ fork_repo.fork }}次数">♂ {{ fork_repo.fork }}</a></span></h3>
                </td></tr>
            {%endfor%}
        {%endfor%}
	    </table>
    </div>
</div>
<div class="span5">
    <div class="page-header" style="margin-top: 0px; margin-bottom: 10px;padding-bottom: 8px">
        <h4>关注此仓库用户</h4>
    </div>
    <div>
        <table class="table table-striped">
        {%for watch_user in watch_users%}
            <tr class="c_tr"><td>
                <a href="/{{watch_user.username}}/"><img class="avatar" src="https://gravatar.com/avatar/{{ watch_user.imgurl }}?s=32"/></a>
                <a style="margin-left: 5px" href="/{{watch_user.username}}/">{{watch_user.username}}</a>
                {%if watch_user.nickname%}
                    <span>({{watch_user.nickname}})</span>
                {%endif%}
                <span style="font-size: 12px" class="muted">
                    {{watch_user.tweet}}
                    加入：<span class="c_unixtime">{{watch_user.date_joined}}</span>
                    最近登录：<span class="c_unixtime">{{watch_user.last_login}}</span>
                </span>
            </td></tr>
        {%endfor%}
	    </table>
    </div>
</div>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    $('.table').tooltip({
      selector: "a[rel=tooltip]"
    })
});
</script>
{% endblock %}
