{% extends "repo/repo.html" %}
{% block subcontainer %}
<!--TODO css for diff -->
<style>
.repo-refs { border: 1px solid #D4D4D4; padding: 10px }    
.margin-left-10 { margin-left: 10px }
.c_diff_stat_filename { font-size: 15px; font-weight: 600 }
.c_diff_file_filename { margin: 10px; font-size: 18px; font-weight: 800 }
.c_add_line { background-color: #cfc; }
.c_remove_line { background-color: #fdd; }
</style>
<div>
    <h4 style="margin: 10px"><a href="/{{user_name}}/{{repo_name}}/compare/master/">{{repo_name}}</a> /
        <span id="i_repo_path"></span>
        <span>分支比较</span>
        {% if is_repo_member %}
        <div id="i_merge_pullrequest" class="pull-right hide">
            <a id="i_merge" class="muted" data-original-title=" 直接合并分支代码" rel="tooltip" href="javascript: void(0)"><button type="button" class="btn btn-success">合并分支代码</button></a>
            <a class="muted" data-original-title=" 出于礼貌，提前合并目标分支代码，减少对方合并时出现冲突的可能性" rel="tooltip" href="/{{user_name}}/{{repo_name}}/pull/new/{{user_name}}:{{from_refs}}...{{user_name}}:{{to_refs}}/"><button type="button" class="btn btn-primary">创建合并请求</button></a>
        </div>
        {% endif %}
    </h4>
    <!--compare-->
    <div class="row" style="margin-top: 20px">
        <div class="span10">
            <div class="span4 repo-refs">
                <span>分支：</span>
                <select id="id_source_refs" class="span3">
                    {% for branch in refs_meta.branches %}
                    <option value="{{ branch }}" {%if branch == from_refs %} selected="selected" {%endif%}>{{ branch }}</option>
                    {% endfor %}
                    {% if from_refs not in refs_meta.branches%}
                    <option value="{{ from_refs }}" selected="selected">{{ from_refs }}</option>
                    {% endif %}
                </select>
            </div>
            <div class="span0">
                <i class="icon-random"></i>
            </div>
            <div class="span4 repo-refs">
                <span>分支：</span>
                <select id="id_desc_refs" class="span3">
                    {% for branch in refs_meta.branches %}
                    <option value="{{ branch }}" {%if branch == to_refs %} selected="selected" {%endif%}>{{ branch }}</option>
                    {% endfor %}
                    {% if to_refs not in refs_meta.branches%}
                    <option value="{{ to_refs }}" selected="selected">{{ to_refs }}</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
</div>		  
<div id="i_commits_diff" class="span10" style="margin-top: 20px"></div>
<div id="i_merge_result" class="span10 hide" style="margin-top: 20px">
    <pre id="i_merge_output" class="shell" style="margin-bottom: 15px"></pre>
    <a id="i_merge_after" href="/{{user_name}}/{{repo_name}}/refs/graph/{{to_refs}}/"><button class="btn btn-primary pull-right">确定</button></a>
</div>

{% endblock %}
{% block subjs %}
<script src='/static/js/app/syntaxhighlighter/shCore.js' type='text/javascript'></script>
<script src='/static/js/app/syntaxhighlighter/shAutoloader.js' type='text/javascript'></script>
<script src='/static/js/app/syntaxhighlighter/shBrushDiff.js' type='text/javascript'></script>
<script>
$(function(){
    var global_repo_branch_map = {};
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    $('#i_merge_pullrequest').tooltip({
      selector: "a[rel=tooltip]"
    });
    $('#id_source_refs, #id_desc_refs').change(function(){
        var source_refs = $('#id_source_refs').attr('value');
        var desc_refs = $('#id_desc_refs').attr('value');
        window.location.href = '/{{ user_name }}/{{ repo_name }}/compare/' + source_refs + '...' + desc_refs + '/';
    });
    var repoComparer = new RepoComparer('{{user_name}}', '{{repo_name}}', '{{to_refs}}', '{{from_refs}}');
    repoComparer.renderCompare($('#i_commits_diff'), function(json){
        if(json.allow_merge) {
            $('#i_merge_pullrequest').show();
        }
    });
    $('#i_merge').click(function(){
        $('#i_commits_diff').hide();
        $('#i_merge_result').show();
        $('#i_merge_output').show();
        var i = 0;
        var interval = setInterval(function() {
            i = i + 1;
            var j = i % 4;
            var html = '&gt; 正在进行 Merge，请耐心等候'
            for (var k = 0; k < j; k++) {
                html = html + '.'
            }
            $('#i_merge_output').html(html);
        }, 500);
        $('html, body').animate({ scrollTop: 0 }, 'fast');
        $.post('/{{user_name}}/{{repo_name}}/merge/{{from_refs}}...{{to_refs}}/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            if(json.result == 'success') {
                clearInterval(interval);
                $('#i_merge_output').html(json.output);
                if(json.returncode != 0) {
                    $('#i_merge_after').attr('href', '/{{user_name}}/{{repo_name}}/compare/{{from_refs}}...{{to_refs}}/');
                    $('#i_merge_after > button').removeClass('btn-primary').addClass('btn-danger').text('合并失败，请检查是否 存在冲突 或者 non-fast-forward');
                }
                $('#i_merge_after').show();
            }
        });
        return false;
    });
})
</script>
{% endblock %}


