{% extends "repo/settings_base.html" %}
{% block settingcontainer %}
    <div class="delete" id="repoDestroy">
      <h3 class="heading">删除仓库</h3>
      <p class="alert alert-danger"><i class="icon-exclamation-sign"></i>你正在删除仓库 <em>{{repo_name}}</em>, 这是<em>不可恢复</em>的操作</p>
      <dl class="notice">
        <dt class="leader">删除仓库之前最好想到以下问题:</dt>
        <dd class="well">对应数据是否备份<br>是否要通知相关的合作者<br>相关的仓库成员组织，问题，文档都将不见<br></dd>
      </dl>
      <form method="POST">
        {% csrf_token %} 
        <input class="btn btn-large btn-danger" type="submit" value="确定删除">
      </form>
    </div>
{% endblock %}
