{% extends "base.html" %}
{% block css %}
<style>
#id_captcha_1 {display:block;margin-top:10px;}
</style>
{% endblock %}
{% block container %}
<div class="page-header">
        <h1>:-), 
        {% if rid == '0' %}
        创建仓库
        {% else %}
        编辑仓库
        {% endif %}
        <small>提交代码需要<a href="/settings/sshpubkey/">设置SSH公钥</a></small></h1>
</div>
<div class="row">
    <div class="span7">
        {% if thirdpartyUser and thirdpartyUser.init == 0 %}
        <div class="alert alert-error">
            <p>来自 GitHub 的用户，我们尝试导入您 GitHub 账户的用户名和邮箱信息，</p><p>不过看来一些信息已经存在了，所以我们随机生成用户名或者邮箱。</p>
            <p>在这里，强烈推荐您通过这里 -&gt; <a href="/settings/change_username_email/"><button class="btn btn-danger btn-small">修改用户名或者邮箱。</button></a></p>
        </div>
        {% else %}
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label for="id_name" class="control-label">仓库名称</label>
                    <div class="controls">
                        {{ repoForm.name }}
                    </div>
                </div>
                <div class="control-group">
                    <label for="id_desc" class="control-label">简介</label>
                    <div class="controls">
                        {{ repoForm.desc }}
                    </div>
                </div>
                <div class="control-group">
                    <label for="id_lang" class="control-label">语言选择</label>
                    <div class="controls">
                        {{ repoForm.lang }}
                    </div>
                </div>
                <div id="id_other_lang_group" class="control-group" style="display: none">
                    <label for="id_other_lang" class="control-label">其他语言</label>
                    <div class="controls">
                        <input type="text" maxlength="16" value="" name="other_lang" id="id_other_lang" class="input-xlarge" placeholder="哇！难道你发明了新的语言:-)">
                    </div>
                </div>
                <div class="control-group">
                    <label for="id_auth_type" class="control-label">可见度</label>
                    <div class="controls">
                        {{ repoForm.auth_type }}
                    </div>
                </div>
                <div id="id_error" class="alert {% if not error %}hide{% endif %}">
                    <a data-dismiss="alert" class="close">×</a>
                    <strong>出错了！</strong> <span id="id_error_message">{{ error }}</span>
                </div>
                <div class="form-actions">
                    <button id="id_edit_submit" class="btn btn-primary" type="submit">确定</button>
                </div>
                <span class="muted">公开：包括源代码公开；半公开：除了源代码之外公开；私有：对外不公开</span>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/md5.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var edit_init = function() {
        $('#id_name').addClass('input-xlarge');
        $('#id_desc').addClass('input-xlarge');
        $('#id_lang').addClass('input-xlarge');
        {% if rid == '0' %}
            $('#id_name').attr('placeholder', '必填，[A-Za-z0-9_]');
        {% else %}
            $('#id_name').attr('readonly', 'readonly');
        {% endif %}
        $('#id_desc').attr('placeholder', '必填，提供什么功能，解决什么问题');
    },
    change_other_lang = function() {
        if($('#id_lang option:selected').val() == 'other') {
            $('#id_other_lang_group').show();
        } else {
            $('#id_other_lang_group').hide();
        }
    };
    $('#id_lang').click(change_other_lang);
    edit_init();
    $('#id_edit_submit').click(function() {
        var error_messages = [];
        if($('#id_name').val() == '' || !$('#id_name').val().match(/[A-Za-z0-9_]+/g)) {
            error_messages.push('仓库名不能为空，只能是[A-Za-z0-9_]以内的字符');
        }
        if($('#id_desc').val() == '') {
            error_messages.push('介绍内容不能为空');
        }
        if(error_messages.length != 0) {
            $('#id_error_message').html(error_messages.join('， '));
            $('#id_error').show();
            return false;
        }
        return true;
    });
});
</script>
{% endblock %}
