{% extends "base.html" %}

{% block container %}

<div class="code">
	<div class="page-header">
	  <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">社会贡献项目</a> <span class="divider">/</span></li>
        <li class="active">关爱生命网站</li>
		</ul>
	</div>

	<div class="row">
		<div class="span12">
		
	  <ul class="nav nav-tabs">
        <li class="active"><a href="#">文件列表</a></li>
        <li><a href="#">提交信息</a></li>
        <li><a href="#">分支</a></li>
		</ul>
	<div class="file-list">
	  <ul class="breadcrumb">
        <li><a href="#">社会贡献项目</a> <span class="divider">/</span></li>
        <li><i class="icon-folder-open"></i> <a href="/warehouse">关爱生命网站</a> <span class="divider">/</span></li>
		<li><i class="icon-folder-open"></i> <a href="/folder">img</a> <span class="divider">/</span></li>
		<li class="active"><i class="icon-file"></i> <a href="#">base.css</a></li>
      </ul>
<div class="file-header">
	<div class="file-info">
		<i class="icon-file"></i>版本号: 10887 <span class="divider">|</span> 1899 行 <span class="divider">|</span> 45KB
	</div>
	<div class="file-option">
		<button class="btn btn-mini">Raw</button>
		<button class="btn btn-mini">历史</button>
	</div>
</div>	  
<pre class="prettyprint lang-css linenums">
.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding: 10px;
}
.footer p {
    color: #555555;
    margin-bottom: 0;
	line-height:1.5em
}
.wmd-panel
{
    width: 30%;
    min-width: 400px;
    margin-bottom: 10px;
}
.wmd-button-bar 
{
    width: 100%;
    background-color: Silver; 
}
.wmd-input 
{ 
    padding: 8px;
    height: 250px;
    width: 100%;
    background-color: Gainsboro;
    border: 1px solid Gray;
}
.wmd-preview 
{ 
    padding: 8px;
    border: 3px dashed #CCCCCC;
    min-height: 100px;
}
.wmd-button-row 
{
    position: relative; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;  
    height: 20px;
}
.wmd-spacer
{
    width: 1px; 
    height: 20px; 
    margin-left: 14px;
    
    position: absolute;
    background-color: Silver;
    display: inline-block; 
    list-style: none;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.wmd-button > span {
    background-image: url(/static/img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}
.wmd-prompt-background
{
    background-color: Black;
}
.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}
.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}
.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}
.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

/* << user info */
#id_user_detail dt,#id_user_detail dd{line-height:1.8em}
#id_user_detail .badge{font-size:8px;padding:2px;margin-right:1px;  border-radius: 3px 3px 3px 3px;}
/* user info >> */

.get-file-option .btn-group{float:right}
.file-list .breadcrumb{background:none;border:0}
.file-header{
    background-color: #EEEEEE;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    margin-top: 18px;
	overflow:hidden;
	padding:5px 0
}
.file-info{float:left;width:60%;text-indent:5px}
.file-info .divider{color:#999}
.file-option{float:right;width:30%;text-align:right;margin-right:5px}
</pre>
		</div>		  
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script>
/*global jQuery, window */
$(function(){ 
    // make code pretty
    window.prettyPrint && prettyPrint();
});
</script>
{% endblock %}
