{% extends "repo/repo.html" %}
{% block subcontainer %}
<style type="text/css">
#id_content { height: 200px; width: 600px; }
#i_issue_comments td { border-top: 0px; }
.issues_attr { margin: 3px }
.issues_attr_hovered { border: dashed 2px #cccccc ; padding: 2px}
pre { border: 0px; background-color: transparent; }
</style>
    <div id="id_issues_condition" style="display:none" class="span8">
        {%include "repo/condition.html"%}
    </div>
    <div class="span8">
        <div class="c_issue page-header" style="margin-top: 0px; margin-bottom: 10px;padding-bottom: 8px">
            <h3 id="i_issue_subject">
            <a id="i_issue_edit" style="font-weight: normal; font-size: 12px; display: none" class="muted pull-right" href="/{{user_name}}/{{repo_name}}/issues/create/{{issue.id}}/">修改</a>
            <a href="" style="margin-right: 0px" rel="tooltip" data-original-title="可拖动到上面"><img class="c_drag_setting" value="{{issue.id}}" src="/static/img/glyphicons_019_cogwheel.png"/></a>
            <a href="/{{user_name}}/{{repo_name}}/issues/{{issue.id}}/">#{{issue.id}} {{issue.subject}}</a>
            </h3>
        </div>
        <div style="margin-bottom: 10px;"><pre>{{issue.content}}</pre></div>
        <div class="pull-right" style="margin-bottom: 10px">
            <span class="muted" style="margin-right: 20px">分配给 <a href="/{{issue.assigned}}/">{{issue.assigned}}</a> {{issue.tracker}} {{issue.status}} {{issue.priority}}</span>
            by <a href="/{{issue.user_id}}/">{{issue.user_id}}</a>
            <span class="c_unixtime">{{issue.modify_time}}</span>
            <span>类别：{{issue.category}}</span>
        </div>
        <br/>
        {%if issue_comments%}
	    <table id="i_issue_comments" class="table table-striped">
            {%for issue_comment in issue_comments%}
			    <tr class="c_td_comment">
                    <td>
                        <img style="float:left;display:block" src="http://www.gravatar.com/avatar/{{ issue_comment.user_img }}?s=32"/>
                        <div style="margin-left:40px">
                            <div class="pull-right">
                                <a style="display: none" class="c_rm_comment" value="{{raw_issue_comment.id}}" href="javascript:void(0)"> x </a>
                                <button style="display: none" value="{{issue_comment.id}}" class="c_rm_rf_comment btn btn-mini btn-danger">确定删除该评论？</button>
                            </div>
                            <a href="/{{issue_comment.user_id}}/">{{issue_comment.user_id}}</a> - <span class="c_unixtime muted">{{issue_comment.create_time}}</span> - <a class="c_ref_comment muted" href="javascript:void(0)" value="{{issue_comment.user_id}}">回复</a></a>
                            <pre>{{issue_comment.content}}</pre>
                        </div>
                    </td>
                </tr>
            {%endfor%}
        </table>
        {%endif%}
        {%if total_page|length > 1%}
        <div class="pagination pagination-right">
            <ul>
                {%for i in total_page%}
                    {%if i == page%}
                        <li class="active"><a href="/{{user_name}}/{{repo_name}}/issues/{{issue.id}}/{{i}}/">{{i}}</a></li>
                    {%else%}
                        <li><a href="/{{user_name}}/{{repo_name}}/issues/{{issue.id}}/{{i}}/">{{i}}</a></li>
                    {%endif%}
                {%endfor%}
            </ul>
        </div>
        {%endif%}
        <form id="i_comment" class="form-inline" action="" method="post">
            {% csrf_token %}
            <div id="i_comment_content" style="margin-bottom: 10px; display: none">
                {{repoIssuesCommentForm.content}}
            </div>
            <button id="i_submit" style="margin-right: 0px;" class="btn btn-primary" type="submit">发表评论</button>
            <small class="muted">不可修改，严谨发言</small>
        </form>
    </div>
{% endblock %}
{% block subjs %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script>
$(function(){
    $('#i_issue_subject').live('mouseover mouseout', function(event) {
        if (event.type == 'mouseover') {
            $('#i_issue_edit').show();
        } else {
            $('#i_issue_edit').hide();
        }
    });
    $('.c_td_comment').live('mouseover mouseout', function(event) {
        if (event.type == 'mouseover') {
            $(this).find('.c_rm_comment').show();
        } else {
            $(this).find('.c_rm_comment').hide();
        }
    });
    $('.c_drag_setting').mouseover(function() {
        $('.c_create_issues_btn').hide();
        $('#id_issues_condition').show();
    });
    $('.c_rm_rf_comment').click(function(){
        var comment_id = $(this).attr('value');
        $.ajax({
            url: '/ajax/repo/{{user_name}}/{{repo_name}}/issues/comment/delete/' + comment_id + '/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            timeout: 10000,
            error: function(){
            },
            success: function(json){
                window.location = '/{{user_name}}/{{repo_name}}/issues/{{issue.id}}/{{page}}/'
            },
        });
    });
    $('.c_rm_rf_comment').blur(function(){
        $(this).hide();
    });
    $('.c_rm_comment').click(function(){
        $(this).next().show();
        $(this).next().focus();
    });
    $('#i_submit').mouseover(function(){
        $('#i_comment_content').show();
        $('#id_content').focus();
    });
    $('#i_submit').click(function(){
        if($('#id_content').val() != '') {
            $(this).submit();
            return true;
        }
        return false;
    });
    $('.c_ref_comment').click(function(){
        var ref_username = $(this).attr('value');
        $('#id_content').val($('#id_content').val() + ' @' + ref_username + ' ');
        $('#i_comment_content').show();
        $('#id_content').focus();
        var val = $('#id_content').val();
        $('#id_content').val('')
        $('#id_content').val(val)
    });
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    $('.c_issue').tooltip({
      selector: "a[rel=tooltip]"
    })
    $('.c_drag_setting').draggable({
        cursor: 'move',
        revert: true
    });
    $('.issues_attr').droppable({
        accept: '.c_drag_setting',
        hoverClass: 'issues_attr_hovered',
        drop: handleIssueDrop,
    });
    function handleIssueDrop(event, ui){
        var issue_id = ui.draggable.attr('value');
        var issue_attr = $(this).attr('value');
        $.ajax({
            url: '/ajax/repo/{{user_name}}/{{repo_name}}/issues/update/' + {{issue.id}} + '/' + issue_attr + '/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            timeout: 10000,
            error: function(){
            },
            success: function(json){
                window.location = '/{{user_name}}/{{repo_name}}/issues/{{issue.id}}/{{page}}/'
            },
        });
    }
});
</script>
{% endblock %}
