{% extends "repo/repo.html" %}
{% block subcontainer %}
<style type="text/css">
#id_content { height: 200px; width: 600px; }
#i_issue_comments td { border-top: 0px; }
#i_issue_comments pre { border: 0px; background-color: transparent; }
</style>
    <div class="span8">
        <div class="page-header" style="margin-bottom: 10px;padding-bottom: 5px">
            <h3>#{{issue.id}} {{issue.subject}}
            <small>
            </small>
            </h3>
        </div>
        <div style="margin-bottom: 10px;">{{issue.content}}</div>
        <div class="pull-right" style="margin-bottom: 10px">
            <span class="muted" style="margin-right: 20px">分配给 <a href="/{{issue.assigned}}/">{{issue.assigned}}</a> {{issue.tracker}} {{issue.status}} {{issue.priority}}</span>
            by <a href="/{{issue.user_id}}/">{{issue.user_id}}</a>
            <span class="c_unixtime">{{issue.modify_time}}</span>
            类别：{{issue.category}}
        </div>
        <br/>
        {%if issue_comments%}
	    <table id="i_issue_comments" class="table table-striped">
            {%for issue_comment in issue_comments%}
			    <tr>
                    <td>
                        <img style="float:left;display:block" src="http://www.gravatar.com/avatar/{{ issue_comment.user_img }}?s=32"/>
                        <div style="margin-left:40px">
                            <a href="/{{issue_comment.user_id}}/">{{issue_comment.user_id}}</a> - <span class="c_unixtime muted">{{issue_comment.create_time}}</span> - <a class="c_ref_comment muted" href="javascript:void(0)" value="{{issue_comment.user_id}}">回复</a></a>
                            <pre>{{issue_comment.content}}</pre>
                        </div>
                    </td>
                </tr>
            {%endfor%}
        </table>
        {%endif%}
        <div class="pagination pagination-right">
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
        <form id="i_comment" class="form-inline" action="" method="post">
            {% csrf_token %}
            <div id="i_comment_content" style="margin-bottom: 10px; display: none">
                {{repoIssuesCommentForm.content}}
            </div>
            <button id="i_submit" style="margin-right: 0px;" class="btn btn-primary" type="submit">发表评论</button>
            <small class="muted">不可修改，严谨发言</small>
        </form>
    </div>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $('#i_submit').mouseover(function(){
        $('#i_comment_content').show();
        $('#id_content').focus();
    });
    $('#i_submit').click(function(){
        if($('#id_content').val() != '') {
            $(this).submit();
            return true;
        }
        return false;
    });
    $('.c_ref_comment').click(function(){
        var ref_username = $(this).attr('value');
        $('#id_content').val($('#id_content').val() + ' @' + ref_username + ' ');
        $('#i_comment_content').show();
        $('#id_content').focus();
        var val = $('#id_content').val();
        $('#id_content').val('')
        $('#id_content').val(val)
    });
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
});
</script>
{% endblock %}
