{% extends "repo/repo.html" %}
{% block subcontainer %}
<div class="issue-form inner bubble">
  <h2 class="heading">创建问题</h2>
  {% if error %}
  <div class="alert">
    <a data-dismiss="alert" class="close"><i class="icon-remove"></i></a>
    <p><strong>出错了！</strong>{{ error }}</p>
  </div>
  {% endif %}
  <form class="form" method="post">
    {% csrf_token %}
    <div class="hide">{{ issueForm.content }}</div>
    <div class="hide">{{ issueForm.subject }}</div>
    <div class="fields">
      <span class="group"><b>分配给</b>{{ issueForm.assigned }}{{ issueForm.tracker }}{{ issueForm.status }}{{ issueForm.priority }}</span><span class="group"><b>类别</b>{{ issueForm.category }}</span>
    </div>
    <div class="fields">
      <textarea name="merge_content" id="mergeContent" placeholder="第一行自动作为标题，简单明了描述问题，标题之后作为内容"></textarea>
    </div>
    <div class="actions">
      <button id="iSubmit" class="btn btn-primary" type="submit">确定</button>
    </div>
  </form>
</div>
{% endblock %}
{% block subjs %}
<script>
  $(function(){
    $('#category').attr('placeholder', '优化，安全...');
    $('#iSubmit').click(function(){
      var line_arr = $('#mergeContent').val().split('\n');
      if($('#mergeContent').val() != '') {
        var subject = line_arr[0];
        line_arr.shift();
        var content = line_arr.join('\n');
        $('#subject').val(subject);
        if(content == '' || content == "\n") {
          content = '无';
        }
        $('#content').val(content);
        if($('#category').val() == '') {
          $('#category').val('无');
        }
        return true;
      }
      return false;
    });
    $('.unixtime').each(function(index){ 
      $(this).html(moment(new Date($(this).html()*1000)).fromNow());
      $(this).show();
    });
  });
</script>
{% endblock %}
