{% extends "repo/repo.html" %}
{% block subcontainer %}
<style>
.issues_attr { margin: 3px }
.issues_attr_hovered { border: dashed 2px #cccccc ; padding: 1px}
</style>
    <div>
        <div class="well" style="padding: 5px; margin: 4px; overflow:hidden">
            <dl class="dl-horizontal" style="margin: 6px">
                <dt style="width: 60px; font-weight: normal">指派给:</dt>
                <dd style="margin-left: 80px">
                {% for iter_assigned in assigneds %}
                    {%if assigned == iter_assigned%}
                        <span class="label label-success">{{iter_assigned}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="assigned:{{iter_assigned}}"><span class="label">{{iter_assigned}}</span></a>
                    {%endif%}
                {% endfor %}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 6px">
                <dt style="width: 60px; font-weight: normal">跟踪:</dt>
                <dd style="margin-left: 80px">
                {%for iter_tracker in TRACKERS%}
                    {%if tracker == iter_tracker.value%}
                        <span class="label label-success">{{iter_tracker.name}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="tracker:{{iter_tracker.value}}"><span class="label">{{iter_tracker.name}}</span></a>
                    {%endif%}
                {%endfor%}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 6px">
                <dt style="width: 60px; font-weight: normal">状态:</dt>
                <dd style="margin-left: 80px">
                {%for iter_status in STATUSES%}
                    {%if status == iter_status.value%}
                        <span class="label label-success">{{iter_status.name}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="status:{{iter_status.value}}"><span class="label">{{iter_status.name}}</span></a>
                    {%endif%}
                {%endfor%}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 6px">
                <dt style="width: 60px; font-weight: normal">优先级:</dt>
                <dd style="margin-left: 80px">
                {%for iter_priority in PRIORITIES%}
                    {%if priority == iter_priority.value%}
                        <span class="label label-success">{{iter_priority.name}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="priority:{{iter_priority.value}}"><span class="label">{{iter_priority.name}}</span></a>
                    {%endif%}
                {%endfor%}
                </dd>
            </dl>
            <a style="margin-top:-30px;margin-right:3px" href="/{{user_name}}/{{repo_name}}/issues/create/0/" class="btn pull-right">创建 issues</a>
        </div>
    </div>
	<table class="table table-striped">
			<thead class="fixed">
			  <tr>
				<th class="span6">主题</th>
				<th>跟踪</th>
				<th>状态</th>
				<th>指派给</th>
				<th>优先级</th>
				<th>类别</th>
				<th>
                {%if orderby == 'create_time'%}
                    <a id="i_modify_time" href="javascript:void(0)">更新</a>
                {%else%}
                    更新
                {%endif%}
                |
                {%if orderby == 'modify_time'%}
                    <a id="i_create_time" href="javascript:void(0)">创建</a>
                {%else%}
                    创建
                {%endif%}
                </th>
			  </tr>
			</thead>
			<tbody>
                {% for issue in issues %}
			    <tr>
				    <td class="c_issue">
                    <a href="" style="margin-right: 0px" rel="tooltip" data-original-title="可拖动到上面"><img class="c_drag_setting" value="{{issue.id}}" src="/static/img/glyphicons_019_cogwheel.png"/></a>
                    <a href="/{{user_name}}/{{repo_name}}/issues/{{issue.id}}/">#{{issue.id}} {{issue.subject}}</a> [<a href="/{{issue.user_id}}/">{{issue.user_id}}</a>]</td>
				    <td>{{issue.tracker}}</td>
				    <td>{{issue.status}}</td>
				    <td><a href="/{{issue.assigned}}/">{{issue.assigned}}</a></td>
				    <td>{{issue.priority}}</td>
				    <td>{{issue.category}}</td>
				    <td class="c_unixtime">{{issue.create_time}}</td>
			    </tr>
                {% endfor %}
			</tbody>
	</table>
    <ul class="pager pull-right">
        {%if hasPre%}
            <li><a id="i_index_page" href="javascript:void(0)">首页</a></li>
            <li><a id="i_pre_page" href="javascript:void(0)">前一页</a></li>
        {%endif%}
        {%if hasPre or hasNext%}
            <li style="padding-left: 6px;padding-right: 6px"> 第{{page}}页 </li>
        {%endif%}
        {%if hasNext%}
            <li><a id="i_next_page" href="javascript:void(0)">后一页</a></li>
        {%endif%}
      </ul>
{% endblock %}
{% block subjs %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script>
$(function(){
    var current_attrs = {{current_attrs|safe}};
    $('#i_index_page').click(function(){ 
        current_attrs['page'] = 0;
        location_cons()
    });
    $('#i_pre_page').click(function(){ 
        current_attrs['page'] = current_attrs['page'] - 1;
        location_cons()
    });
    $('#i_next_page').click(function(){ 
        current_attrs['page'] = current_attrs['page'] + 1;
        location_cons()
    });
    $('#i_create_time').click(function(){ 
        current_attrs['orderby'] = 'create_time';
        location_cons()
    });
    $('#i_modify_time').click(function(){ 
        current_attrs['orderby'] = 'modify_time';
        location_cons()
    });
    $('.issues_attr').click(function(){ 
        var keyValue = $(this).attr('value').split(":")
        current_attrs[keyValue[0]] = keyValue[1];
        location_cons()
    });
    location_cons = function() {
        window.location = "/{{user_name}}/{{repo_name}}/issues/list/"+ current_attrs['assigned'] +"/"+ current_attrs['tracker'] +"/"+ current_attrs['status'] +"/"+ current_attrs['priority'] +"/"+ current_attrs['orderby'] +"/"+ current_attrs['page'] +"/";
    }
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    $('.c_issue').tooltip({
      selector: "a[rel=tooltip]"
    })
    $('.c_drag_setting').draggable({
        cursor: 'move',
        revert: true
    });
    $('.issues_attr').droppable({
        accept: '.c_drag_setting',
        hoverClass: 'issues_attr_hovered',
        drop: handleIssueDrop
    });
    function handleIssueDrop(event, ui){
        var issue_id = $(this).attr('value');
        var issue_attr = ui.draggable.attr('value');
        // TODO and reload
        alert(issue_id + ' ' + issue_attr);
        location_cons()
    }
});
</script>
{% endblock %}
