{% extends "repo/repo.html" %}

{% block bubble_inner_class_name %} issues{% endblock %}

{% block subcontainer %}
    <header class="header">
        <h1 class="heading">创建issue</h1>
        <p>创建issues是一件认真的事情，提交前请检查</small></p>
    </header>
    <form class="create-issue form-inline" action="" method="post">
        {% csrf_token %}
        <div class="fields">
            <span class="label-assign">分配给</span>
            {{ repoIssuesForm.assigned }}
            {{ repoIssuesForm.tracker }}
            {{ repoIssuesForm.status }}
            {{ repoIssuesForm.priority }}
            <span class="label-category">类别</span>
            {{ repoIssuesForm.category }}
        </div>
        <textarea maxlength="1024" name="merge_content" id="id_merge_content" placeholder="第一行自动作为标题，简单明了描述问题，标题之后作为内容"></textarea>

        {% if errors %}
            <p class="alert"><strong>出错了!</strong> {{ error }}</p>
        {% endif %}

        <div class="actions">
            <button id="i_submit" class="btn btn-primary" type="submit">确定</button>
            {% if has_issues_modify %}
                <button id="i_delete" class="btn btn-primary btn-danger">删除</button>
            {% endif %}
        </div>
        <div class="hide">
            {{ repoIssuesForm.content }}
            {{ repoIssuesForm.subject }}
        </div>
    </form>
{% endblock %}

{% block subjs %}
<script>
$(function(){
    $('#id_merge_content').val('');
    var subject = $('#id_subject').val();
    var content = $('#id_content').val();
    if($('#id_subject').val() != '') {
        $('#id_merge_content').val(subject + '\n' + content);
    } else {
        $('#id_merge_content').val(content);
    }
    $('#i_delete').click(function(){
        var text = $(this).text();
        if(text == '删除') {
            $(this).text('确定删除');
        }
        if(text == '确定删除') {
            $.post('/{{user_name}}/{{repo_name}}/issues/delete/{{issue_id}}/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
                window.location = '/{{user_name}}/{{repo_name}}/issues/'
            });
        }
        return false;
    });
    $('#id_category').attr('placeholder', '优化，安全...');
    $('#i_submit').click(function(){
        var line_arr = $('#id_merge_content').val().split('\n');
        if($('#id_merge_content').val() != '') {
            var subject = line_arr[0];
            line_arr.shift();
            var content = line_arr.join('\n');
            $('#id_subject').val(subject);
            if(content == '' || content == "\n") {
                content = '无';
            }
            $('#id_content').val(content);
            if($('#id_category').val() == '') {
                $('#id_category').val('无');
            }
            return true;
        }
        return false;
    });
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
});
</script>
{% endblock %}
