{% extends "repo/repo.html" %}
{% block subcontainer %}
    <div>
        <div class="well" style="padding: 5px; margin: 4px; overflow:hidden">
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">指派给:</dt>
                <dd style="margin-left: 80px">
                {% for iter_assigned in assigneds %}
                    {%if assigned == iter_assigned%}
                        <span class="label label-success">{{iter_assigned}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="assigned:{{iter_assigned}}"><span class="label">{{iter_assigned}}</span></a>
                    {%endif%}
                {% endfor %}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">跟踪:</dt>
                <dd style="margin-left: 80px">
                {%for iter_tracker in TRACKERS%}
                    {%if tracker == iter_tracker.value%}
                        <span class="label label-success">{{iter_tracker.name}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="tracker:{{iter_tracker.value}}"><span class="label">{{iter_tracker.name}}</span></a>
                    {%endif%}
                {%endfor%}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">状态:</dt>
                <dd style="margin-left: 80px">
                {%for iter_status in STATUSES%}
                    {%if status == iter_status.value%}
                        <span class="label label-success">{{iter_status.name}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="status:{{iter_status.value}}"><span class="label">{{iter_status.name}}</span></a>
                    {%endif%}
                {%endfor%}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">优先级:</dt>
                <dd style="margin-left: 80px">
                {%for iter_priority in PRIORITIES%}
                    {%if priority == iter_priority.value%}
                        <span class="label label-success">{{iter_priority.name}}</span>
                    {%else%}
                        <a class="issues_attr" href="javascript:void(0)" value="priority:{{iter_priority.value}}"><span class="label">{{iter_priority.name}}</span></a>
                    {%endif%}
                {%endfor%}
                </dd>
            </dl>
            <a style="margin-top:-30px;margin-right:3px" href="/{{user_name}}/{{repo_name}}/issues/create/" class="btn pull-right">创建 issues</a>
        </div>
    </div>
	<table class="table table-striped">
			<thead class="fixed">
			  <tr>
				<th class="span6">主题</th>
				<th>跟踪</th>
				<th>状态</th>
				<th>指派给</th>
				<th>优先级</th>
				<th>类别</th>
				<th>更新时间</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td><a href="">#190 Show deleted wiki pages or wiki files on the activity on the activity</a></td>
				<td>功能</td>
				<td>新</td>
				<td>cloudzhou</td>
				<td>高</td>
				<td>安全</td>
				<td>3个小时前</td>
			  </tr>
			  <tr>
				<td><a href="">#190 Show deleted wiki pages or wiki files on the activity on the activity</a></td>
				<td>功能</td>
				<td>新</td>
				<td>cloudzhou</td>
				<td>高</td>
				<td>安全</td>
				<td>3个小时前</td>
			  </tr>
			</tbody>
	</table>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    var current_attrs = {{current_attrs|safe}};
    $('.issues_attr').click(function(index){ 
        var keyValue = $(this).attr('value').split(":")
        current_attrs[keyValue[0]] = keyValue[1];
        window.location = "/{{user_name}}/{{repo_name}}/issues/list/"+ current_attrs['assigned'] +"/"+ current_attrs['tracker'] +"/"+ current_attrs['status'] +"/"+ current_attrs['priority'] +"/"+ current_attrs['orderby'] +"/"+ current_attrs['page'] +"/";
    });
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
});
</script>
{% endblock %}
