{% extends "repo/repo.html" %}

{% block bubble_inner_class_name %} network{% endblock %}
<!--TODO remove member -->

{% block subcontainer %}
	<header class="header clearfix">
		<h1 class="heading">仓库成员列表</h1>
		<p class="em summary">所有成员对仓库有完全的读写权限</p>
		<div class="extra">
			<a href="#" id="i_add_member" class="btn btn-mini"><i class="icon-plus-sign"></i> 添加新成员</a>
			<form id="id_submit_form" class="form-inline" method="post" action="">
				{% csrf_token %}
				<div id="i_name_input" class="fiels">
					{{repoMemberForm.username}}
					{{repoMemberForm.action}}
					<button type="submit" class="btn btn-success" id="id_submit">添加</button>
				</div>
			</form>
		</div>
	</header>

	<div class="members">
		{%for member_vo in members_vo%}
			<div class="member">
				<div class="user-plugin">
					<figure class="avatar">
						<img src="https://gravatar.com/avatar/{{ member_vo.imgurl }}?s=40" alt="{{ gsuser.username }}">
					</figure>
					<div class="info">
						<p class="name">
							<a href="/{{member_vo.username}}/">{{member_vo.username}}</a>
							{%if member_vo.nickname%}
								<span>({{member_vo.nickname}})</span>
							{%endif%}
							{%if member_vo.tweet%}
								<span class="tweet">{{member_vo.tweet}}</span>
							{%endif%}
						</p>
						<p class="meta">
							<span><i class="icon-time"></i>加入:<span class="unixtime">{{member_vo.date_joined}}</span></span>
							<span class="divider">/</span>
							<span><i class="icon-map-marker"></i>最近登录:<span class="unixtime">{{member_vo.last_login}}</span></span>
						</p>
					</div>
					{% if member_vo.username != user_name %}
						<a href="javascript:void(0)" class="c_rm_member c_rm_rf_member delete-member"><i class="icon-trash"></i></a>
					{% endif %}
				</div>
			</div>
		{%endfor%}
	</div>
{% endblock %}

{% block subjs %}

<script>
$(function(){
    $('#id_action').hide();
		$('#id_submit_form').hide();
    $('#i_add_member').on('click',function(event) {
        $(this).hide();
        $('#id_submit_form').show();
        $('#id_action').val('add_member');
        $('#id_username').focus();
    });
    $('.c_rm_member').click(function(event) {
        $(this).next().show();
        $(this).next().focus();
    });
    $('.c_rm_rf_member').blur(function(event) {
        $(this).hide()
    });
    $('.c_rm_rf_member').click(function(event) {
        $('#id_username').val($(this).attr('value'));
        $('#id_action').val('remove_member');
        $('#id_submit_form').submit()
    });
    $('#id_username').blur(function(event) {
        setTimeout(
            function(event) {
                $('#id_submit_form').hide();
                $('#i_add_member').show();
            }
        , 300);
    });
    $('.c_tr').live('mouseover mouseout', function(event) {
        if (event.type == 'mouseover') {
            $(this).find('.c_rm_member').show();
        } else {
            $(this).find('.c_rm_member').hide();
        }
    });
});
</script>
{% endblock %}
