{% extends "repo/settings_base.html" %}

{% block settingcontainer %}
<div class="hooks inner">
  <div class="header">
    <h1 class="heading">权限控制</h1>
    <a href="javascript:;" id="permissionDescToggler">权限说明</a>
  </div>
  <div id="permissionDesc" class="permission-desc alert alert-info hide">
    <div>FAQ goes here.</div>
  </div>

  <dl class="permission-setting">
    <dt class="leader">全局权限</dt>
    <dd>
        <div class="permission">
          <select class="global-permission-select" name="permission">
            {% for key, value in PERMISSION_VIEW.items %}
              <option value="{{key}}"{%if repoPermission and key == repoPermission.global_permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
          </select>
        </div>
    </dd>



    {% if teamGroups %}
        <dt class="leader">组权限</dt>
        <dd class="well">
            {% if teamGroups_without_grant %}
                <div class="grant-setting">
                    <div class="fields">
                        <label for="grant-group">组名:</label>
                        <select id="grant-group" name="grant-group">
                            {% for teamGroup in teamGroups_without_grant %}
                                <option value="{{teamGroup.id}}">{{teamGroup.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="fields">
                        <label for="grant-group-permission">权限:</label>
                        <select id="grant-group-permission" name="grant-group-permission">
                            {% for key, value in PERMISSION_VIEW.items %}
                              {% if key != 0 %}
                                <option value="{{key}}">{{value}}</option>
                              {% endif %}
                            {% endfor %}
                        </select>
                        <button id="grant-group-button">添加</button>
                    </div>
                </div>
            {% endif %}
            {% if repoPermission %}
              {% if not repoPermission.group_permission_set %}
                <div class="permissions">还没有设置.</div>
              {% else %}
                <div class="permissions">
                  {% for permissionItem in repoPermission.group_permission_set %}
                    <div class="group">
                        <button class="remove-group-permission-button btn btn-mini btn-danger pull-right" data-item-id="{{permissionItem.id}}">&times;</button>
                        <span><img src="/static/img/teamavatar.png" alt=""><a href="/{{ permissionItem.group.name }}/">{{ permissionItem.group.name }}</a></span>
                        <select class="group-permission-select" data-group-id="{{permissionItem.group.id}}" name="permission">
                        {% for key, value in PERMISSION_VIEW.items %}
                          {% if key != 0 %}
                            <option value="{{key}}"{%if key == permissionItem.permission%} selected="selected"{%endif%}>{{value}}</option>
                          {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                  {%endfor%}
                </div>
              {% endif %}
            {% endif %}
        </dd>
    {% endif %}



    <dt class="leader">用户权限</dt>
    <dd class="well">
        {% if memberUsers_without_grant %}
            <div class="grant-setting">
                <div class="fields">
                  <label for="grant-user">用户:</label>
                  <select id="grant-user" name="grant-user">
                    {% for memberUser in memberUsers_without_grant %}
                      <option value="{{memberUser.id}}">{{memberUser.username}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="fields">
                  <label for="grant-user-permission">权限:</label>
                  <select id="grant-user-permission" name="grant-user-permission">
                    {% for key, value in PERMISSION_VIEW.items %}
                      {% if key != 0 %}
                        <option value="{{key}}">{{value}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  <button id="grant-user-button">添加</button>
                </div>
            </div>
        {% endif %}

        {% if repoPermission %}
          {% if not repoPermission.user_permission_set %}
             <div class="permissions">还没有设置.</div>
          {% else %}
             <div class="permissions">
                  {% for permissionItem in repoPermission.user_permission_set %}
                     <div class="group">
                        <button class="remove-user-permission-button btn btn-mini btn-danger pull-right" data-item-id="{{permissionItem.id}}">&times;</button>
                        <span><img src="https://gravatar.com/avatar/{{permissionItem.userprofile.imgurl}}?s=16" alt=""><a href="/{{permissionItem.userprofile.username}}/">{{ permissionItem.userprofile.username }}</a></span>
                        <select class="user-permission-select" data-user-id="{{permissionItem.userprofile.id}}" name="permission">
                        {% for key, value in PERMISSION_VIEW.items %}
                          {% if key != 0 %}
                            <option value="{{key}}"{%if key == permissionItem.permission%} selected="selected"{%endif%}>{{value}}</option>
                          {% endif %}
                        {% endfor %}
                        </select>
                     </div>
                  {%endfor%}
            </div>
          {% endif %}
        {% endif %}
    </dd>
  </dl>

</div>
{% endblock %}

{% block subjs %}
<script>
  $(function(){
    var repo_id = {{repo.id}};
    var user_name = '{{user_name}}';
    var repo_name = '{{repo_name}}';
    function reload_or_alert_error(json) {
        if(json.code == 200) {
            window.location.reload(true);
            return;
        }
        alert(json.message);
    }
    function grant_user_permission(user_id, permission) {
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'user', 'user_id': user_id, 'permission': permission}, function(json){
            reload_or_alert_error(json);
        });
    }
    function grant_group_permission(group_id, permission) {
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'group', 'group_id': group_id, 'permission': permission}, function(json){
            reload_or_alert_error(json);
        });
    }
    function permission_remove_item(item_id) {
        var remove_url = _.sprintf('/%s/%s/settings/permission/item/remove/', user_name, repo_name);
        $.post(remove_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'item_id': item_id}, function(json){
            reload_or_alert_error(json);
        });
    }
    $('.global-permission-select').change(function(event) {
        var global_permission = $('option:selected', this).val();
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'global', 'permission': global_permission}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.remove-global-permission-button').click(function(event) {
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'global', 'permission': -2}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('#grant-global-button').click(function(event) {
        var global_permission = $('option:selected', '#grant-global-permission').val();
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'global', 'permission': global_permission}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.user-permission-select').change(function(event) {
        var user_id = $(this).data('user-id');
        var user_permission = $('option:selected', this).val();
        grant_user_permission(user_id, user_permission);
    });
    $('.group-permission-select').change(function(event) {
        var group_id = $(this).data('group-id');
        var group_permission = $('option:selected', this).val();
        grant_group_permission(group_id, group_permission);
    });
    $('#grant-user-button').click(function(event) {
        var user_id = $('option:selected', '#grant-user').val();
        var user_permission = $('option:selected', '#grant-user-permission').val();
        grant_user_permission(user_id, user_permission);
    });
    $('#grant-group-button').click(function(event) {
        var group_id = $('option:selected', '#grant-group').val();
        var group_permission = $('option:selected', '#grant-group-permission').val();
        grant_group_permission(group_id, group_permission);
    });
    $('.remove-user-permission-button').click(function(event) {
        var item_id = $(this).data('item-id');
        permission_remove_item(item_id);
    });
    $('.remove-group-permission-button').click(function(event) {
        var item_id = $(this).data('item-id');
        permission_remove_item(item_id);
    });
    $('#permissionDescToggler').click(function(e) {
        e.preventDefault();
        $('#permissionDesc').slideToggle();
    });
  });
</script>
{% endblock %}
