{% extends "repo/repo.html" %}

{% block subcontainer %}
<div class="hooks inner bubble">
  <ul class="breadcrumb">
    <li><a href="/{{user_name}}/{{repo_name}}/settings/"><i>&larr;</i>返回设置</a></li>
  </ul>
  <div class="header">
    <h1 class="heading">权限控制</h1>
    <p class="note"><a href="#desc">常见使用方法</a></p>
  </div>

  <p>1 全局权限控制</p>
  <div class="global_permission">
    {% if repoPermission %}
    <ul class="permission">
      <li>
        <div>
          全局权限
        </div>
        <div>
            {% for key, value in PERMISSION_VIEW %}
              <option value="{{key}}"{%if key == permissionItem.global_permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
        </div>
      </li>
    </ul>
    {% else %}
    <div>
      <span>对于仓库的所有成员</span>
      <select id="grant-global-permission">
        {% for key, value in PERMISSION_VIEW.items %}
          <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
      <button id="grant-global-button">确定</button>
    </div>
    {% endif %}
  </div>

  <p>2 用户权限控制</p>
  <div class="user_permission">
    <ul class="permission">
    {% if repoPermission %}
      {% for permissionItem in repoPermission.user_permission_set %}
        <li>
          <div>
            {{ permissionItem.userprofile.username }}
          </div>
          <div>
            <select name="permission">
            {% for key, value in PERMISSION_VIEW %}
              <option value="{{key}}"{%if key == permissionItem.permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
            </select>
          </div>
        </li>
      {%endfor%}
    {% endif %}
    </ul>
    {% if memberUsers_without_grant %}
    <div>
      <span>设置用户权限</span>
      <select id="grant-user">
        {% for memberUser in memberUsers_without_grant %}
          <option value="{{memberUser.id}}">{{memberUser.username}}</option>
        {% endfor %}
      </select>
      <select id="grant-user-permission">
        {% for key, value in PERMISSION_VIEW.items %}
          <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
      <button id="grant-user-button">确定</button>
    </div>
    {% endif %}
  </div>

  {% if teamGroups %}
  <p>3 群组权限控制</p>
  <div class="group_permission">
    {% if teamGroups_without_grant %}
    <div>
      <span>设置用户权限</span>
      <select id="grant-group">
        {% for teamGroup in teamGroups_without_grant %}
          <option value="{{teamGroup.id}}">{{teamGroup.name}}</option>
        {% endfor %}
      </select>
      <select id="grant-group-permission">
        {% for key, value in PERMISSION_VIEW.items %}
          <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
      <button id="grant-group-button">确定</button>
    </div>
    {% endif %}
  </div>
  {% endif %}

  <div id="desc">
    <pre>
1 xx
2 yy
    </pre>
  </div>
</div>
{% endblock %}

{% block subjs %}

<script>
  $(function(){
    $('#add_url_tip').click(function(event) {
        $(this).hide();
        $('#url_input').show();
        $('#url').focus();
    });

    function reload_or_alert_error(json) {
        if(json.code == 200) {
            window.location.href = window.location.href;
            return;
        }
        alert(json.message);
    }
    $('#add_url').click(function(event) {
        var url = $('#url').val();
        var post_url = _.sprintf('/%s/%s/settings/hook/web_hook_url/add/', '{{user_name}}', '{{repo_name}}');
        $.post(post_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'url': url}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.enable').click(function(event) {
        var hook_id = $(this).data('hook-id');
        var post_url = _.sprintf('/%s/%s/settings/hook/web_hook_url/%s/enable/', '{{user_name}}', '{{repo_name}}', hook_id);
        $.post(post_url, {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.disable').click(function(event) {
        var hook_id = $(this).data('hook-id');
        var post_url = _.sprintf('/%s/%s/settings/hook/web_hook_url/%s/disable/', '{{user_name}}', '{{repo_name}}', hook_id);
        $.post(post_url, {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.remove').click(function(event) {
        var hook_id = $(this).data('hook-id');
        var post_url = _.sprintf('/%s/%s/settings/hook/web_hook_url/%s/remove/', '{{user_name}}', '{{repo_name}}', hook_id);
        $.post(post_url, {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            reload_or_alert_error(json);
        });
    });
  });
</script>
{% endblock %}
