{% extends "repo/settings_base.html" %}

{% block settingcontainer %}
<div class="hooks inner bubble">
  <div class="header">
    <h1 class="heading">权限控制</h1>
    <p class="note"><a href="#desc">常见使用说明</a></p>
  </div>

  <h2>全局权限控制</h2>
  <div class="global-permission">
    {% if repoPermission.global_permission in PERMISSION_VIEW %}
    <ul class="permission">
      <li>
          <span>对于仓库的所有成员</span>
          <select class="global-permission-select" name="permission">
            {% for key, value in PERMISSION_VIEW.items %}
              <option value="{{key}}"{%if repoPermission and key == repoPermission.global_permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
          </select>
          <button class="remove-global-permission-button">删除</button>
      </li>
    </ul>
    {% else %}
    <span>设置全局权限</span>
    <select id="grant-global-permission">
      {% for key, value in PERMISSION_VIEW.items %}
        <option value="{{key}}">{{value}}</option>
      {% endfor %}
    </select>
    <button id="grant-global-button">确定</button>
    {% endif %}
  </div>

  {% if teamGroups %}
  <h2>群组权限控制</h2>
  <div class="group-permission">
    {% if repoPermission %}
    <ul class="permission">
      {% for permissionItem in repoPermission.group_permission_set %}
        <li>
            {{ permissionItem.group.name }}
            <select class="group-permission-select" data-group-id="{{permissionItem.group.id}}" name="permission">
            {% for key, value in PERMISSION_VIEW.items %}
              <option value="{{key}}"{%if key == permissionItem.permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
            </select>
            <button class="remove-group-permission-button" data-item-id="{{permissionItem.id}}">删除</button>
        </li>
      {%endfor%}
    </ul>
    {% endif %}
    {% if teamGroups_without_grant %}
    <div>
      <span>设置群组权限</span>
      <select id="grant-group">
        {% for teamGroup in teamGroups_without_grant %}
          <option value="{{teamGroup.id}}">{{teamGroup.name}}</option>
        {% endfor %}
      </select>
      <select id="grant-group-permission">
        {% for key, value in PERMISSION_VIEW.items %}
          <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
      <button id="grant-group-button">确定</button>
    </div>
    {% endif %}
  </div>
  {% endif %}

  <h2>用户权限控制</h2>
  <div class="user-permission">
    {% if repoPermission %}
    <ul class="permission">
      {% for permissionItem in repoPermission.user_permission_set %}
        <li>
            {{ permissionItem.userprofile.username }}
            <select class="user-permission-select" data-user-id="{{permissionItem.userprofile.id}}" name="permission">
            {% for key, value in PERMISSION_VIEW.items %}
              <option value="{{key}}"{%if key == permissionItem.permission%} selected="selected"{%endif%}>{{value}}</option>
            {% endfor %}
            </select>
            <button class="remove-user-permission-button" data-item-id="{{permissionItem.id}}">删除</button>
        </li>
      {%endfor%}
    </ul>
    {% endif %}
    {% if memberUsers_without_grant %}
    <div>
      <span>设置用户权限</span>
      <select id="grant-user">
        {% for memberUser in memberUsers_without_grant %}
          <option value="{{memberUser.id}}">{{memberUser.username}}</option>
        {% endfor %}
      </select>
      <select id="grant-user-permission">
        {% for key, value in PERMISSION_VIEW.items %}
          <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>
      <button id="grant-user-button">确定</button>
    </div>
    {% endif %}
  </div>

  <div id="desc">
    <pre>
1 xx
2 yy
    </pre>
  </div>
</div>
{% endblock %}

{% block subjs %}

<script>
  $(function(){
    var repo_id = {{repo.id}};
    var user_name = '{{user_name}}';
    var repo_name = '{{repo_name}}';
    function reload_or_alert_error(json) {
        if(json.code == 200) {
            window.location.reload(true);
            return;
        }
        alert(json.message);
    }
    function grant_user_permission(user_id, permission) {
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'user', 'user_id': user_id, 'permission': permission}, function(json){
            reload_or_alert_error(json);
        });
    }
    function grant_group_permission(group_id, permission) {
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'group', 'group_id': group_id, 'permission': permission}, function(json){
            reload_or_alert_error(json);
        });
    }
    function permission_remove_item(item_id) {
        var remove_url = _.sprintf('/%s/%s/settings/permission/item/remove/', user_name, repo_name);
        $.post(remove_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'item_id': item_id}, function(json){
            reload_or_alert_error(json);
        });
    }
    $('.global-permission-select').change(function(event) {
        var global_permission = $('option:selected', this).val();
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'global', 'permission': global_permission}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.remove-global-permission-button').click(function(event) {
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'global', 'permission': -2}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('#grant-global-button').click(function(event) {
        var global_permission = $('option:selected', '#grant-global-permission').val();
        var grant_url = _.sprintf('/%s/%s/settings/permission/grant/', user_name, repo_name);
        $.post(grant_url, {csrfmiddlewaretoken: '{{ csrf_token }}', 'grant_type': 'global', 'permission': global_permission}, function(json){
            reload_or_alert_error(json);
        });
    });
    $('.user-permission-select').change(function(event) {
        var user_id = $(this).data('user-id');
        var user_permission = $('option:selected', this).val();
        grant_user_permission(user_id, user_permission);
    });
    $('.group-permission-select').change(function(event) {
        var group_id = $(this).data('group-id');
        var group_permission = $('option:selected', this).val();
        grant_group_permission(group_id, group_permission);
    });
    $('#grant-user-button').click(function(event) {
        var user_id = $('option:selected', '#grant-user').val();
        var user_permission = $('option:selected', '#grant-user-permission').val();
        grant_user_permission(user_id, user_permission);
    });
    $('#grant-group-button').click(function(event) {
        var group_id = $('option:selected', '#grant-group').val();
        var group_permission = $('option:selected', '#grant-group-permission').val();
        grant_group_permission(group_id, group_permission);
    });
    $('.remove-user-permission-button').click(function(event) {
        var item_id = $(this).data('item-id');
        permission_remove_item(item_id);
    });
    $('.remove-group-permission-button').click(function(event) {
        var item_id = $(this).data('item-id');
        permission_remove_item(item_id);
    });
  });
</script>
{% endblock %}
