{% extends "repo/repo.html" %}

{% block bubble_inner_class_name %} pulls{% endblock %}

{% block subcontainer %}
  <header class="header">
    <h1 class="heading">创建一个合并请求</h1>
    <!--<a href="/{{user_name}}/{{repo_name}}/pulls/">{{repo_name}}</a></li>-->
  </header>

    <!--create pull request-->
        <div class="repo-refs-container well colspan">
            <div class="span repo-refs">
                <span>仓库:</span>
                <select id="id_source_repo" class="select2">
                    {% for repo in pull_repo_list %}
                        {% if repo.id == source_repo.id %}
                            <option selected="selected" value="{{repo.username}}/{{repo.name}}">{{repo.username}}/{{repo.name}}</option>
                        {% else %}
                            <option value="{{repo.username}}/{{repo.name}}">{{repo.username}}/{{repo.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br/>
                <span>分支:</span>
                <select id="id_source_refs" class="select2">
                </select>
            </div>
            <div class="span chevron"><i class="icon-chevron-right"></i></div>
            <div class="span repo-refs">
                <span>仓库:</span>
                <select id="id_desc_repo" class="span3">
                    {% for repo in pull_repo_list %}
                        {% if repo.username == desc_repo.username and repo.name == desc_repo.name %}
                            <option selected="selected" value="{{repo.username}}/{{repo.name}}">{{repo.username}}/{{repo.name}}</option>
                        {% else %}
                            <option value="{{repo.username}}/{{repo.name}}">{{repo.username}}/{{repo.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br/>
                <span>分支:</span>
                <select id="id_desc_refs" class="span3">
                </select>
            </div>
          </div>


                <form id="id_pull_form" method="post" action="" class="form-horizontal hide">
                    <div style="display:none"><input id="id_source_repo_select" type="hidden" value="" name="source_repo"></div>
                    <div style="display:none"><input id="id_source_refs_select" type="hidden" value="" name="source_refs"></div>
                    <div style="display:none"><input id="id_desc_repo_select" type="hidden" value="" name="desc_repo"></div>
                    <div style="display:none"><input id="id_desc_refs_select" type="hidden" value="" name="desc_refs"></div>
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="id_title">* 标题</label>
                            <div class="controls">
                                <input id="id_title" name="title" style="width: 500px;" type="text" maxlength="64" placeholder="输入标题，说明此次Pull Request的主要更改。">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_desc">描述</label>
                            <div class="controls">
                                <textarea id="id_desc" name="desc" style="height: 200px; width: 500px;" rows="10" cols="40" maxlength="2048"></textarea>
                            </div>
                        </div>
                        <div id="id_alert" class="alert hide">
                            <a class="close" data-dismiss="alert">×</a>
                            <span>* 请输入标题，选择来源仓库、分支和目标仓库、分支</span>
                        </div>
                        <div class="control-group">
                          <div id="id_submit" class="controls">
                            <a class="muted" data-original-title=" 出于礼貌，提前合并目标分支代码，减少对方合并时出现冲突的可能性" rel="tooltip" href="javascript: void(0)"><button type="submit" class="btn btn-primary" id="id_pull_submit">创建合并请求</button></a>
                          </div>
                        </div>
                    </fieldset>
                    <div class="hide"><input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"></div>
                </form>
                <div id="i_commits_diff"></div>
{% endblock %}

{% block subjs %}
<script src='/static/js/app/syntaxhighlighter/shCore.js' type='text/javascript'></script>
<script src='/static/js/app/syntaxhighlighter/shAutoloader.js' type='text/javascript'></script>
<script src='/static/js/app/syntaxhighlighter/shBrushDiff.js' type='text/javascript'></script>
<script>
$(function(){
    var global_repo_branch_map = {};
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    $('#id_submit').tooltip({
      selector: "a[rel=tooltip]"
    });
    var repoComparer = new RepoComparer('{{user_name}}', '{{repo_name}}', '', '');
    function compare() {
        var source_repo = $('#id_source_repo option:selected').val();
        var source_refs = $('#id_source_refs option:selected').val();
        var desc_repo = $('#id_desc_repo option:selected').val();
        var desc_refs  = $('#id_desc_refs option:selected').val();
        var source_username = source_repo.split('/')[0];
        var desc_username = desc_repo.split('/')[0];
        if(source_refs === undefined || desc_refs === undefined) {
            return;
        }
        repoComparer.from_refs = desc_refs;
        repoComparer.to_refs = source_refs;
        repoComparer.setPullUsername(desc_username, source_username);
        $('#id_pull_form').hide();
        repoComparer.renderCompare($('#i_commits_diff'), function(json){
            if(json.allow_merge) {
                $('#id_pull_form').show();
            }
        });
    }
    function fullfill_options(repo_select, refs_select, default_refs) {
        var repo = repo_select.attr('value');
        var tmp_global_repo_branch_map = global_repo_branch_map;
        if(tmp_global_repo_branch_map.hasOwnProperty(repo)) {
            refs_select.find('option').remove();
            var branches = tmp_global_repo_branch_map[repo];
            for(x in branches) {
                var branch = branches[x];
                if(branch == default_refs) {
                    refs_select.append('<option selected="selected" value='+ branch +'>'+ branch +'</option>');
                } else {
                    refs_select.append('<option value='+ branch +'>'+ branch +'</option>');
                }
            }
            return tmp_global_repo_branch_map[repo];
        }
        $.post('/' + repo + '/refs/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            refs_select.find('option').remove();
            var branches = json.refs_meta.branches;
            for(x in branches) {
                var branch = branches[x];
                if(branch == default_refs) {
                    refs_select.append('<option selected="selected" value='+ branch +'>'+ branch +'</option>');
                } else {
                    refs_select.append('<option value='+ branch +'>'+ branch +'</option>');
                }
            }
            tmp_global_repo_branch_map[repo] = branches;
            // FIX BUG, multi compare() call
            compare();
        });
        global_repo_branch_map = tmp_global_repo_branch_map;
    };
    fullfill_options($('#id_source_repo'), $('#id_source_refs'), '{{source_refs}}');
    fullfill_options($('#id_desc_repo'), $('#id_desc_refs'), '{{desc_refs}}');
    $('#id_source_repo').change(function(){
        fullfill_options($(this), $('#id_source_refs'));
    });
    $('#id_desc_repo').change(function(){
        fullfill_options($(this), $('#id_desc_refs'));
    });
    $('#id_source_refs').change(function(){
        compare();
    });
    $('#id_desc_refs').change(function(){
        compare();
    });
    $('#id_pull_form').submit(function() {
        if($('#id_title').val() == '' || $('#id_source_repo option:selected').val() == '' || $('#id_source_refs option:selected').val() == '' || $('#id_desc_repo option:selected').val() == '' || $('#id_desc_refs option:selected').val() == '') {
            $('#id_alert').show();
            return false;
        }
        $('#id_source_repo_select').val($('#id_source_repo option:selected').val());
        $('#id_source_refs_select').val($('#id_source_refs option:selected').val());
        $('#id_desc_repo_select').val($('#id_desc_repo option:selected').val());
        $('#id_desc_refs_select').val($('#id_desc_refs option:selected').val());
        return true;
    });

});
</script>
{% endblock %}
