{% extends "repo/repo.html" %}

{% block subcontainer %}

<div class="repo-main">
	<section class="repo-content">
		<table class="table frame">
			<tbody>
				{% if pullRequests %}
					{% for pullRequest in pullRequests %}
						<tr>
							<td><a href="/{{user_name}}/{{repo_name}}/pull/{{pullRequest.id}}/">#{{pullRequest.id}} {{pullRequest.short_title}}</a>&nbsp;<a class="muted" href="/{{pullRequest.pull_user.username}}/">[{{pullRequest.pull_user.username}}]</a></td>
							<td><a href="/{{pullRequest.source_repo.username}}/">{{pullRequest.source_repo.username}}</a>/<a href="/{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}/">{{pullRequest.source_repo.name}}</a>:<a href="/{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}/tree/{{pullRequest.source_refname}}/">{{pullRequest.source_refname}}</a> -&gt; <a href="/{{pullRequest.desc_repo.username}}/">{{pullRequest.desc_repo.username}}</a>/<a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/">{{pullRequest.desc_repo.name}}</a>:<a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/tree/{{pullRequest.desc_refname}}/">{{pullRequest.desc_refname}}</a></td>
							<td>{{pullRequest.short_desc}}</td>
							<td><span class="label {{pullRequest.status_label}}">{{pullRequest.status_view}}</span></td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td><p class="info text-error"><i class="icon-bell"></i>当前仓库还没有 Pull Request。<a href="/{{ user_name }}/{{ repo_name }}/pull/new/" class="btn btn-success"><i class="octicon octicon-git-pull-request"></i>合并请求</a></p></td>
					</tr>
			{% endif %}
			</tbody>
		</table>
	</section>
</div>

{% endblock %}

{% block subjs %}
	<script src='/static/js/app/syntaxhighlighter/shCore.js' type='text/javascript'></script>
	<script src='/static/js/app/syntaxhighlighter/shAutoloader.js' type='text/javascript'></script>
	<script src='/static/js/app/syntaxhighlighter/shBrushDiff.js' type='text/javascript'></script>
	<script>
	$(function(){
			$('.c_unixtime').each(function(index){ 
					$(this).html(moment(new Date($(this).html()*1000)).fromNow());
					$(this).show();
			});
	});
	</script>
{% endblock %}
