{% extends "repo/repo.html" %}
{% block subcontainer %}
<link href='/static/css/app/syntaxhighlighter/shCore.css' rel='stylesheet' type='text/css' />
<link href='/static/css/app/syntaxhighlighter/shThemeDefault.css' rel='stylesheet' type='text/css' />
<style>
.repo-refs { border: 1px solid #D4D4D4; padding: 10px }    
</style>
<div>
    <h4 style="margin: 10px"><a href="/{{user_name}}/{{repo_name}}/pulls/">{{repo_name}}</a> /
        <span id="i_repo_path"></span>
        <span>查看 #{{pullRequest.id}} 合并请求</span>
    </h4>
    <!--create pull request-->
    <div class="row" style="margin-top: 20px">
        <div id="id_merge_process" class="hide span10">
            <div class="span10" style="margin-left: 30px;">
                <h4 style="margin-bottom: 10px">
                &gt; merge from {{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}:{{pullRequest.source_refname}}
                to {{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}:{{pullRequest.desc_refname}} 
                </h4>
            </div>
            <div class="span10">
                <pre id="id_merge_output" class="shell" style="margin-bottom: 15px"></pre>
            </div>
            <div class="span10">
                <a id="id_merge_after" class="hide" href="/{{user_name}}/{{repo_name}}/pulls/"><button class="btn btn-primary pull-right">确定</button></a>
            </div>
        </div>
        <div id="id_merge_action" class="span10">
            <div>
                <div class="span4 repo-refs">
                    <span>
                        仓库-&gt;分支：{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}:{{pullRequest.source_refname}}
                    </span>
                </div>
                <div class="span0">
                    <i class="icon-chevron-right"></i>
                </div>
                <div class="span4 repo-refs">
                    <span>
                        仓库-&gt;分支：{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}:{{pullRequest.desc_refname}}
                    </span>
                </div>
            </div>
            <div class="span9" style="margin-top: 20px">
                <form id="id_pull_form" method="post" action="" class="form-horizontal">
                    <div style="display:none"><input id="id_pullRequest_id" type="hidden" value="{{pullRequest.id}}" name="pullRequest_id"></div>
                    <div style="display:none"><input id="id_pull_action" type="hidden" value="" name="pull_action"></div>
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="id_title">* 标题</label>
                            <div class="controls">
                                <input id="id_title" name="title" style="width: 500px;" type="text" maxlength="64" value="{{pullRequest.title}}" readonly="readonly">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_desc">描述</label>
                            <div class="controls">
                                <textarea id="id_desc" name="desc" style="height: 200px; width: 500px;" rows="10" cols="40" maxlength="2048" readonly="readonly">{{pullRequest.desc}}</textarea>
                            </div>
                        </div>
                        {% if is_owner %}
                        <div id="id_merge" style="margin-left: 160px">
                            <a style="margin-right: 10px" class="muted" data-original-title=" 将尝试合并该请求，进行分支合并" rel="tooltip" href="javascript: void(0)"><button class="btn btn-primary" id="id_pull_merge">开始合并</button></a>
                            <a style="margin-right: 10px" class="muted" data-original-title=" 由于各种原因，你可能不同意此次合并请求，请和发起者做好沟通" rel="tooltip" href="javascript: void(0)"><button class="btn btn-danger" id="id_pull_reject">拒绝</button></a>
                            <a style="margin-right: 10px" class="muted" data-original-title=" 由于各种原因，不再需要此次合并分支，将进行关闭" rel="tooltip" href="javascript: void(0)"><button class="btn btn-inverse" id="id_pull_close">关闭</button></a>
                        </div>
                        {% endif %}
                    </fieldset>
                    <div style="display:none"><input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"></div>
                </form>
                <ul class="nav nav-tabs" style="margin-bottom: 10px">
                    <li class="c_pull_request_action active" data-action="commit"><a href="javascript:void(0)">Commits</a></li>
                    <li class="c_pull_request_action" data-action="diff"><a href="javascript:void(0)">Diff</a></li>
                </ul>
                <div id="id_pull_meta_data">
                    <div id="id_ajax_loading" class="c_pull_request_content"><img style="margin-left: 50px" src='/static/img/loading.gif'></div>
                    <div id="id_pull_request_commit" class="c_pull_request_content hide"></div>
                    <div id="id_pull_request_diff" class="c_pull_request_content hide"></div>
                </div>
            </div>
        </div>
    </div>
</div>		  
{% endblock %}
{% block subjs %}
<script src='/static/js/app/syntaxhighlighter/shCore.js' type='text/javascript'></script>
<script src='/static/js/app/syntaxhighlighter/shAutoloader.js' type='text/javascript'></script>
<script src='/static/js/app/syntaxhighlighter/shBrushDiff.js' type='text/javascript'></script>
<script>
$(function(){
    var global_repo_branch_map = {};
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    $('#id_merge').tooltip({
      selector: "a[rel=tooltip]"
    });
    var load_commit_meta = function() {
        $.post('/{{user_name}}/{{repo_name}}/pull/{{pullRequest.id}}/commit/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            var html = [];
            var is_up_to_date = false;
            var source_commit_hash = json.source_repo_refs_commit_hash.substr(0, 7);
            var desc_commit_hash = json.desc_repo_refs_commit_hash.substr(0, 7);
            var exists_commit_hash_map = {};
            exists_commit_hash_map[desc_commit_hash] = 1
            var up_to_date = '<p>Already up-to-date. 你并不需要进行合并操作</p>';
            if(json.commits.length > 0) {
                html.push('<table class="table table-striped"><thead class="fixed"><tr><th width="20%">提交HASH (作者)</th><th width="10%">时间</th><th>日志</th></tr></thead><tbody>');
                for(x in json.commits) {
                    var commit_hash = json.commits[x].commit_hash;
                    if(commit_hash in exists_commit_hash_map) {
                        var tmp_parent_commit_hashs = json.commits[x].parent_commit_hash.split(' ')
                        for(y in tmp_parent_commit_hashs) {
                            exists_commit_hash_map[tmp_parent_commit_hashs[y]] = 1;
                        }
                    }
                    var committer = json.commits[x].committer;
                    var committer_date = json.commits[x].committer_date;
                    var committer_moment = moment(new Date(committer_date*1000)).fromNow();
                    var commit_message = json.commits[x].commit_message;
                    html.push('<tr><td><code>' + commit_hash + '</code><span>(' + committer + ')</span></td><td><span style="display: inline;">' + committer_moment + '</span></td><td>' + commit_message + '</td></tr>');
                }
                html.push('</tbody></table>');
            } else {
                html.push(up_to_date);
            }
            if(source_commit_hash in exists_commit_hash_map) {
                is_up_to_date = true;
            }
            $('.c_pull_request_content').each(function(index){
                $(this).hide();
             });
            if(is_up_to_date) {
                $('#id_pull_request_commit').html(up_to_date);
            } else {
                $('#id_pull_request_commit').html(html.join(''));
            }
            $('#id_pull_request_commit').show();
        });
    }
    var load_diff_meta = function() {
        $.post('/{{user_name}}/{{repo_name}}/pull/{{pullRequest.id}}/diff/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            var diff = json.diff;
            $('.c_pull_request_content').each(function(index){
                $(this).hide();
            });
            $('#id_pull_request_diff').html('<pre class="brush: diff;">' + diff + '</pre>');
            SyntaxHighlighter.highlight();
            $('#id_pull_request_diff').show();
        });
    }
    $('.c_pull_request_action').click(function(){
        var action = $(this).data('action');
        $('.c_pull_request_action').each(function(index){
            $(this).removeClass('active');
        });
        $(this).addClass('active');
        $('.c_pull_request_content').each(function(index){
            $(this).hide();
        });
        $('#id_ajax_loading').show();
        if(action == 'commit') {
            load_commit_meta();
        } else if(action == 'diff') {
            load_diff_meta();
        }
    });
    load_commit_meta();
    $('#id_pull_merge').click(function(){
        $('#id_merge_output').show();
        var i = 0;
        var interval = setInterval(function() {
            i = i + 1;
            var j = i % 4;
            var html = '&gt; 正在进行 Pull Request，请耐心等候'
            for (var k = 0; k < j; k++) {
                html = html + '.'
            }
            $('#id_merge_output').html(html);
        }, 500);
        $('html, body').animate({ scrollTop: 0 }, 'fast');
        $('#id_merge_process').show();
        $('#id_merge_action').hide();
        $.post('/{{user_name}}/{{repo_name}}/pull/{{pullRequest.id}}/merge/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            if(json.result == 'success') {
                clearInterval(interval);
                $('#id_merge_output').html(json.output);
                if(json.returncode != 0) {
                    $('#id_merge_after').attr('href', '/{{user_name}}/{{repo_name}}/pull/{{pullRequest.id}}/');
                    $('#id_merge_after > button').removeClass('btn-primary').addClass('btn-danger').text('合并失败，请检查是否 存在冲突 或者 non-fast-forward');
                }
                $('#id_merge_after').show();
            }
        });
        return false;
    });
    $('#id_pull_reject').click(function(){
        $.post('/{{user_name}}/{{repo_name}}/pull/{{pullRequest.id}}/reject/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            if(json.result == 'success') {
                window.location.href = '/{{user_name}}/{{repo_name}}/pulls/';
            }
        });
        return false;
    });
    $('#id_pull_close').click(function(){
        $.post('/{{user_name}}/{{repo_name}}/pull/{{pullRequest.id}}/close/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            if(json.result == 'success') {
                window.location.href = '/{{user_name}}/{{repo_name}}/pulls/';
            }
        });
        return false;
    });
});
</script>
{% endblock %}
