{% extends "base.html" %}

{% block css %}
{% if current == 'blob' %}
<link href='/static/less/min/syntaxhighlighter.min.css?timestamp={{gitshell.timestamp}}' rel='stylesheet'>
<link href='/static/less/app/highlight/default.css?timestamp={{gitshell.timestamp}}' rel='stylesheet'>
{% endif %}
{% block subcss %}{% endblock %}
{% endblock %}

{% block container_class_name %}repo{% endblock %}

{% block container %}
<div class="subhead repo-global-bar">
  <div class="container">

    <ul class="breadcrumb">
      <li class="user"><a href="/{{user_name}}/">{{user_name}}</a><span class="divider">/</span></li>

      <li class="repo-nav dropdown">
        <a href="/{{user_name}}/{{repo_name}}/" class="dropdown-toggle" data-toggle="dropdown">
          <strong>{{repo_name}}</strong>
          <span><i class="icon-caret-down"></i></span>
        </a>
        <ul class="dropdown-menu nav nav-list">
          <li{% if current == 'index' or current == 'tree' or current == 'blob' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/" data-original-title="Code" rel="tooltip"><span><i class="icon-code"></i>代码</span></a></li>
          <li{% if current == 'issues' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/issues/" data-original-title="Issues" rel="tooltip"><span><i class="icon-bug"></i>议题/问题</span></a></li>
          <li{% if current == 'compare' or current == 'pull' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/pulls/" data-original-title="Pull Request" rel="tooltip"><span><i class="icon-code-fork"></i>合并请求</span></a></li>
          {#<li{% if current == 'pulse' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/pulse/" data-original-title="Overview" rel="tooltip"><span><i class="icon-desktop"></i>Overview</span></a></li>#}
          {#<li{% if current == 'stats' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/stats/" data-original-title="Graph" rel="tooltip"><span><i class="icon-th"></i>统计</span></a></li>#}
          {% if is_owner %}
          <li{% if current == 'settings' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/settings/" data-original-title="Setting" rel="tooltip"><span><i class="icon-wrench"></i>设置</span></a></li>
          {% endif %}
        </ul>
      </li>

        {% comment %}
        {% if is_owner %}
        <sup class="{%if repo.dropbox_sync == 1%}synced{%endif%}"><a href="/{{user_name}}/{{repo_name}}/settings/#dropbox"><i class="icon-dropbox"></i></a></sup>
        {% endif %}

        {# 以下是fork来源仓库 #}
        {% comment %}
        {% if parent_repo or user_child_repo %}
        <div class="forked dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown">
            <a href="#" class="label label-mini"><i class="icon-ellipsis-horizontal"></i></a>
            <i class="icon-caret-down hide"></i>
          </span>
          <div class="dropdown-menu">
            {% if parent_repo %}
            <p>forked from <a href="/{{parent_repo.username}}/">{{parent_repo.username}}</a> / <a href="/{{parent_repo.username}}/{{parent_repo.name}}/">{{parent_repo.name}}</a></p>
            {% endif %}
            {% if parent_repo and user_child_repo %}<hr>{% endif %}
            {% if user_child_repo %}
            <p>my forked <a href="/{{user_child_repo.username}}/">{{user_child_repo.username}}</a> / <a href="/{{user_child_repo.username}}/{{user_child_repo.name}}/">{{user_child_repo.name}}</a></p>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endcomment %}

    </ul>{# /breadcrumb #}

    <ul class="repo-actions">
      {% if current == 'index' %}
      <li class="dropdown">
        <a href="#" class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-terminal"></i>Clone</a>
        <div class="dropdown-menu url-container">
          {% if repo.status != 0 %}
          <p class="info">仓库正在初始化中...暂时不能提交、查看源代码，请耐心等候，稍后刷新。（这种情况很可能是初始化一个较大的仓库）</p>
          {% endif %}

          {% if has_fork_right %}
          <dl class="url colspan">

            <dt class="dropdown span">
            {% if is_repo_member %}
              <a href="#" class="sshFork url-select btn dropdown-toggle active" data-toggle="dropdown">SSH<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu nav nav-list">
                <li><a href="#" class="sshFork url-select">SSH</a></li>
                <li><a href="#" class="httpFork url-select">HTTPS</a></li>
                {% if repo.auth_type == 0 %}
                  <li><a href="#" class="gitFork url-select">GIT</a></li>
                {% endif %}
              </ul>
            {% else %}
              <a href="#" class="httpFork url-select btn dropdown-toggle active">HTTPS<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu nav nav-list">
                <li><a href="#" class="httpFork url-select">HTTPS</a></li>
                {% if repo.auth_type == 0 %}
                  <li><a href="#" class="gitFork url-select">GIT</a></li>
                {% endif %}
              </ul>
            {% endif %}
            </dt>

            <dd class="url-holder btn-group span">
            {% if is_repo_member %}
            <input class="btn middle" id="urlData" type="text" value="git@gitshell.com:{{user_name}}/{{repo_name}}.git" readonly="readonly">
            {% elif repo.auth_type == 0 %}
            <input class="btn middle" id="urlData" type="text" value="https://{{user_name}}@gitshell.com/{{user_name}}/{{repo_name}}.git" readonly="readonly">
            {% endif %}
            {#<span class="span" id="urlInfo">{% if is_repo_member %}读写{% elif repo.auth_type == 0 %}只读{% endif %}</span>#}
            </dd>

          </dl>
          {% endif %}

        </div>
      </li>{# /cloneURL #}
      {% endif %}
      <li><a href="/{{user_name}}/{{repo_name}}/pull/new/" class="btn btn-mini"><i class="icon-code-fork"></i>合并请求</a></li>
      <li>
        {% if is_watched_repo %}
        <a class="btn btn-mini unwatch" data-original-title="Unwatch" rel="tooltip" href="javascript: void(0)">取消关注</a>
        {% else %}
        <a class="btn btn-mini watch" data-original-title="Watch" rel="tooltip" href="javascript: void(0)">关注</a>
        {% endif %}
      </li>
      <li class="btn-group">
        {% if is_stared_repo %}
        <a class="btn btn-mini unstar first" data-original-title="Unstar" rel="tooltip" href="javascript: void(0)">取消收藏</a>
        {% else %}
        <a class="btn btn-mini star first" data-original-title="Star" rel="tooltip" href="javascript: void(0)">收藏</a>
        {% endif %}
        <span class="btn btn-mini count last" title="标星次数" href="/{{user_name}}/{{repo_name}}/clone_watch_star/">{{repo.star}}</span>
      </li>
      <li><a href="/{{user_name}}/{{repo_name}}/compare/" class="btn btn-mini"><i class="icon-random"></i>比较</a></li>
      {% if has_fork_right %}
      <li class="btn-group">
        <a class="btn btn-mini fork first" data-original-title="Fork" rel="tooltip" href="javascript: void(0)">派生</a>
        <span class="btn btn-mini count last" title="衍生次数" href="/{{user_name}}/{{repo_name}}/clone_watch_star/">{{repo.fork}}</span>
      </li>
      {% endif %}
    </ul>{# /repo-actions #}
  </div>
</div>




    <div class="content">
      <div class="container{% block repo_container_class_name %}{% endblock %}">

        {% block repo_description %}{% endblock %}


{% if current == 'index' or current == 'tree' or current == 'blob' or current == 'commits' or current == 'branches' or current == 'tags' or current == 'refs_graph' %}
<ul class="nav nav-tabs">
  <li{% if current == 'index' or current == 'tree' or current == 'blob' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/tree/{{refs}}/">代码</a></li>
  <li{% if current == 'commits' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/commits/{{refs}}/">提交<span class="label label-mini{% if current == 'commits' %} label-success{% endif %}">{{repo.commit}}</span></a></li>
  <li{% if current == 'branches' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/branches/{{refs}}/">分支<span class="label label-mini{% if current == 'branches' %} label-success{% endif %}">{{refs_meta.branch_count}}</span></a></li>
  <li{% if current == 'tags' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/tags/{{refs}}/">标签<span class="label label-mini{% if current == 'tags' %} label-success{% endif %}">{{refs_meta.tag_count}}</span></a></li>
  <li{% if current == 'refs_graph' %} class="active"{% endif %}><a href="/{{user_name}}/{{repo_name}}/refs/graph/{{refs}}/">统计</a></li>
</ul>
{% endif %}

{% block bubbleheader %}{% endblock %}

{% block subcontainer %}{% endblock %}

    </div>
  </div>

  {% endblock %}

  {% block js %}
  <script type="text/javascript" src="http://www.steamdev.com/zclip/js/jquery.zclip.min.js"></script>
  <script type="text/javascript" src="http://www.steamdev.com/zclip/js/jquery.snippet.min.js"></script>
  <script>
    $(function(){

      $('.repocrumb span[data-toggle]').hover(
        function(){
          $(this).find('.icon-caret-down').show();
        },function(){
          $(this).find('.icon-caret-down').hide();
        }
      );

      $(".sshFork, .httpFork, .gitFork").bind({
        click: function(e) {
          e.preventDefault();
          $(this).addClass("active").siblings().removeClass("active");
          switch(this.className) {
            case "sshFork":
              $('#urlData').val('git@gitshell.com:{{user_name}}/{{repo_name}}.git');
              $('#urlInfo').text('读写');
              break;
            case "httpFork":
              $('#urlData').val('https://gitshell.com/{{user_name}}/{{repo_name}}.git');
              $('#urlInfo').text('读写');
              break;
            case "gitFork":
              $('#urlData').val('git://gitshell.com/{{user_name}}/{{repo_name}}.git');
              $('#urlInfo').text('只读');
              break;
          };
        }
      });

      $("#urlData").bind({
        click: function() {
          $(this).addClass("selected").select();
        }
      });

      $("body").bind({
        click: function(e) {
          if(e.target.id != "urlData") {
            $("#urlData").removeClass("selected");
          }
        }
      });

      //    $("#copy-btn").zclip({
      //      path: "/static/js/ZeroClipboard.swf",
      //      copy: function() { return $("#urlData").val(); }
      //    });

      $('.repo-actions-bar .watch').click(function() {
        $.post('/{{user_name}}/{{repo_name}}/watch/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
          window.location = window.location;
        });
      });

      $('.repo-actions-bar .unwatch').click(function() {
        $.post('/{{user_name}}/{{repo_name}}/unwatch/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
          window.location = window.location;
        });
      });

      $('.repo-actions-bar .star').click(function() {
        $.post('/{{user_name}}/{{repo_name}}/star/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
          window.location = window.location;
        });
      });

      $('.repo-actions-bar .unstar').click(function() {
        $.post('/{{user_name}}/{{repo_name}}/unstar/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
          window.location = window.location;
        });
      });

      $('.repo-actions-bar .fork').click(function() {
        $.post('/{{user_name}}/{{repo_name}}/fork/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
          window.location = '/{{user.username}}/{{repo_name}}/';
        });
      });
      <!--TODO what for? -->
        $('#toggle-arrow').click(
            function(){
              $(this).next('.url').slideToggle('fast');
            }
            );
      $('#url').click(
          function(){
            $(this).toggleClass('active');
          }
          );
      $('.sidenav a.btn').tooltip();
      $('.branches .dropdown-toggle').click(function(event) {
        $('#i_git_url').select();
      });

      $('.c_repo_action').tooltip({
        selector: "a[rel=tooltip]"
      });

      $('.repo-admin-edit').hide();
      $('.repo-summary > .description').hover(
          function(){
            $('.repo-admin-edit').show();
          },function(){
            $('.repo-admin-edit').hide();
          }
          );

    });
  </script>
  {% block subjs %}{% endblock %}
  {% endblock %}
