{% extends "base.html" %}

{% block css %}
    {% if current == 'index' or current == 'tree' or current == 'commits' %}
        <link href='/static/css/app/syntaxhighlighter/shCore.css' rel='stylesheet'>
        <link href='/static/css/app/syntaxhighlighter/shThemeDefault.css' rel='stylesheet'>
    {% endif %}
{% endblock %}

{% block container %}

	<div class="repo-header">

		<div class="repo-actions-bar">

			<span class="repo-icon {% if repo.auth_type == 0 %}unlock{% else %}lock{% endif %}"></span>

				<ul class="repocrumb">
						<li class="user"><a href="/{{ user_name }}/">{{ user_name }}</a><span class="divider">/</span></li>
						<li><a href="/{{ user_name }}/{{ repo_name }}/">{{ repo_name }}</a></li>
				</ul>

				<ul class="repo-actions">
						{% if has_pull_right %}
						<li><a href="/{{ user_name }}/{{ repo_name }}/pull/new/"><button class="btn" type="button">合并请求</button></a></li>
						{% endif %}
						<li>
								{% if not is_watched_repo %}
								<a class="btn watch" data-original-title="关注该项目" rel="tooltip" href="javascript: void(0)"><i class="icon-eye-open"></i>关注</a>
								{% else %}
								<a class="btn unwatch" data-original-title="取消关注该项目" rel="tooltip" href="javascript: void(0)"><i class="icon-eye-close"></i>取消关注</a>
								{% endif %}
								<span class="count" title="关注次数" href="/{{ user_name }}/{{ repo_name }}/clone_watch/">{{repo.watch}}</span>
						</li>
						<li>
							<a class="btn fork" data-original-title="衍生作为本地仓库" rel="tooltip" href="javascript: void(0)"><i class="icon-code-fork"></i>Fork</a>
								<span class="count" title="衍生次数" href="/{{ user_name }}/{{ repo_name }}/clone_watch/">{{repo.fork}}</span>
						</li>
				</ul>

		</div>

		<div class="repo-details-tabs">

			<ul class="nav repo-tabs">
				<li class="active"><a href="#">Code</a></li>
				<li><a href="#">Network</a></li>
				<li><a href="#">Pull Request</a></li>
				<li><a href="#">Issuse</a></li>
				<li><a href="#">Wiki</a></li>
				<li><a href="#">Graphs</a></li>
			</ul>

			{% if current == 'index' %}
				<div class="repo-summary">
					<div class="description">
						<p>{{repo.desc}} — <a href="#README.md">阅读更多</a></p>
						<p class="repo-admin-edit">
							<a href="/{{user_name}}/repo/edit/{{repo.id}}/" class="btn"><i class="icon-edit"></i>编辑</a>
							<a href="/{{user_name}}/{{repo_name}}/delete/" class="btn"><i class="icon-trash"></i>删除</a>
						</p>
					</div>

					<div class="repo-clone-url">

						{% if repo.status != 0 %}
							<p class="info">仓库正在初始化中...暂时不能提交，查看源代码，请耐心等候。（这种情况很可能是因为fork一个较大的仓库）。</p>
						{% endif %}

						{% if has_fork_right %}
							<dl class="clone-url clearfix">
								<dt class="url-tab clearfix">
									{% if is_repo_member %}
										<span class="btn-holder first"><a id="id_ssh_fork" class="btn">SSH</a></span>
									{% endif %}
										<span class="btn-holder"><a id="id_http_fork" class="btn">HTTP</a></span>
									{% if repo.auth_type == 0 %}
										<span class="btn-holder last"><a id="id_git_fork" class="btn">GIT</a></span>
									{% endif %}
								</dt>
								<dd class="url-holder clearfix">
									{% if is_repo_member %}
										<span class="btn btn-holder url"><input class="input-xlarge focused" value="git@gitshell.com:{{ user_name }}/{{ repo_name }}.git" readonly></span>
									{% elif repo.auth_type == 0 %}
										<span class="btn btn-holder"><input class="input-xlarge focused" value="https://gitshell.com/{{ user_name }}/{{ repo_name }}.git" readonly></span>
									{% endif %}
									<span class="btn btn-holder clipboard"><a class="url-js-copy"><i class="icon-copy"></i>复制</a></span>
										<span class="muted url-info">{% if is_repo_member %}读写{% elif repo.auth_type == 0 %}只读{% endif %}</span>
								</dd>
							</dl>
						{% endif %}

					</div>

			{% endif %}

		</div>


			</div>

	</div>






		<div class="repo-body">

			<div class="repo-navtab clearfix">

				<div class="branches dropdown">
					<a href="javascript:void" data-toggle="dropdown" class="dropdown-toggle">
						<span class="branch">Branch:</span>
						<span class="branch-name">{{ refs }}</span>
						<i class="caret"></i>
					</a>
					<ul class="dropdown-menu">
					</ul>
				</div>

				<ul class="nav nav-tabs">
					<li {% if current == 'tree' or current == 'index' %} class="active" {% endif %}><a href="/{{ user_name }}/{{ repo_name }}/tree/{{ refs }}/">File List</a></li>
					<li {% if current == 'commits' %} class="active" {% endif %}><a href="/{{ user_name }}/{{ repo_name }}/commits/{{ refs }}/">Commits</a></li>
					<li {% if current == 'pull' %} class="active" {% endif %}><a href="/{{ user_name }}/{{ repo_name }}/pulls/">Merge Request{% if repo_pull_new_count > 0 %} <span class="badge">{{repo_pull_new_count}}</span>{% endif %}</a></li>
					<li {% if current == 'issues' %} class="active" {% endif %}><a href="/{{ user_name }}/{{ repo_name }}/issues/">Issues</a></li>
					<li {% if current == 'network' %} class="active" {% endif %}><a href="/{{ user_name }}/{{ repo_name }}/network/">Cooperate</a></li>
					<li {% if current == 'branches' %} class="active" {% endif %}><a href="/{{ user_name }}/{{ repo_name }}/clone_watch/">衍生&amp;关注</a></li>
					<li {% if current == 'stats' %} class="active" {% endif %}><a href="/{{ user_name }}/{{ repo_name }}/stats/">Graphs</a></li>
				</ul>


			</div>
			{% block subcontainer %}{% endblock %}


		</div>



{% endblock %}




{% block js %}
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/moment.zh-cn.js"></script>
    <script>
    /*global jQuery, window */
    $(function(){
        moment.lang('zh-cn');
        $('#i_git_url').click(function(event) {
            $('#i_git_url').select();
        });
        var current_refs = '{{ refs }}';
        if(current_refs == '') {
            current_refs = 'master';
        }
        var do_refs = function() {
            is_refs_mouseover = true;
            $.ajax({
                url: '/ajax/repo/{{user_name}}/{{repo_name}}/refs/',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json',
                timeout: 10000,
                error: function(){
                    //alert('');
                },
                success: function(json){
                    if($('#i_refs .dropdown-menu li').size() > 0) {
                        return;
                    }
                    for(x in json.branches) {
                        var current = ' ';
                        if(json.branches[x] == current_refs) {
                            current = '✓';
                            $('#id_branch_or_tag').text('分支：');
                        }
                        $('#i_refs .dropdown-menu').append('<li><a href="/{{user_name}}/{{repo_name}}/tree/' + json.branches[x] + '/">' + current + json.branches[x] + '</a></li>');
                    } 
                    if(json.tags.length > 0) {
                        $('#i_refs .dropdown-menu').append('<li class="divider"></li>');
                    }
                    for(x in json.tags) {
                        var current = ' ';
                        if(json.tags[x] == current_refs) {
                            current = '✓';
                            $('#id_branch_or_tag').text('标签：');
                        }
                        $('#i_refs .dropdown-menu').append('<li><a href="/{{user_name}}/{{repo_name}}/tree/' + json.tags[x] + '/">' + current + json.tags[x] + '</a></li>');
                    } 
                },
            })
        }
        var disabled_watch = false;
        var disabled_fork = false;
        $('#i_watch').click(function() {
            if(disabled_watch) {
                return false;
            }
            disabled_watch = true;
            $.ajax({
                url: '/ajax/repo/{{user_name}}/{{repo_name}}/watch/',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json',
                timeout: 10000,
                error: function(){
                    disabled_watch = false;
                    $('#id_repo_alert').show();
                    $('#id_alert_message').html('网络原因，请求失败，请刷新再次尝试');
                },
                success: function(json){
                    if(json.result == 'success') {
                        window.location = window.location
                        return true;
                    }
                    $('#id_repo_alert').show();
                    $('#id_alert_message').html(json.message);
                },
            })
        })
        $('#i_unwatch').click(function() {
            if(disabled_watch) {
                return false;
            }
            disabled_watch = true;
            $.ajax({
                url: '/ajax/repo/{{user_name}}/{{repo_name}}/unwatch/',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json',
                timeout: 10000,
                error: function(){
                    disabled_watch = false;
                    $('#id_repo_alert').show();
                    $('#id_alert_message').html('网络原因，请求失败，请刷新再次尝试');
                },
                success: function(json){
                    if(json.result == 'success') {
                        window.location = window.location
                        return true;
                    }
                    $('#id_repo_alert').show();
                    $('#id_alert_message').html(json.message);
                },
            })
        })
    {% if has_fork_right %}
        $('#i_fork').click(function() {
            if(disabled_fork) {
                return false;
            }
            disabled_fork = true;
            $.ajax({
                url: '/ajax/repo/{{user_name}}/{{repo_name}}/fork/',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: 'json',
                timeout: 10000,
                error: function(){
                    disabled_fork = false;
                    $('#id_repo_alert').show();
                    $('#id_alert_message').html('网络原因，请求失败，请刷新再次尝试');
                },
                success: function(json){
                    if(json.result == 'success') {
                        window.location = '/{{user.username}}/{{repo_name}}/';
                        return true;
                    }
                    $('#id_repo_alert').show();
                    $('#id_alert_message').html(json.message);
                },
            })
        })
    {% endif %}
        do_refs();
        var is_refs_mouseover = false;
        $('#i_refs').mouseover(function(event) {
            if($('#i_refs .dropdown-menu li').size() == 0 && !is_refs_mouseover) {
                do_refs();
            }
        });
        $('.c_repo_action').tooltip({
            selector: "a[rel=tooltip]"
        });
        $('#id_ssh_fork').mouseover(function(event) {
            $('#id_git_url').html('<input class="input-xlarge focused" value="git@gitshell.com:{{ user_name }}/{{ repo_name }}.git"/>');
            $('#id_read_write').html('读写');
        });
        $('#id_http_fork').mouseover(function(event) {
            $('#id_git_url').html('<input class="input-xlarge focused" value="https://gitshell.com/{{ user_name }}/{{ repo_name }}.git"/>');
            $('#id_read_write').html('读写');
        });
        $('#id_git_fork').mouseover(function(event) {
            $('#id_git_url').html('<input class="input-xlarge focused" value="git://gitshell.com/{{ user_name }}/{{ repo_name }}.git"/>');
            $('#id_read_write').html('只读');
        });
    {% if is_owner %}
        $('#id_repo_desc').live('mouseover mouseout', function(event) {
            if (event.type == 'mouseover') {
                $('#id_manage_repo').show();
            } else {
                $('#id_manage_repo').hide();
            }
        });
    {% endif %}

    });
    </script>
    {% block subjs %}{% endblock %}
{% endblock %}
