{% extends "repo/repo.html" %}
{% block subcontainer %}
<div class="span10" style="margin-left: 0px">
    <table class="table table-striped">
        <tbody>
            <tr class="span1">
                <td><!--img src="/static/img/dropbox_logo.ico"/--><strong>Dropbox 及时备份</strong>：</td>
                {% if repo.dropbox_sync == 1 %}
                <td>
                    {% if repo.dropbox_url == '' %}
                    <span class="label label-important">Dropbox 正在同步中... 请三分钟之后再来围观</span>
                    {% else %}
                    {{ repo.dropbox_url }}
                    {% endif %}
                </td>
                <td>
                    <button class="disable_dropbox_sync btn btn-mini btn-danger">禁止</button>
                </td>
                {% else %}
                <td><span>仓库将近乎及时地备份在 Dropbox，可以直接使用 git clone，不能公开该地址</span></td>
                <td>
                    <button class="enable_dropbox_sync btn btn-mini btn-primary">启用</button>
                </td>
                {% endif %}
            </tr>
            <tr class="span1">
                <td><strong>Deploy URL</strong>：</td>
                {% if repo.deploy_url and repo.deploy_url != '' %}
                <td>https://{{ repo.deploy_url }}@gitshell.com/{{user_name}}/{{repo_name}}.git</td>
                <td>
                    <button class="generate_deploy_url btn btn-mini btn-warning">重新生成</button>
                    <button class="forbid_dploy_url btn btn-mini btn-danger">禁止</button>
                </td>
                {% else %}
                <td><span>deploy url 是 git 只读、不需要权限验证的 clone 地址，用于发布、部署，不能公开该地址</span></td>
                <td>
                    <button class="generate_deploy_url btn btn-mini btn-primary">生成</button>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    $('.generate_deploy_url').click(function(){
        $.post('/{{user_name}}/{{repo_name}}/generate_deploy_url/', {csrfmiddlewaretoken: $('meta[name=csrf-token]').attr("content")}, function(json){
            window.location.href = window.location.href;
        });
    });
    $('.forbid_dploy_url').click(function(){
        $.post('/{{user_name}}/{{repo_name}}/forbid_dploy_url/', {csrfmiddlewaretoken: $('meta[name=csrf-token]').attr("content")}, function(json){
            window.location.href = window.location.href;
        });
    });
    $('.enable_dropbox_sync').click(function(){
        $.post('/{{user_name}}/{{repo_name}}/enable_dropbox_sync/', {csrfmiddlewaretoken: $('meta[name=csrf-token]').attr("content")}, function(json){
            window.location.href = window.location.href;
        });
    });
    $('.disable_dropbox_sync').click(function(){
        $.post('/{{user_name}}/{{repo_name}}/disable_dropbox_sync/', {csrfmiddlewaretoken: $('meta[name=csrf-token]').attr("content")}, function(json){
            window.location.href = window.location.href;
        });
    });
});
</script>{% endblock %}
