{% extends "repo/repo.html" %}
{% block subcontainer %}
<style>
#i_repomembers td { border-top: 0px; font-size: 16px}
.small-header {margin-top: 0px; margin-bottom: 10px;padding-bottom: 8px}
.repo_chart {min-width: 400px; height: 200px; margin: 0 auto}
</style>
<div class="span6">
    <div class="page-header small-header">
        <h4>最近一天提交<small>
        </small></h4>
    </div>
    <div><div id="id_day_container" class="repo_chart"></div></div>
    <div class="page-header small-header">
        <h4>最近一周提交<small>
        </small></h4>
    </div>
    <div><div id="id_week_container" class="repo_chart"></div></div>
    <div class="page-header small-header">
        <h4>最近一月提交<small>
        </small></h4>
    </div>
    <div><div id="id_month_container" class="repo_chart"></div></div>
    <div class="page-header small-header">
        <h4>最近一年提交<small>
        </small></h4>
    </div>
    <div><div id="id_year_container" class="repo_chart"></div></div>
</div>
<div class="span5">
    <div class="page-header small-header">
        <h4>贡献者<small>
    </div>
    <div><div id="id_contributor_week_container" class="repo_chart"></div></div>
    <div><div id="id_contributor_month_container" class="repo_chart"></div></div>
    <div class="page-header small-header">
        <h4>空间使用情况<small>
    </div>
    <div><div id="id_space_container" class="repo_chart"></div></div>
</div>
{% endblock %}
{% block subjs %}
<script src="/static/js/app/highcharts/highcharts.js"></script>
<script>
$(function(){
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    var last12hours = {{last12hours}};
    var last7days = {{last7days}};
    var last30days = {{last30days}};
    var last12months = {{last12months}};
    var last12hoursAsCat = [];
    var last7daysAsCat = [];
    var last30daysAsCat = [];
    var last12monthsAsCat = [];
    for(x in last12hours) {
        last12hoursAsCat.push(new Date(last12hours[x]*1000).getHours() + 'h');
    }
    last12hoursAsCat.reverse()
    for(x in last7days) {
        var d = new Date(last7days[x]*1000) 
        last7daysAsCat.push(d.getMonth()+1+'/'+d.getDate());
    }
    last7daysAsCat.reverse()
    for(x in last30days) {
        last30daysAsCat.push(new Date(last30days[x]*1000).getDate());
    }
    last30daysAsCat.reverse()
    for(x in last12months) {
        last12monthsAsCat.push((new Date(last12months[x]*1000).getMonth()+1) + 'm');
    }
    last12monthsAsCat.reverse()
    
    var day_chart = new Highcharts.Chart({
        chart: { renderTo: 'id_day_container', type: 'line'},title: {text: ''},
        yAxis: { title: { text: '提交次数' } },
        plotOptions: { line: { dataLabels: { enabled: true }, enableMouseTracking: false } },
        xAxis: { categories: last12hoursAsCat },
        series: [{ name: '1 天提交', data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8] }]
    });
    var week_chart = new Highcharts.Chart({
        chart: { renderTo: 'id_week_container', type: 'line'},title: {text: ''},
        yAxis: { title: { text: '提交次数' } },
        plotOptions: { line: { dataLabels: { enabled: true }, enableMouseTracking: false } },
        xAxis: { categories: last7daysAsCat },
        series: [{ name: '1 周提交', data: [1, 2, 3, 4, 5, 6, 7] }]
    });
    var month_chart = new Highcharts.Chart({
        chart: { renderTo: 'id_month_container', type: 'line'},title: {text: ''},
        yAxis: { title: { text: '提交次数' } },
        plotOptions: { line: { dataLabels: { enabled: true }, enableMouseTracking: false } },
        xAxis: { categories: last30daysAsCat },
        series: [{ name: '1 月提交', data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30] }]
    });
    var year_chart = new Highcharts.Chart({
        chart: { renderTo: 'id_year_container', type: 'line'},title: {text: ''},
        yAxis: { title: { text: '提交次数' } },
        plotOptions: { line: { dataLabels: { enabled: true }, enableMouseTracking: false } },
        xAxis: { categories: last12monthsAsCat },
        series: [{ name: '1 年提交', data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8] }]
    });
    var contributor_week_chart = new Highcharts.Chart({
        chart: { renderTo: 'id_contributor_week_container', type: 'bar'},title: {text: ''},
        yAxis: { title: { text: '空间使用情况' } },
        plotOptions: { bar: { dataLabels: { enabled: true } } },
        xAxis: { categories: ['使用空间', '全部空间'] },
        series: [{ name: '一周贡献者提交统计', data: [100, 20] }]
    });
    var contributor_month_chart = new Highcharts.Chart({
        chart: { renderTo: 'id_contributor_month_container', type: 'bar'},title: {text: ''},
        yAxis: { title: { text: '空间使用情况' } },
        plotOptions: { bar: { dataLabels: { enabled: true } } },
        xAxis: { categories: ['使用空间', '全部空间'] },
        series: [{ name: '一月贡献者提交统计', data: [100, 20] }]
    });
    var space_chart = new Highcharts.Chart({
        chart: { renderTo: 'id_space_container', type: 'bar'},title: {text: ''},
        yAxis: { title: { text: '空间使用情况' } },
        plotOptions: { bar: { dataLabels: { enabled: true } } },
        xAxis: { categories: ['使用空间', '全部空间'] },
        series: [{ name: '单位 kb', data: [100, 20] }]
    });
});
</script>
{% endblock %}
