{% extends "repo/repo.html" %}
{% block subcontainer %}
<!--TODO refactor-->
<style>
</style>
<h2 class="heading">
    标签
{% if is_repo_member %}
    <a href="#tag-manage" class="btn pull-right tag-manage">管理</a>
{% endif %}
</h2>
<div id="tags">
</div>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $.post('/{{user_name}}/{{repo_name}}/refs/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
        var html = [];
        var detail_commit = json.refs_meta.detail_commit;
        var tags = json.refs_meta.tags;
        var current_refs = '{{refs}}';
        html.push('<table class="table table-striped"><tbody>');
        for(x in tags) {
            html.push('<tr>');
            var tag = tags[x];
            var commit = detail_commit[tag];
            html.push('<td><h2><a href="/{{user_name}}/{{repo_name}}/tree/' + tag + '">' + tag + '</a></h2></td>');
            html.push('<td><span class="muted">由 ' + commit.committer_name + ' <span class="c_unixtime">' + commit.committer_date + '</span>提交: ' + commit.commit_message + '</span></td>');
            html.push('<td class="actions">');
            html.push('<a href="/{{user_name}}/{{repo_name}}/refs/graph/' + tag + '/" class="btn btn-mini">Graph</a>');
            html.push('<a href="javascript:;" data-tag="' + tag + '"class="btn btn-danger btn-mini tag-action hide tag-delete">Delete</a>');
            html.push('</td>');
            html.push('</tr>');
        }
        html.push('</tbody></table>');
        $('#tags').html(html.join(''));
    });
    $('.tag-manage').live('click', function(){
        if($(this).hasClass('btn-success')) {
            $(this).removeClass('btn-success')
            $('.tag-action').hide();
        } else {
            $(this).addClass('btn-success')
            $('.tag-action').show();
        }
    });
    $('.tag-delete').live('click', function(){
        var tag = $(this).data('tag');
        var tr = $(this).parents('tr');
        $.post('/{{user_name}}/{{repo_name}}/refs/tag/delete/' + tag + '/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            tr.hide();
        });
    });
});
</script>
{% endblock %}
