{% extends "repo/repo.html" %}
{% block subcontainer %}
<!--TODO refactor-->
<style>
</style>
<h2>Tags</h2>
<div id="tags">
</div>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $.post('/{{user_name}}/{{repo_name}}/refs/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
        var html = [];
        var detail_commit = json.refs_meta.detail_commit;
        var tags = json.refs_meta.tags;
        html.push('<table class="table table-striped"><tbody>');
        for(x in tags) {
            html.push('<tr>');
            var tag = tags[x];
            var commit = detail_commit[tag];
            html.push('<td><h2><a href="/{{user_name}}/{{repo_name}}/tree/' + tag + '">' + tag + '</a></h2></td>');
            html.push('<td><span class="muted">由' + commit.author + '<span class="c_unixtime">' + commit.committer_date + '</span>提交: ' + commit.commit_message + '</span></td>');
            html.push('<td>');
            html.push('<a href="/{{user_name}}/{{repo_name}}/refs/graph/' + tag + '/"><button type="button" class="btn">分支图</button></a>');
            html.push('</td>');
            html.push('</tr>');
        }
        html.push('</tbody></table>');
        $('#tags').html(html.join(''));
        $('.c_unixtime').each(function(index){ 
            $(this).html(moment(new Date($(this).html()*1000)).fromNow());
            $(this).show();
        });
    });
});
</script>
{% endblock %}
