{% extends "repo/repo.html" %}

{% block css %}
{% endblock %}

{% block bubble_inner_class_name %} files{% endblock %}

{% block subcontainer %}
<div class="file-list">
    <header class="header clearfix">
        {% include "repo/branch_nav.html" %}
        <span class="pull-right">
            <a href="/{{user_name}}/{{repo_name}}/commits/{{refs}}/{{path}}" class="btn btn-mini">Commits</a>
        </span>
    </header>

    <div class="repo-tree">
        <table class="table">
            <tbody>
            {% if not tree %}
            <tr>
                <td>
                    <p class="info text-error"><i class="icon-bell"></i>没有源代码、二进制文件，或者没有查看源代码权限，半公开和私有项目需要申请成为成员才能查看源代码。</p>
                </td>
            </tr>
            {% endif %}

            {% for file_attrs in tree.tree %}
            <tr>
                <td class="icon">
                    <!--dir and file image-->
                    {% if file_attrs.type == 'tree' %}
                        <i class="icon-folder-open"></i>
                    {% else %}
                        <i class="icon-file"></i>
                    {% endif %}
                </td>
                <td class="file-name">
                    <a href="/{{user_name}}/{{repo_name}}/{%if file_attrs.type == 'tree'%}tree{%else%}blob{%endif%}/{{refs}}/{%if path != '.' %}{{path}}{%endif%}{{file_attrs.relative_path}}" title="{{file_attrs.relative_path}}">{{file_attrs.relative_path}}</a>
                </td>
                <td class="commit-info">
                    {% if file_attrs.last_commit_message|length > 80 %}
                        <a href="javascript:void(0)" data-toggle="popover" data-content="{{file_attrs.last_commit_message}}" data-placement="bottom" class="commit">{{file_attrs.last_commit_message|truncatechars:80}}</a>
                    {% else %}
                        <a href="javascript:void(0)" class="commit">{{file_attrs.last_commit_message}}</a>
                    {% endif %}
                    <a href="/{{file_attrs.author_name}}/" class="commiter">@{{file_attrs.author_name}}</a>
                <td class="date">
                    <span class="date unixtime">{{file_attrs.author_time}}</span></td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--TODO readme.md -->
        {% if readme_md %}
        <div id="README.md" class="readme">
          <pre id="id_readme_md">{{readme_md}}</pre>
        </div>
        {% endif %}
    </div>
 </div>

{% endblock %}

{% block subjs %}
{% if readme_md %}
<script src="/static/js/min/markdown.min.js?timestamp={{gitshell.timestamp}}"></script>
{% endif %}
<script>
$(function(){
    set_path_href = function() {
        var base_href_path = '/{{user_name}}/{{repo_name}}/tree/{{refs}}/';
        var path = '{{path}}';
        if(path == '.') {
            return;
        }
        var paths = path.split('/');
        path_href_html = '';
        for(x in paths) {
            subpath = paths[x];
            if(subpath == '') {
                break;
            }
            base_href_path = (base_href_path + subpath + '/');
            if(path.substr(-1) === "/") {
                if(x != (paths.length-2)) {
                    path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
                } else {
                    path_href_html = (path_href_html + ' ' + subpath + ' /');
                }
            } else {
                if(x != (paths.length-1)) {
                    path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
                } else {
                    path_href_html = (path_href_html + ' ' + subpath);
                }
            }
        }
        $('#repo-path').html(path_href_html);
    };
    set_path_href();

    // TODO readme_md area
    {% if readme_md %}
        var converter = new Markdown.getSanitizingConverter();
        var html = converter.makeHtml($('#id_readme_md').html());
        $('#id_readme_md').html(html);
    {% endif %}
    $('[data-toggle="popover"]').popover({ animation: false });
});
</script>

{% endblock %}

