{% extends "repo/repo.html" %}

{% block css %}
    <link href="/static/css/app/highlight/github.css" rel="stylesheet">
{% endblock %}

{% block bubble_inner_class_name %} files{% endblock %}

{% block subcontainer %}
<div class="file-list">
    <header class="header clearfix">
        {% include "repo/branch_nav.html" %}
        <span class="pull-right">
            <a href="/{{user_name}}/{{repo_name}}/commits/{{refs}}/{{path}}" class="btn btn-mini">Commits</a>
        </span>
    </header>

    <div class="repo-tree">
        <table class="table">
            <tbody>
            {% if not tree %}
            <tr>
                <td>
                    <p class="info text-error"><i class="icon-bell"></i>没有源代码、二进制文件，或者没有查看源代码权限，半公开和私有项目需要申请成为成员才能查看源代码。</p>
                </td>
            </tr>
            {% endif %}

            {% for file, attrs in tree.items %}
            <tr>
                <td class="icon">
                    <!--dir and file image-->
                    {% if attrs.0 == 'tree' %}
                        <i class="icon-folder-open"></i>
                    {% else %}
                        <i class="icon-file"></i>
                    {% endif %}
                </td>
                <td class="file-name">
                    <a href="/{{user_name}}/{{repo_name}}/{%if attrs.0 == 'tree'%}tree{%else%}blob{%endif%}/{{ refs }}/{%if path != '.' %}{{ path }}{%endif%}{{ file }}" title="{{ file }}">{{ file }}</a>
                </td>
                <td class="commit-info">
                    {% if attrs.4|length > 80 %}
                        <a href="javascript:void(0)" data-toggle="popover" data-content="{{attrs.4}}" data-placement="bottom" class="commit">{{ attrs.4|truncatechars:80 }}</a>
                    {% else %}
                        <a href="javascript:void(0)" class="commit">{{ attrs.4 }}</a>
                    {% endif %}
                    <a href="/{{attrs.3}}/" class="commiter">@{{ attrs.3 }}</a>
                <td class="date">
                    <span class="date unixtime">{{ attrs.2 }}</span></td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--TODO readme.md -->
        {% if readme_md %}
        <div>
            <pre id="id_readme_md" style="margin-top: 12px">{{ readme_md }}</pre>
        </div>
        {% endif %}
    </div>
 </div>

{% endblock %}

{% block subjs %}
{% if readme_md %}
<script src="/static/js/Markdown.Converter.js"></script>
<script src="/static/js/Markdown.Editor.js"></script>
<script src="/static/js/Markdown.Sanitizer.js"></script>
{% endif %}
<script>
$(function(){
    set_path_href = function() {
        var base_href_path = '/{{user_name}}/{{repo_name}}/tree/{{refs}}/';
        var path = '{{path}}';
        if(path == '.') {
            return;
        }
        var paths = path.split('/');
        path_href_html = '';
        for(x in paths) {
            subpath = paths[x];
            if(subpath == '') {
                break;
            }
            base_href_path = (base_href_path + subpath + '/');
            if(path.substr(-1) === "/") {
                if(x != (paths.length-2)) {
                    path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
                } else {
                    path_href_html = (path_href_html + ' ' + subpath + ' /');
                }
            } else {
                if(x != (paths.length-1)) {
                    path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
                } else {
                    path_href_html = (path_href_html + ' ' + subpath);
                }
            }
        }
        $('#repo-path').html(path_href_html);
    };
    set_path_href();

    // TODO readme_md area
    {% if readme_md %}
        var converter = new Markdown.getSanitizingConverter();
        var html = converter.makeHtml($('#id_readme_md').html());
        $('#id_readme_md').html(html);
    {% endif %}

    $('[data-toggle="popover"]').hover(function(){
        $(this).popover('show');
    }, function(){
        $(this).popover('hide');
    });
});
</script>

{% endblock %}

