{% extends "repo/repo.html" %}

{% block subcontainer %}

	<div class="repo-file-container">

		<div class="repo-meta clearfix">
			<a href="/{{user_name}}/{{repo_name}}/tree/{{refs}}/" class="repo-name">{{repo_name}}</a>
			<a href="/{{user_name}}/{{repo_name}}/commits/{{refs}}/{{path}}" class="commit-history label label-info">历史提交</a>
			{% if not is_tree %}
				<a href="/{{user_name}}/{{repo_name}}/raw/tree/{{refs}}/{{path}}" class="origin-file label label-info">原始文件</a>
			{% endif %}
    </div>

    {% if is_tree %}

			<div class="file-container">
			<table class="table frame">
			<colgroup>
				<col class="icon">
				<col class="file-name">
				<col class="commit-data">
				<col class="commiter">
			</colgroup>
				<tbody>
					{% if not tree %}
						<tr>
							<td><p class="info">没有源代码、二进制文件，或者没有查看源代码权限，半公开和私有项目需要申请成为成员才能查看源代码。</p></td>
						</tr>
					{% endif %}

					{% for file, attrs in tree.items %}
						<tr>
							<td class="icon">
								{% if attrs.0 == 'tree' %}
									<i class="icon-folder-close"></i>
								{% else %}
									<i class="icon-file"></i> 
								{% endif %}
							</td>
							<td>
								{% if current == 'index' %}
									<a href="tree/{{ refs }}/{{ file }}" title="{{ file }}">{{ file }}</a>
								{% else %}
									<a href="{{ file }}" title="{{ file }}">{{ file }}</a>
								{% endif %}
							</td>
							<td><span class="c_unixtime hide">{{ attrs.2 }}</span></td>
							<td>{{ attrs.4 }} [<a href="/{{attrs.3}}/">{{attrs.3}}</a>]</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>

    {% else %}

			<div id="i_source_code">
				{% if not blob %}
					<p class="info">没有源代码、二进制文件; 或者没有查看源代码权限，半公开和私有项目需要申请成为成员才能查看源代码。</p>
				{% else %}
					{% if is_markdown %}
						<pre id="id_markdown_content">{{ blob }}</pre>
					{% else %}
						<pre class="brush: {{ brush }}; ">{{ blob }}</pre>
					{% endif %}
				{% endif %}
			</div>

    {% endif %}

	</div>		  

{% endblock %}

{% block subjs %}

{% if not is_tree %}
	<script src='/static/js/app/syntaxhighlighter/shCore.js' type='text/javascript'></script>
	<script src='/static/js/app/syntaxhighlighter/shAutoloader.js' type='text/javascript'></script>
	<script src='/static/js/app/syntaxhighlighter/shBrush{{ lang }}.js' type='text/javascript'></script>
{% endif %}

{% if is_markdown %}
	<script src="/static/js/Markdown.Converter.js"></script>
	<script src="/static/js/Markdown.Editor.js"></script>
	<script src="/static/js/Markdown.Sanitizer.js"></script>
{% endif %}

<script>
	$(function(){
			$('.c_unixtime').each(function(index){ 
					$(this).html(moment(new Date($(this).html()*1000)).fromNow());
					$(this).show();
			});
			set_path_href = function() {
					var base_href_path = '/{{user_name}}/{{repo_name}}/tree/{{refs}}/';
					var path = '{{path}}';
					if(path == '.') {
							return;
					}
					var paths = path.split('/');
					path_href_html = '';
					for(x in paths) {
							subpath = paths[x];
							if(subpath == '') {
									break;
							}
							base_href_path = (base_href_path + subpath + '/');
							if(path.substr(-1) === "/") {
									if(x != (paths.length-2)) {
											path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
									} else {
											path_href_html = (path_href_html + ' ' + subpath + ' /');
									}
							} else {
									if(x != (paths.length-1)) {
											path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
									} else {
											path_href_html = (path_href_html + ' ' + subpath);
									}
							}
					}
					$('#i_repo_path').html(path_href_html);
			};
			set_path_href();
	{% if not is_tree and not is_markdown %}
			SyntaxHighlighter.all();
	{% endif %}
	{% if is_markdown %}
			var converter = new Markdown.getSanitizingConverter();
			var html = converter.makeHtml($('#id_markdown_content').html());
			$('#id_markdown_content').html(html);
			$('#id_markdown_content').show();
	{% endif %}
	});
</script>

{% endblock %}
