{% extends "base.html" %}

{% block container_class_name %}dashboard{% endblock %}
{% block container %}

<div class="subhead">
  <div class="container">
    <h2 class="heading">{{user_name}}的仓库列表</h2>
    <a href="/{{user.username}}/repo/create/" class="btn btn-success btn-small"><strong>+</strong>创建仓库</a>
  </div>
</div>

<div class="content user-repos">
  <div class="container bubble">

    <div class="primary">

      {% load humanize %}

      {% for repo in repo_list %}
        <section class="repo c_repo">
          <h3 class="heading"><a href="/{{user_name}}/{{repo.name}}/">{{repo.name}}</a></h3>
          <div class="actions btn-group">
            <a href="/{{user_name}}/{{repo.name}}/commits/" rel="tooltip" data-original-title="commit 次数" class="first btn btn-mini"><i class="icon-time"></i>{{repo.commit}}</a>
            <a href="/{{user_name}}/{{repo.name}}/clone_watch/" rel="tooltip" data-original-title="watch 次数" class="middle btn btn-mini"><i class="icon-eye-open"></i>{{repo.watch}}</a>
            <a href="/{{user_name}}/{{repo.name}}/clone_watch/" rel="tooltip" data-original-title="fork 次数" class="last btn btn-mini"><i class="icon-code-fork"></i>{{repo.fork}}</a>
          </div>
          <div class="detail">
            <p class="meta">创建于{{repo.create_time|date:"y/m/d"}}，最近更新{{repo.modify_time|date:"y/m/d H:i"}}</p> 
            <p class="description">{{repo.desc}}</p>
            <ul id="i_{{repo.name}}" class="list"></ul>
          </div>
        </section>
      {% endfor %}

    </div>

    <aside class="sidebar">
      <h2>仓库列表</h2>
      <ul class="nav nav-list">
        {% for repo in repo_list %}
          <li><a href="/{{user_name}}/{{repo.name}}/">{{repo.name}}</a></li>
        {% endfor %}
      </ul>
    </aside>

  </div>
</div>

{% endblock %}

{% block js %}
    <script>
    $(function(){
        moment.lang('zh-cn');
        orgi_repo_feed_map = {{repo_feed_map|safe}};
        var do_repo_feeds = function() {
            all_ids = [];
            for (x in orgi_repo_feed_map) {
                all_ids = all_ids.concat(orgi_repo_feed_map[x]);
            }
            all_ids_str = all_ids.join('_');
            $.ajax({
                url: '/ajax/feed/ids/',
                type: 'POST',
                data: {'ids_str': all_ids_str, csrfmiddlewaretoken: '{{csrf_token}}'},
                dataType: 'json',
                timeout: 10000,
                error: function(){
                    //alert('');
                },
                success: function(json){
                    var repo_feed_map = {};
                      for (x in json.feeds) {
                          repo_feed_map[json.feeds[x]['id']] = json.feeds[x] 
                      }
                    for (x in orgi_repo_feed_map) {
                        html = []
                        if (orgi_repo_feed_map[x].length > 0) {
                          $('#i_' + x  + '_feed_history').show();
                        }
                        for (y in orgi_repo_feed_map[x]) {
                            if(repo_feed_map.hasOwnProperty(orgi_repo_feed_map[x][y])) {
                                feed = repo_feed_map[orgi_repo_feed_map[x][y]];
                                if(feed.relative_obj === undefined) {
                                    continue;
                                }
                                if(feed.feed_type == 0) {
                                    commit = feed.relative_obj;
                                    html.push('<li><code><a href="/{{user_name}}/' + commit.repo_name + '/">' + commit.commit_hash + '</a></code> ' + commit.subject + ' <span class="date">' + commit.author + ' ' + moment(new Date(commit.committer_date*1000)).fromNow() + '</span></li>');
                                } else if(feed.feed_type == 300 || feed.feed_type == 301 || feed.feed_type == 302) {
                                    issue = feed.relative_obj;
                                    action = 'create issue';
                                    detail = '';
                                    if(feed.feed_type == 300) {
                                        action = 'create issue';
                                    } else if(feed.feed_type == 301) {
                                        action = 'update issue';
                                    } else if(feed.feed_type == 302) {
                                        action = 'change issue';
                                        detail = feed.first_refname;
                                    }
                                    html.push('<li>' + action + ' #' + issue.id + ' on <strong><a href="/'+ issue.username + '/' + issue.reponame +'/">' + issue.reponame + '</a></strong> ' + detail + '<div><a href="/'+issue.username+'/'+issue.reponame+'/issues/'+issue.id+'/">#' + issue.id + ' ' + issue.subject + '</a> <span class="muted">' + moment(new Date(issue.create_time*1000)).fromNow() + '</span></div>')
                                    html.push('</li>');
                                }
                            }
                        }
                        $('#i_'+x).append(html.join(''));
                    }
                }
            })
        };
        do_repo_feeds();
        $('.c_repo').tooltip({ selector: "a[rel=tooltip]" });
    });
    </script>
{% endblock %}
