# Django settings for gitshell project.
import logging

DEBUG = ${debug}
TEMPLATE_DEBUG = ${template_debug}

ADMINS = (
    ('cloudzhou', 'cloudzhou@163.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'gitshelldb',
        'USER': '${user}',
        'PASSWORD': '${password}',
        'HOST': '${host}',
        'PORT': '3306',
    }
}
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.PyLibMCCache',
        'LOCATION': '127.0.0.1:11211',
        'TIMEOUT': 1800,
    }
}
KEY_PREFIX = 'gs_'

TIME_ZONE = 'Asia/Shanghai'
LANGUAGE_CODE = 'zh_CN'
DEFAULT_CHARSET = 'UTF-8'
SITE_ID = 1
USE_I18N = False
USE_L10N = True
MEDIA_ROOT = '/opt/app/static/static/media/'
MEDIA_URL = 'http://www.gitshell.com/static/media'
STATIC_ROOT = '/opt/app/static/static/'
STATIC_URL = '/static/'
ADMIN_MEDIA_PREFIX = '/static/admin/'
SESSION_COOKIE_AGE = 86400
LOGIN_URL = '/login/'

STATICFILES_DIRS = (
)

# List of finder classes that know how to find static files in
# various locations.
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
#    'django.contrib.staticfiles.finders.DefaultStorageFinder',
)

# Make this unique, and don't share it with anybody.
SECRET_KEY = '${secret_key}'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
#     'django.template.loaders.eggs.Loader',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'gitshell.gsuser.middleware.UserprofileMiddleware',
    'gitshell.gsuser.middleware.UserAccessLimitMiddleware',
    'gitshell.gsuser.middleware.ExceptionLoggingMiddleware',
)

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.contrib.auth.context_processors.auth',
    'django.core.context_processors.debug',
    'django.core.context_processors.i18n',
    'django.core.context_processors.media',
    'django.core.context_processors.static',
    'django.contrib.messages.context_processors.messages',
    'django.core.context_processors.csrf',
    'gitshell.gsuser.middleware.userprofile',
    'gitshell.gsuser.middleware.mainnav',
    'gitshell.gsuser.middleware.gitshell',
)

ROOT_URLCONF = 'gitshell.urls'

TEMPLATE_DIRS = (
    '${template_dirs}',
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'django.contrib.humanize',
    'captcha',
    'gitshell.keyauth',
    'gitshell.dist',
    'gitshell.keyvalue',
    'gitshell.gsuser',
    'gitshell.repo',
    'gitshell.issue',
    'gitshell.stats',
    'gitshell.viewtools',
    'gitshell.feed',
    'gitshell.todolist',
    'gitshell.team',
    # 'django.contrib.admin',
    # 'django.contrib.admindocs',
)

# See http://docs.djangoproject.com/en/dev/topics/logging
logger = logging.getLogger('gitshell')

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s'
        },
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'class': 'django.utils.log.AdminEmailHandler',
        },
        'file': {
            'level': 'INFO',
            'formatter': 'verbose',
            'class': 'logging.handlers.TimedRotatingFileHandler',
            'filename': '${logging_file_path}',
            'when' : 'midnight',
            'interval' : 1,
            'backupCount' : 30,
        },
    },
    'loggers': {
        'gitshell': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
    }
}

REPO_PATH = '/opt/repo/set'
GIT_BARE_REPO_PATH = '/opt/repo/gitbare'
DELETE_REPO_PATH = '/opt/repo/delete'
PULLREQUEST_REPO_PATH = '/opt/repo/pullrequest'

REDIS_HOST = '127.0.0.1'
REDIS_PORT = 6379
REDIS_SOCKET_TIMEOUT = 3

BEANSTALK_HOST = '127.0.0.1'
BEANSTALK_PORT = 11300

GITHUB_CLIENT_ID = '${github_client_id}'
GITHUB_CLIENT_SECRET = '${github_client_secret}'
DROPBOX_APP_KEY = '${dropbox_app_key}'
DROPBOX_APP_SECRET = '${dropbox_app_secret}'
DROPBOX_ACCESS_TOKEN = '${dropbox_access_token}'
DROPBOX_ACCESS_TOKEN_SECRET = '${dropbox_access_token_secret}'

TIMESTAMP = '${timestamp}'
MODE = '${mode}'
