{% extends "base.html" %}

{% block container_class_name %} bubble settings{% endblock %}

{% block container %}
    <section class="colgroup">
        <nav class="sidebar">
            <dl class="nav nav-list">
                <dt class="leader hide"><i class="icon-caret-down"></i>{{ user }}</dt>
                <dd>
                    <a href="/settings/profile/"{%if current == 'profile'%} class="active"{%endif%}><span>个人资料</span></a>
                    <a href="/settings/sshpubkey/"{%if current == 'sshpubkey'%} class="active"{%endif%}><span>SSH公匙</span></a>
                    <a href="/settings/emails/"{%if current == 'emails'%} class="active"{%endif%}><span>邮箱</span></a>
                    <a href="/settings/notif/"{%if current == 'notif'%} class="active"{%endif%}><span>通知</span></a>
                    <a href="/settings/changepassword/"{%if current == 'changepassword'%} class="active"{%endif%}><span>更改密码</span></a>
                    <a href="/settings/thirdparty/"{%if current == 'thirdparty'%} class="active"{%endif%}><span>GitHub关联</span></a>
                    {% if userprofile.prirepo == 0 and userprofile.pubrepo == 0 %}
                        <a href="/settings/change_username_email/"{%if current == 'change_username_email'%} class="active"{%endif%}><span>修改邮箱</span></a>
                    {% endif %}
                    <a href="/settings/destroy/"{%if current == 'destroy'%} class="active"{%endif%}><span>删除账户</span></a>
                </dd>
            </dl>
            <hr class="hr">
            <ul class="unstyledList repo-count">
                <li>
                    <h4>仓库数<span class="used">{{userprofile.get_total_repo}}</span><span class="divider">/</span><span class="capacity">100</span></h4>
                    <div class="progress">
                        <span class="bar" style="width: {{userprofile.get_used_repo_percent}}%;"></span>
                    </div>
                </li>
                <li>
                    <h4>仓库配额<span class="used">{{userprofile.get_readable_used_quote}}</span><span class="divider">/</span><span class="capacity">{{userprofile.get_readable_quote}}</span></h4>
                    <div class="progress progress-danger">
                        <span class="bar" style="width: {{userprofile.get_used_quote_percent}}%;"></span>
                    </div>
                </li>
            </ul>
        </nav>

        <section class="main bubble bubble-flat">
            {% block container-right %}{% endblock %}
        </section>
    </section>

{% endblock %}

