{% extends "base.html" %}

{% block container %}
<div class="bubble">
	<div class="bubble-header">
		<h2 class="title"><i class="icon-cog"></i>设置</h2>
	</div>
	<div class="bubble-inner clearfix">
		<div class="sidebar">
			<ul class="nav nav-list">
				<li class="leader"><i class="icon-caret-down"></i>{{ user }}</li>
				<li><a href="/settings/profile/">个人资料</a></li>
				<li class="active"><a href="/settings/sshpubkey/">SSH公钥</a></li>
				<li><a href="/settings/notif/">消息通知</a></li>
				<li><a href="/settings/changepassword/">修改密码</a></li>
				<li><a href="/settings/thirdparty/">GitHub 账户关联</a></li>
				{% if userprofile.prirepo == 0 and userprofile.pubrepo == 0 %}
					<li><a href="/settings/change_username_email/">修改用户名·登录邮箱</a></li>
				{% endif %}
				<li><a href="/settings/destroy/">刪除帐号</a></li>
			</ul>
			<hr class="hr">
			<div class="repo-count">
				<h4>仓库数目<span class="used text-warning">{{userprofile.get_total_repo}}</span><span class="divider">/</span><span class="capacity text-success">100</span></h4>
				<div class="progress">
					<div id="id_repo_count" class="bar" style="width: 0%;"></div>
				</div>
				<h4>仓库配额<span class="used text-warning">{{userprofile.used_quote}}</span><span class="divider">/</span><span class="capacity text-success">{{userprofile.quote}}</span></h4>
				<div class="progress progress-danger">
					<div id="id_quote_used" class="bar" style="width: 0%;"></div>
				</div>
			</div>
		</div>
		<div class="sidebody">
			<div class="inner">
				{% block container-right %}
				{% endblock %}
			</div>
		</div>
	</div>

	</div>
{% endblock %}

