{% extends "settings/base.html" %}
{% block container-right %}
<div class="span9">
    <h3 style="border-bottom:1px solid #EEEEEE; margin-bottom:15px;">
        修改密码<small>&nbsp;尽量包含数字和字母</small>
    </h3>
    <div>
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label for="id_old_password" class="control-label">老密码</label>
                    <div class="controls">
                        {{ changepasswordForm.old_password }}
                    </div>
                </div>
                <div class="control-group">
                    <label for="id_password" class="control-label">新密码</label>
                    <div class="controls">
                        {{ changepasswordForm.password }}
                    </div>
                </div>
                {% if error %}
                <div class="alert">
                    <a data-dismiss="alert" class="close">×</a>
                    <strong>出错了！</strong> {{ error }}
                </div>
                {% endif %}
                <div class="form-actions">
                    <button id="id_add_submit" class="btn btn-primary" type="submit">修改</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
/*global jQuery, window */
$(function(){
    var changepassword_init = function() {
        $('#id_old_password').attr('placeholder', '如果忘记了选择重置密码');
        $('#id_password').attr('placeholder', '保持一定复杂度');
    };
    changepassword_init();
});
</script>
{% endblock %}

