{% extends "settings/base.html" %}
{% block container-right %}
<div class="span9">
        <h3>删除帐号</h3>
        <p></p>
        <p>如果您对gitshell有诸多不满，想彻底删除帐号，不妨先联系 support AT gitshell.com，让我听听你的想法，知道我们哪里做得不好。</p>
        <p>gitshell 是一个纯粹的开发者社区，没有太多的私人社交信息，事实上，我们非常谨慎的添加社交元素，为了保证社区的纯洁和安静。假入您真的感到一些不舒服，想离开这个社区，按照以下的步骤：</p>
        <p>1) 删除所有的仓库</p>
        <p>2) 删除所有的公钥对</p>
        <p>3) 清空所有的个人信息</p>
        <p>4) 修改为自己不认识的长密码</p>
        <p>为了保证引用的完整性，gitshell不会直接删除帐号，假入您觉得这一切还不够，请联系 support AT gitshell.com。</p>
</div>
{% endblock %}
