{% extends "settings/base.html" %}
{% block container-right %}
    <h2 class="heading">删除帐号</h2>
    <div class="destroy-account">
        <p class="text-warning">如果您对gitshell有诸多不满，想<mark>彻底删除帐号，不妨先联系 <a href="mailto: support@gitshell.com">support@gitshell.com</a></mark>，让我听听你的想法，知道我们哪里做得不好。</p>
        <p>gitshell 是一个纯粹的开发者社区，没有太多的私人社交信息，事实上，我们非常谨慎的添加社交元素，为了保证社区的纯洁和安静。假如您真的感到一些不舒服，想离开这个社区，按照以下的步骤：</p>
        <p>1) 删除所有的仓库</br>
        2) 删除所有的公钥对</br>
        3) 清空所有的个人信息</br>
        4) 修改为自己不认识的长密码</p>
        <p class="text-error"><mark>为了保证引用的完整性，gitshell不会直接删除帐号，假如您觉得这一切还不够，请联系 <a href="mailto: support@gitshell.com">support@gitshell.com</a>。</mark></p>
    </div>
{% endblock %}
