{% extends "settings/base.html" %}
{% block container-right %}
    <h2 class="heading">关于删除帐号</h2>
    <div class="destroy-account">
        <p>gitshell 是一个纯粹的开发者社区，没有太多的私人社交信息，事实上，我们非常谨慎的添加社交元素，为了保证社区的纯洁和安静。假如您真的不想再待在Gitshell，可以按照以下的步骤删除相应的内容：</p>
        <ol>
          <li>删除您的所有仓库</li>
          <li>删除删除您所有的SSH公钥</li>
          <li>清空所有的个人信息,如有必填项建议可以填写"Goodbye,Gitshell"</li>
          <li>修改您的密码，当然您可以做的疯狂一些，不要犹豫q)2[]ond,xasl;m,l;xasn2aid都是允许的,尽情敲击您的键盘吧。</li>
        </ol>
        <p class="text-error"><mark>为了保证引用的完整性，gitshell不会直接删除帐号，假如您觉得这一切还不够，请联系 <a href="mailto: support@gitshell.com">support@gitshell.com</a>。</mark></p>
        <p class="text-warning">想<mark>彻底删除帐号，请先联系<a href="mailto: support@gitshell.com">support@gitshell.com</a></mark>，让我们听听您的想法，知道我们哪里做得不好。</p>
    </div>
{% endblock %}
          <li>修改您的密码，当然您要疯狂一些，所以qyuiuhxankj^21sxsaxas以及尽情敲击您的键盘吧。</li>
