{% extends "settings/base.html" %}

{% block container-right %}
    <h2 class="heading">管理SSH公匙</h2>
    <table class="table ssh">
      <colgroup>
        <col width="">
        <col width="md5">
        <col width="status">
        <col width="action">
      </colgroup>
        <thead>
          <tr>
            <th class="first">公钥标识</th>
            <th>指纹信息</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for userPubkey in userPubkey_all %}
            <tr>
              <td class="name">{{ userPubkey.name }}</td>
              <td class="md5">{{ userPubkey.fingerprint }}</td>
              <td class="status">正常</td>
              <td class="action">
                <button id="i_remove_{{ userPubkey.id }}" value="{{ userPubkey.id }}" class="c_remove_sshpubkey btn btn-mini">删除</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <form id="i_do_sshpubkey_form" class="form-horizontal ssh" action="/settings/sshpubkey/remove/" method="post">
      {% csrf_token %}
      {{ doSshpubkeyForm.pubkey_id }}
      {{ doSshpubkeyForm.action }}
    </form>

    <form class="form-horizontal ssh" action="" method="post">
      <fieldset>
        <legend class="heading">添加SSH公匙</legend>
        {% csrf_token %}
          <div class="control-group">
            <label for="id_pubkey_name" class="control-label">公钥标识</label>
            <div class="controls">
              {{ sshpubkeyForm.pubkey_name }}
            </div>
          </div>
          <div class="control-group">
            <label for="id_pubkey" class="control-label">公钥</label>
            <div class="controls">
              {{ sshpubkeyForm.pubkey }}
            </div>
          </div>
          {% if error %}
          <div class="alert">
            <a data-dismiss="alert" class="close">×</a>
            <strong>出错了！</strong> {{ error }}
          </div>
          {% endif %}
          <div class="control-group">
            <div class="controls">
              <button id="id_add_submit" class="btn btn-large" type="submit">创建</button>
            </div>
          </div>
      </fieldset>
    </form>
{% endblock %}

{% block js %}
<script>
$(function(){
        $('#i_do_sshpubkey_form').hide()
    var pubkey_init = function() {
        $('#id_pubkey_name').attr('placeholder', '例如: 公司,笔记本,开发环境');
        $('#id_pubkey').attr('placeholder', 'id_rsa.pub文本内容, 最多10个key');
        $('#id_pubkey_name').addClass('input-xlarge');
        $('#id_pubkey').addClass('input-xlarge');
    },
    remove_ssh_publickey = function() {
        if($(this).html() == '删除') {
            $(this).html('确定删除');
            return;
        }
        if($(this).html() == '确定删除') {
            $('#id_pubkey_id').val($(this).val());
            $('#id_action').val('remove');
            $('#i_do_sshpubkey_form').submit()
        }
    };
    pubkey_init();
    $('.c_remove_sshpubkey').on('click', remove_ssh_publickey);
});
</script>
{% endblock %}

