{% extends "settings/base.html" %}

{% block container-right %}
<div>
    <h2 class="heading">
      您加入的团队
      <a href="/settings/team/create/" class="label label-success">创建新的团队</a>
    </h2>
    <table class="table team">
        <colgroup>
            <col width="">
            <col width="action">
        </colgroup>
        <tbody>
            {% for teamMember in teamMembers %}
            <tr>
                <td class="name">
                    <a href="/{{ teamMember.team_user.username }}/">{{ teamMember.team_user.username }}</a>
                </td>
                <td class="rights">
                    {% if teamMember.has_admin_rights %}
                        <button class="btn btn-success">管理员</button>
                    {% endif %}
                    <input id="rights-{{teamMember.id}}" type="checkbox" class="team-rights rights-pull" data-id="{{teamMember.id}}" value="0"{% if teamMember.has_read_rights %} checked="checked"{% endif %}>
                    <label for="rights-{{teamMember.id}}">Pull</label>
                    <input id="rights-{{teamMember.id}}" type="checkbox" class="team-rights rights-push" data-id="{{teamMember.id}}" value="0"{% if teamMember.has_write_rights %} checked="checked"{% endif %}>
                    <label for="rights-{{teamMember.id}}">Push</label>
                </td>
                <td class="action">
                    <button data-id="{{ teamMember.id }}" class="leave-team btn">退出</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script>
$(function(){
    $('.rights-pull').click(function(){
        var teamMember_id = $(this).data('id');
        $.post('/settings/team/rights/pull/', {csrfmiddlewaretoken: '{{ csrf_token }}', 'teamMember_id': teamMember_id}, function(json){
            window.location.href = '/settings/team/';
        });
    });
    $('.rights-push').click(function(){
        var teamMember_id = $(this).data('id');
        $.post('/settings/team/rights/push/', {csrfmiddlewaretoken: '{{ csrf_token }}', 'teamMember_id': teamMember_id}, function(json){
            window.location.href = '/settings/team/';
        });
    });
    $('.leave-team').click(function(){
        var team_id = $(this).data('id');
        $.post('/settings/team/leave/', {csrfmiddlewaretoken: '{{ csrf_token }}', 'teamMember_id': teamMember_id}, function(json){
            window.location.href = '/settings/team/';
        });
    });
});
</script>
{% endblock %}

