{% extends "settings/base.html" %}

{% block container-right %}
<div>
    <h2 class="heading">
      您加入的团队
      <a href="/settings/team/create/" class="label label-success">创建新的团队</a>
    </h2>
    <table class="table team">
        <colgroup>
            <col width="">
            <col width="action">
        </colgroup>
        <tbody>
            {% for team_member in team_members %}
            <tr>
                <td class="name">
                    {{ teamprofile.name }}
                </td>
                <td class="rights">
                    {% if team_member.has_admin_rights %}
                        <button class="btn btn-success">管理员</button>
                    {% endif %}
                    <input id="rights-{{team_member.id}}" type="checkbox" class="team-rights rights-pull" data-id="{{team_member.id}}" value="0"{% if team_member.has_read_rights %} checked="checked"{% endif %}>
                    <label for="rights-{{team_member.id}}">Pull</label>
                    <input id="rights-{{team_member.id}}" type="checkbox" class="team-rights rights-push" data-id="{{team_member.id}}" value="0"{% if team_member.has_write_rights %} checked="checked"{% endif %}>
                    <label for="rights-{{team_member.id}}">Push</label>
                </td>
                <td class="action">
                    <button data-id="{{ team_member.id }}" class="leave-team btn">退出</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script>
/*global jQuery, window */
$(function(){
    $('.rights-pull').click(function(){
        var team_member_id = $(this).data('id');
        $.post('/settings/team/rights/pull/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            window.location.href = '/settings/team/';
        });
    });
    $('.rights-push').click(function(){
        var team_member_id = $(this).data('id');
        $.post('/settings/team/rights/push/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            window.location.href = '/settings/team/';
        });
    });
    $('.leave-team').click(function(){
        var team_id = $(this).data('id');
        $.post('/settings/team/leave/', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json){
            window.location.href = '/settings/team/';
        });
    });
});
</script>
{% endblock %}

