{% extends "base.html" %}
{% block css %}
#id_captcha_1 {display:block;margin-top:10px;}
{% endblock %}
{% block container %}
<div class="page-header">
        <h1>:-), 登录 <small>还没有帐号？立即<a href="/join/">注册</a></small></h1>
</div>
<div class="row">
    <div class="span7">
        <form class="form-horizontal" action="/login/" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label for="id_email" class="control-label">邮箱</label>
                    <div class="controls">
                        {{ loginForm.email }}
                    </div>
                </div>
                <div class="control-group">
                    <label for="id_password" class="control-label">密码</label>
                    <div class="controls">
                        {{ loginForm.password }}
                    </div>
                </div>
                <div class="control-group">
                    <label for="id_captcha_1" class="control-label">验证码</label>
                    <div class="controls">
                        {{ loginForm.captcha }}
                    </div>
                </div>
                <div class="control-group">
                    <label for="id_rememberme" class="checkbox">
                        <div class="controls">
                            {{ loginForm.rememberme }}
                            下次自动登录&nbsp;|&nbsp;<a href="/resetpassword/">忘记密码了</a>
                        </div>
                    </label>
                </div>
                {% if error %}
                <div class="alert">
                    <a data-dismiss="alert" class="close">×</a>
                    <strong>出错了！</strong> {{ error }}
                </div>
                {% endif %}
                <div class="form-actions">
                    <button id="id_login_submit" class="btn btn-primary" type="submit">登录</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/md5.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var md5_user_passwd = function() {
        $('#id_password').val(window.md5($('#id_password').val()));
    },
    login_init = function() {
        $('#id_email').attr('placeholder', '输入邮箱');
        $('#id_password').attr('placeholder', '输入密码，注意大小写');
        $('#id_captcha_1').attr('placeholder', '输入验证码');
    };
    login_init();
    $('#id_login_submit').on('click', md5_user_passwd);
});
</script>
{% endblock %}
