<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}gitshell - 你的代码托管{% endblock %}</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="GitShell 专注git代码托管, 项目开发, 个人技能" name="description">
		<meta content="gitshell" name="author">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="/static/less/gitshell.less" rel="stylesheet/less" type="text/css">
		<script>
			less = {
				env: "development"
			}
		</script>
		<script src="/static/js/less-1.4.0.min.js"></script>
		{% block css %}{% endblock %}
		<link rel="shortcut icon" href="/static/img/favicon.ico">
	</head>
	<body>
		<header class="navbar">
			<nav class="navbar-inner container">
				<a class="brand" href="/">GitShell</a>
				<ul class="nav global">
					{% if user.is_authenticated %}
						<li><a href="#">工作台</a></li>
					{% else %}
						<li><a href="/join/">工作台</a></li>
					{% endif %}
					<li {%if mainnav == 'explore'%}class="active"{%endif%}><a href="/explore/">浏览仓库</a></li>
					<li {%if mainnav == 'help'%}class="active"{%endif%}><a href="/help/">帮助</a></li>
				</ul>
				<ul class="nav account">
					{% if user.is_authenticated %}
						<li class="notification"><a href="#" class="label label-warning">6</a></li>
						<li class="dropdown{%if mainnav == 'user'%} active{%endif%}">
							<a href="/{{ user.username }}/" class="user dropdown-toggle" data-toggle="dropdown" data-target="#">
								<img class="avatar" src="https://gravatar.com/avatar/{{ gsuserprofile.imgurl }}?s=35" alt="{{ user.username }}">
							</a>
							<div class="dropdown-menu" role="menu" aria-labelladby="dLable">
								<div class="info">
									<header class="header">
										<h1 class="heading"><a href="/{{ user.username }}/" id="username">{{ user.username }}<i class="userid"><img src="/static/img/icons/id-user.png" alt=""></i></a></h1>
										<p class="email">{{ user.email }}</p>
									</header>
									<ul class="unstyledList repo-count">
										<li>
											<h4>仓库数<span class="used">{{userprofile.get_total_repo}}</span><span class="divider">/</span><span class="capacity">100</span></h4>
											<div class="progress">
												<span id="id_repo_count" class="bar" style="width: 18%;"></span>
											</div>
										</li>
										<li>
											<h4>仓库配额<span class="used">{{userprofile.used_quote}}</span><span class="divider">/</span><span class="capacity">{{userprofile.quote}}</span></h4>
											<div class="progress progress-danger">
												<span id="id_quote_used" class="bar" style="width: 6%;"></span>
											</div>
										</li>
									</ul>
								</div>
								<ul class="nav nav-list">
									<li><a href="/settings/"><span><i class="icon-wrench"></i>设置</span></a></li>
									<li><a href="/logout/" class="logout"><span><i class="icon-off"></i>登出</span></a></li>
								</ul>
							</div>
						</li>
					{% else %}
						<li {%if mainnav == 'eoin'%}class="active"{%endif%}><a href="/join/0/">注册</a></li>
						<li {%if mainnav == 'login'%}class="active"{%endif%}><a href="/login/">登录</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>

		{% block repo_header %}{% endblock %}

		<section class="container{% block container_class_name %}{% endblock %}">
			{% block container %}{% endblock %}
		</section>

		<footer id="footer">
			<div class="container">
				<nav class="nav">
					<a href="/help/#about" class="about-gitshell">关于GitShell<i class="icon-sort"></i></a>
					<a href="/help/#mission">我们的愿景</a>
					<a href="/help/#faq">FAQ</a>
					<a href="/help/#join_login" class="free-join">注册</a>
					<a href="/help/" class="help">帮助</a>
					<a target="_blank" href="http://blog.gitshell.com">官方博客</a>
					<a href="/help/#contact">联系GitShell</a>
				</nav>
				<p class="copyright">&copy; <strong>Gitshell</strong> 2013 专注<a target="_blank" href="http://git-scm.com/">Git</a>代码托管<a class="muted" href="http://www.miitbeian.gov.cn">苏ICP备12042031号</a></p>
				<a href="#" class="btn pull-right">返回顶部</a>
			</div>
		</footer>


		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/select2.min.js"></script>
		<script>
			$(function(){

				$('.unixtime').each(function(index){ 
					$(this).html(moment(new Date($(this).html()*1000)).fromNow());
					$(this).show();
				});

				$('.dropdown-toggle').dropdown();

				$("#username").live({
					mouseover: function(){
						$(this).find(".userid").show();
					},
					mouseout: function(){
						$(this).find(".userid").hide();
					}
				});

			});
		</script>
		{% block js %}{% endblock %}
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33142900-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>

