<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}gitshell - git 代码托管{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="GitShell 专注git代码托管, 项目开发, 个人技能">
		<meta name="author" content="gitshell">
		<link href="/static/css/normalize.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="/static/css/gitshell.css" rel="stylesheet">
		<link href="/static/css/select2.css" rel="stylesheet">
		{% block css %}{% endblock %}
		<link rel="shortcut icon" href="/static/img/favicon.ico">
	</head>

	<body>
		<header class="navbar navbar-fixed-top">
			<nav class="navbar-inner">
				<div class="container">

					<a class="brand" href="/">GitShell</a>

					<ul class="nav btn-group">
						{% if user.is_authenticated %}
						<li class="first"><a href="#"><i class="icon-tasks"></i>工作台</a></li>
						{% else %}
						<li class="first"><a href="/join/"><i class="icon-tasks"></i>工作台</a></li>
						{% endif %}
						<li class="middle{%if mainnav == 'explore'%} active{%endif%}"><a href="/explore/"><i class="icon-table"></i>浏览仓库</a></li>
						<li class="last{%if mainnav == 'help'%} active{%endif%}"><a href="/help/">帮助</a></li>
					</ul>

					<ul class="nav account">
						{% if user.is_authenticated %}
							<li><a href="#" class="btn btn-notice">6</a></li>
							<li class="dropdown{%if mainnav == 'user'%} active{%endif%}">
								<a href="/{{ user.username }}/" class="user btn dropdown-toggle" data-toggle="dropdown" data-target="#">
									<i class="icon-caret-down"></i>
									<img class="avatar" src="https://gravatar.com/avatar/{{ gsuserprofile.imgurl }}?s=35" alt="{{ user.username }}">
									<span class="hide">{{ user.username }}</span>
								</a>
								<div class="dropdown-menu" role="menu" aria-labelladby="dLable">
									<h2>{{ user.username }}</h2>
									<p class="email">{{ user.email }}</p>
									<ul class="nav-list">
										<li {%if mainnav == 'settings'%} class="active" {%endif%}><a href="/settings/"><span><i class="icon-cog"></i>设置</span></a></li>
										<li {%if mainnav == 'logout'%} class="active" {%endif%}><a href="/logout/"><span><i class="icon-off"></i>登出</span></a></li>
									</ul>
								</div>
							</li>
						{% else %}
							<li {%if mainnav == 'eoin'%}class="active"{%endif%}><a href="/join/0/">注册</a></li>
							<li {%if mainnav == 'login'%}class="active"{%endif%}><a href="/login/" class="btn">登录</a></li>
						{% endif %}
					</ul>

				</div>
			</nav>
		</header>


		<div class="container main clearfix">

			{% block container %}{% endblock %}

		</div>


		<footer class="footer">
			<div class="container">
				<a href="#" class="btn pull-right"><i class="icon-circle-arrow-up"></i>返回顶部</a>
				<nav class="nav">
					<a href="/help/#about">关于我们</a>
					<a href="/help/#mission">愿景</a> 
					<a href="/help/#faq">FAQ</a>
					<a href="/help/#join_login">快速入手</a>
					<a href="/help/">帮助</a>
					<a target="_blank" href="http://blog.gitshell.com">官方博客</a>
					<a href="/help/#contact">联系</a>
				</nav>
				<p class="copyright">&copy; <strong>Gitshell</strong> 2013 专注于 <a target="_blank" href="http://git-scm.com/">Git</a> 托管 <a class="muted" href="http://www.miitbeian.gov.cn">苏ICP备12042031号</a></p>
			</div>
		</footer>


		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/select2.min.js"></script>
		<script>
			$(function(){
				$('.unixtime').each(function(index){ 
					$(this).html(moment(new Date($(this).html()*1000)).fromNow());
					$(this).show();
				});
				$('.dropdown-toggle').dropdown();
			});
		</script>
		{% block js %}{% endblock %}
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33142900-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>

