<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gitshell Email模板</title>
  </head>
  <body style="width: 60%; margin: 50px auto;">
    <table style="width: 100%; margin: 0 auto; background-color: #f0f3f4;">
      <tbody>
        <tr>
          <td>

            <table style="color: #333; font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans Regular',Tahoma,Verdana,'Open Sans',Helvetica,arial,'Microsoft Yahei',sans-serif; font-size: 13px; font-weight: normal; width: 100%; border: 1px solid #bdc3c7; border-collapse: collapse; border-spacing: 0; background-color: white;">
              <tbody>
                <tr>
                  <td style="color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -o-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); padding: 10px; background-color: #1aa083;">
                    <h2 style="font-size: 16px; margin: 9px 0;">你好cloudzhou,</h2>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px 10px;">
                    <p style="margin: 9px 0;">请点击左边的按钮验证你的邮箱。<a href="https://gitshell.com/settings/email/verified/bba8bf5a6d604acf7beb65188170ce41/" target="_blank" style="display: inline-block; color: white; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -o-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); padding: 3px 10px; background-color: #f39d00; border-bottom: 1px solid rgba(0, 0, 0, .35); ">验证邮箱</a></p>

                    <div style="color: #ccc; font-size: 12px; font-style: italic; margin-top: 20px; border-top: 1px solid #ddd;">
                      <p style="margin: 9px 0;">此邮件由Gitshell系统发出，不接收回信，因此请勿直接回复。 如需要任何帮助，请联系 <a href="mailto:support@gitshell.com" style="color: #ccc;">support@gitshell.com</a>。</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>


    <hr style="margin: 20px 0; border: 1px solid #999;">

    <table style="width: 100%; margin: 0 auto; background-color: #f0f3f4;">
      <tbody>
        <tr>
          <td>

            <table style="color: #333; font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans Regular',Tahoma,Verdana,'Open Sans',Helvetica,arial,'Microsoft Yahei',sans-serif; font-size: 13px; font-weight: normal; width: 100%; border: 1px solid #bdc3c7; border-collapse: collapse; border-spacing: 0; background-color: white;">
              <tbody>
                <tr>
                  <td style="color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); -o-text-shadow: 0 1px 0 rgba(0, 0, 0, .5); padding: 10px; background-color: #1aa083;">
                    <h2 style="font-size: 16px; margin: 9px 0;">cloudzhou评论了问题:</h2>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 20px 10px;">
                    <p style="margin: 9px 0;"><span style="margin-right: 10px;"><a href="#">cloudzhou</a>说:</span><q style="color: #777; font-style: italic;">@cloudzhou xyz cloudzhou/gitshell # Sept. 6, 2013, 12:22 p.m.</q></p>

                    <div style="color: #ccc; font-size: 12px; font-style: italic; margin-top: 20px; border-top: 1px solid #ddd;">
                      <p style="margin: 9px 0;">此邮件由Gitshell系统发出，不接收回信，因此请勿直接回复。 如需要任何帮助，请联系 <a href="mailto:support@gitshell.com" style="color: #ccc;">support@gitshell.com</a>。</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>


  </body>
</html>
