{% extends "base.html" %}

{% load gstools %}

{% block container %}

	<div class="join">
		<div class="banner">
			<h1>加入Git的怀抱.</h1>
			<p>国内最稳定的Git代码托管服务,dropbox实时备份。</p>
		</div>
		<form method="post" class="form">
			<fieldset>
				<input type="email" placeholder="email" class="field">
				<input type="password" placeholder="password" class="field">
				<input type="password" placeholder="confirm password" class="field">
				<button type="submit" class="btn btn-primary">现在加入</button>
			</fieldset>
			<p>当你点击注册的时候表示你接受GitShell的<a href="#">服务条款</a>和<a href="#">隐私政策</a>.</p>
		</form>
	</div>


	<ul class="welcome-details horizontal-list">
		<li>
			<h2><i class="icon-code"></i>专注于 git 托管</h2>
			<p>gitshell 专注于git托管,这是一切的基础;尽最大的努力提高用户体验,安全,多重备份;迭代更新频繁,持续给用户带来价值,code wins</p>
		</li>
		<li>
			<h2><i class="icon-group"></i>团队协作，快速开发</h2>
			<p>gitshell 适合于小团队基于git的快速迭代开发;仓库协同开发,issues,commit,视图统计;加入社交因素,快速获知,让每个成员置身开发中</p>
		</li>
		<li>
			<h2><i class="icon-comments"></i>良好的社区氛围</h2>
			<p>开放的开发社区,<a href="/cloudzhou/gitshell/">gitshell</a>仓库<a href="/cloudzhou/gitshell/issues/">issues</a>公开;技能,评价,git pull请求,mail通知;对“噪音”零容忍,我们相信自由来自于自律</p>
		</li>
		<li>
			<h2><i class="icon-dropbox"></i>Dropbox实时备份</h2>
			<p>GitShell是第一个支持Dropbox实时备份的Git代码托管服务，及时，安全。</p>
		</li>
		<li>
			<h2><i class="icon-github"></i>一键导入Github仓库</h2>
			<p>假如您有Github的仓库,可以直接关联，并且自动导入您在GitHub的所有仓库。</p>
		</li>
	</ul>

{% endblock %}

{% block js %}
{% endblock %}

