{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block container %}
<div class="page-header" style="padding-bottom: 0px">
    <ul class="nav nav-pills">
        <li class="active"><a href="#">24小时</a></li>
        <li><a href="#">一周</a></li>
        <li><a href="#">一月</a></li>
        <li><a href="#">六月</a></li>
        <li><a href="#">所有</a></li>
    </ul>
</div>
<div class="row">
    <div class="span7">
        <div style="margin-bottom: 10px">
            <h4 class="muted">24小时内个人统计</h4>
        </div>
        <div style="padding: 15px 15px 0px; background-color: #EEEEEE; margin-bottom: 10px">
            <div class="c_status" style="padding: 10px; background-color: #FFFFFF">
                <div id="id_commit_flot" style="height: 150px"></div>
            </div>
            <div style="padding: 15px; background-color: #EEEEEE">
                <p class="muted">♬ commit 历史</p>
                <ul>
                    <li style="margin-bottom: 5px"><code><a href="">adfe54e9334e</a></code> user.html and repo forms ... :-)
                    <span class="pull-right muted">30分钟前</span></li>
                    <li style="margin-bottom: 5px"><code><a href="">adfe54e9334e</a></code> user.html and repo forms ... :-)
                    <span class="pull-right muted">30分钟前</span></li>
                    <li style="margin-bottom: 5px"><code><a href="">adfe54e9334e</a></code> user.html and repo forms ... :-)
                    <span class="pull-right muted">30分钟前</span></li>
                    <li style="margin-bottom: 5px"><code><a href="">adfe54e9334e</a></code> user.html and repo forms ... :-)
                    <span class="pull-right muted">30分钟前</span></li>
                </ul>
            </div>
        </div>
        <div style="margin-bottom: 10px">
            <h4 class="muted">24小时内汇总统计</h4>
        </div>
        <div class="page-header" style="padding-bottom: 0px">
            <p class="muted">热门的仓库列表</p>
        </div>
        <div style="padding: 10px; background-color: rgb(255, 255, 255);" class="c_repo">
            <h3>1. <img style="margin-right: 10px;" src="http://www.gravatar.com/avatar/8e580cce03d7a7229981c1acad1313bd?s=20"><a href="/cloudzhou/">cloudzhou</a> / 
            <a href="/cloudzhou/gitshell/">gitshell</a>
            <span style="float: right;">
            <a data-original-title="commit 次数" rel="tooltip" style="margin-right: 20px" href="">♯ 11</a>
            <a data-original-title="关注 数量" rel="tooltip" style="margin-right: 20px" href="">♥ 22</a>
            <a data-original-title="fork 次数" rel="tooltip" style="margin-right: 20px" href="">♂ 33</a></span></h3>
            <div style="margin-left: 20px;">
                <h6>创建于xxx，最近更新xxx</h6> 
                <p>gitshell 就是您目前使用的这个网站，使用django，redis，nginx，memcached，uwsgi</p>
            </div>
            <div style="padding: 0px; background-color: #EEEEEE; margin-bottom: 10px">
                <div class="c_status" style="padding: 2px; background-color: #FFFFFF">
                    <div id="id_hot_repo_flot" style="height: 60px"></div>
                </div>
            </div>
        </div>
        <div class="page-header" style="padding-bottom: 0px">
            <p class="muted">所有仓库数据统计</p>
        </div>
        <div style="padding: 15px 15px 0px; background-color: #EEEEEE; margin-bottom: 10px">
            <div class="c_status" style="padding: 10px; background-color: #FFFFFF">
                <div id="id_repo_commit_flot" style="height: 150px"></div>
            </div>
            <div style="padding: 15px; background-color: #EEEEEE">
                <p class="muted">♩ 所有仓库 commit 累计次数</p>
            </div>
        </div>
        <div style="padding: 15px 15px 0px; background-color: #EEEEEE; margin-bottom: 10px">
            <div class="c_status" style="padding: 10px; background-color: #FFFFFF">
                <div id="id_repo_watch_flot" style="height: 150px"></div>
            </div>
            <div style="padding: 15px; background-color: #EEEEEE">
                <p class="muted">♪ 所有仓库 关注 累计次数</p>
            </div>
        </div>
        <div style="padding: 15px 15px 0px; background-color: #EEEEEE; margin-bottom: 10px">
            <div class="c_status" style="padding: 10px; background-color: #FFFFFF">
                <div id="id_repo_fork_flot" style="height: 150px"></div>
            </div>
            <div style="padding: 15px; background-color: #EEEEEE">
                <p class="muted">♫ 所有仓库 fork 累计次数</p>
            </div>
        </div>
    </div>
    <div class="span4" style="padding: 15px 15px 0px;">
        <div class="c_status" style="padding: 10px;">
            <div id="id_commit_repo_flot" style="height: 300px"></div>
        </div>
        <div style="padding: 15px; background-color: #EEEEEE">
            <p class="muted">commit 仓库比例</p>
            <div class="muted pull-right"><a href="">gitshell</a> 60%</div><br/>
            <div class="progress" style="margin-bottom: 3px; height: 10px;">
            <div style="width: 60%;" class="bar"></div></div>
            <div class="muted pull-right"><a href="">gitshell</a> 30%</div><br/>
            <div class="progress" style="margin-bottom: 3px; height: 10px;">
            <div style="width: 30%;" class="bar"></div></div>
            <div class="muted pull-right"><a href="">gitshell</a> 10%</div><br/>
            <div class="progress" style="margin-bottom: 3px; height: 10px;">
            <div style="width: 10%;" class="bar"></div></div>
        </div>
        <div class="c_status" style="padding: 10px;">
            <div id="id_lang_flot" style="height: 300px"></div>
        </div>
        <div style="padding: 15px; background-color: #EEEEEE">
            <p class="muted">仓库编程语言比例</p>
            <div class="muted pull-right"><a href="">Java</a> 60%</div><br/>
            <div class="progress" style="margin-bottom: 3px; height: 10px;">
            <div style="width: 60%;" class="bar"></div></div>
            <div class="muted pull-right"><a href="">C</a> 30%</div><br/>
            <div class="progress" style="margin-bottom: 3px; height: 10px;">
            <div style="width: 30%;" class="bar"></div></div>
            <div class="muted pull-right"><a href="">C++</a> 10%</div><br/>
            <div class="progress" style="margin-bottom: 3px; height: 10px;">
            <div style="width: 10%;" class="bar"></div></div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/flot/jquery.flot.min.js"></script>
<script src="/static/js/flot/jquery.flot.pie.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var d1 = [[0, 3], [4, 8], [8, 5], [9, 13], [23, 0]];
    var plot1 = $.plot($("#id_commit_flot"), [d1],
    {
        bars: { show: true, fill: true },
        yaxis: { min:0, autoscaleMargin: 0.1 },
        /*xaxis: { mode: "time" },*/
        selection: { mode: "x" },
        grid: { hoverable: true, tickColor: '#d0d0d0', borderColor:'#7f7f7f', markingsColor:'#f2f5ff' }
    });
    var plot0 = $.plot($("#id_hot_repo_flot"), [d1],
    {
        bars: { show: true, fill: true },
        xaxis: {show: false},
        yaxis: { min:0, autoscaleMargin: 0.1 },
        /*xaxis: { mode: "time" },*/
        selection: { mode: "x" },
        grid: { hoverable: true, tickColor: '#d0d0d0', borderColor:'#7f7f7f', markingsColor:'#f2f5ff' }
    });
    var plot2 = $.plot($("#id_repo_commit_flot"), [d1],
    {
        bars: { show: true, fill: true },
        yaxis: { min:0, autoscaleMargin: 0.1 },
        /*xaxis: { mode: "time" },*/
        selection: { mode: "x" },
        grid: { hoverable: true, tickColor: '#d0d0d0', borderColor:'#7f7f7f', markingsColor:'#f2f5ff' }
    });
    var plot3 = $.plot($("#id_repo_watch_flot"), [d1],
    {
        bars: { show: true, fill: true },
        yaxis: { min:0, autoscaleMargin: 0.1 },
        /*xaxis: { mode: "time" },*/
        selection: { mode: "x" },
        grid: { hoverable: true, tickColor: '#d0d0d0', borderColor:'#7f7f7f', markingsColor:'#f2f5ff' }
    });
    var plot4 = $.plot($("#id_repo_fork_flot"), [d1],
    {
        bars: { show: true, fill: true },
        yaxis: { min:0, autoscaleMargin: 0.1 },
        /*xaxis: { mode: "time" },*/
        selection: { mode: "x" },
        grid: { hoverable: true, tickColor: '#d0d0d0', borderColor:'#7f7f7f', markingsColor:'#f2f5ff' }
    });
    var data = [
        { label: "Series1",  data: 10},
        { label: "Series2",  data: 30},
        { label: "Series3",  data: 90},
        { label: "Series4",  data: 70},
        { label: "Series5",  data: 80},
        { label: "Series6",  data: 110}
    ];
    var plot1 = $.plot($("#id_commit_repo_flot"), data,
    {
        series: { pie: { show: true } },
        legend: { show: false }
    });
    var plot2 = $.plot($("#id_lang_flot"), data,
    {
        series: { pie: { show: true } },
        legend: { show: false }
    });
    $('.c_repo').hover(function() {
        $(this).css('background-color', '#D9EDF7');
    }, function(){
        $(this).css('background-color', '#FFFFFF');
    });
    $('.c_repo').tooltip({
      selector: "a[rel=tooltip]"
    });

});
</script>
{% endblock %}
