{% extends "base.html" %}

{% block container_class_name %}dashboard{% endblock %}

{% block container %}

  <div class="subhead">
    <div class="container">
      <ul class="nav nav-tabs">
        {% if current == 'timeline' or current == 'feed' %}
          <li{% if current == 'feed' %} class="active"{% endif %}><a href="/dashboard/feed/">动态</a></li>
          <li{% if current == 'timeline' %} class="active"{% endif %}><a href="/dashboard/timeline/">只显示我</a></li>
        {% else %}
          <li{% if current == 'pull' %} class="active"{% endif %}><a href="/dashboard/pull/">合并请求</a></li>
          <li{% if current == 'issues' %} class="active"{% endif %}><a href="/dashboard/issues/">问题</a></li>
          <li{% if current == 'notif' %} class="active"{% endif %}><a href="/dashboard/notif/">通知</a></li>
        {% endif %}
    </div>
  </div>

  <div class="content notif">
    <div class="container">
      {% block subcontainer %}{% endblock %}
    </div>
  </div>

{% endblock %}

{% block js %}
{% endblock %}
