{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block container %}
<div class="page-header" style="padding-bottom: 0px; border-bottom: 0px">
    <h1>:-), {{ user.username }}的首页</h1>
</div>
<div class="page-header" style="padding-bottom: 0px; border-bottom: 0px">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Feed</a></li>
            <li><a href="#">Git 历史</a></li>
            <li><a href="#">issues</a></li>
            <li><a href="#">查看最新</a></li>
            <li><a href="#">通知 ( 1 )</a></li>
        </ul>
</div>
{% for i in ii %}
<div class="row" style="">
    <div class="span7">
        {% if i  == 0 or i == 1  %}
        <div class="page-header" style="margin: 0px; padding-bottom: 10px">
            <h4 class="muted">今天</h4>
        </div>
        {% endif %}
        <div class="c_repos" style="padding: 10px;">
            <h3>
            <img style="margin-right: 10px" src="http://www.gravatar.com/avatar/{{ userprofile.imgurl }}?s=32"/>
            <a href="/{{ user.username }}/">{{ user.username }}</a>...
            </h3>
            <div style="margin-left: 50px;">
                <p>commit 到 <a href="">gitshell</a></p>
                <ul>
                    <li><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                    <li><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                    <li><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                </ul>
            </div>
            <div style="margin-left: 50px;">
                <p>commit 到 <a href="">gitshellstatic</a></p>
                <ul>
                    <li><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                    <li><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                    <li><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block js %}
<script src="/static/js/flot/jquery.flot.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var resume_md_converter = function() {
    };
    resume_md_converter();
    $('.c_repos').hover(function() {
        $(this).css('background-color', '#D9EDF7');
    }, function(){
        $(this).css('background-color', '#FFFFFF');
    });
    $('.c_repos').tooltip({
      selector: "a[rel=tooltip]"
    })
});
</script>
{% endblock %}
