{% extends "base.html" %}

{% block container_class_name %} user home{% endblock %}
{% block container %}

	<nav class="header">
		<ul class="nav nav-tabs">
			<li {% if current == 'feed' %} class="active" {% endif %}><a href="/home/feed/">Feed</a></li>
			<li {% if current == 'timeline' %} class="active" {% endif %}><a href="/home/timeline/">Timeline</a></li>
			<li {% if current == 'todo' %} class="active" {% endif %}><a href="/home/todo/">Todo</a></li>
			<li {% if current == 'pull' %} class="active" {% endif %}><a href="/home/pull/">Pull</a></li>
			<li {% if current == 'issues' %} class="active" {% endif %}><a href="/home/issues/">Issues</a></li>
			<li {% if current == 'notif' %} class="active" {% endif %}><a href="/home/notif/">通知{% if userprofile.unread_message > 0 %} <span class="badge">{{ userprofile.unread_message }}</span>{% endif %}</a></li>
		</ul>
	</nav>

	{% block subcontainer %}{% endblock %}
{% endblock %}

{% block js %}
	<script src="/static/js/moment.min.js"></script>
	<script src="/static/js/moment.zh-cn.js"></script>
{% endblock %}
