{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block container %}
<div class="page-header" style="padding-bottom: 0px; border-bottom: 0px">
    <h1>:-), {{ user.username }}的首页</h1>
</div>
<div class="page-header" style="padding-bottom: 0px; border-bottom: 0px">
        <ul class="nav nav-tabs">
            <li {% if current == 'feed' %} class="active" {% endif %}><a href="/home/feed/">Feed</a></li>
            <li {% if current == 'git' %} class="active" {% endif %}><a href="/home/git/">Git 历史</a></li>
            <li {% if current == 'issues' %} class="active" {% endif %}><a href="/home/issues/">Issues</a></li>
            <li {% if current == 'explore' %} class="active" {% endif %}><a href="/home/explore/">查看最新</a></li>
            <li {% if current == 'notif' %} class="active" {% endif %}><a href="/home/notif/">通知 ( 1 )</a></li>
        </ul>
</div>
<div class="row" style="">
    <div class="span7">
        <div class="page-header" style="margin: 0px; padding-bottom: 10px">
            <h4 class="muted">今天</h4>
        </div>
        <div class="feedtime" style="padding: 10px;">
            <h3>
            <img style="margin-right: 10px" src="http://www.gravatar.com/avatar/{{ userprofile.imgurl }}?s=32"/>
            <a href="/{{ user.username }}/">{{ user.username }}</a>...
            </h3>
            <div style="margin-left: 50px;">
                <p>commit 到 <a href="">gitshell</a></p>
                <ul>
                    <li style="margin: 1px"><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                </ul>
            </div>
            <div style="margin-left: 50px;">
                <p>commit 到 <a href="">gitshellstatic</a></p>
                <ul>
                    <li style="margin: 1px"><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">三个小时前</span></li>
                </ul>
            </div>
        </div>
        <div class="page-header" style="margin: 0px; padding-bottom: 10px">
            <h4 class="muted">昨天</h4>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/flot/jquery.flot.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var orgi_feeds = {{ feeds_as_json|safe }}
    var sorted_feeds = []
    var sort_orgi_feeds = function() {
        all_ids = []
        all_feeds = []
        for (x in orgi_feeds) {
            all_feeds = all_feeds.concat(orgi_feeds[x]);
        } 
        all_feeds.sort(function(a,b) {
            return a[1]-b[1];
        })
        var i = 0;
        var pre_feed_id = 0;
        for (x in all_feeds) {
            feed_id = all_feeds[x][0]
            if(pre_feed_id != feed_id) {
                i++;
                all_ids.push(feed_id);
            }
            pre_feed_id = feed_id
            if(i >= 100) { break; }
        }
        all_ids_str = all_ids.join('_');
        $.ajax({
            url: '/ajax/feed/ids/',
            type: 'POST',
            data: {'ids_str': all_ids_str, csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            timeout: 5000,
            error: function(){
                alert('Error loading Json document');
            },
            success: function(json){
                console.log(json);
            }
        });
        console.log(all_ids_str);
    };
    sort_orgi_feeds();
    $('.feedtime').hover(function() {
        $(this).css('background-color', '#D9EDF7');
    }, function(){
        $(this).css('background-color', '#FFFFFF');
    });
    $('.feedtime').tooltip({
      selector: "a[rel=tooltip]"
    })
});
</script>
{% endblock %}
