{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block container %}
<div class="page-header" style="padding-bottom: 0px; border-bottom: 0px; margin-top: 0px;">
        <ul class="nav nav-tabs">
            <li {% if current == 'feed' %} class="active" {% endif %}><a href="/home/feed/">Feed</a></li>
            <li {% if current == 'git' %} class="active" {% endif %}><a href="/home/git/">Git 历史</a></li>
            <li {% if current == 'issues' %} class="active" {% endif %}><a href="/home/issues/">Issues</a></li>
            <li {% if current == 'explore' %} class="active" {% endif %}><a href="/home/explore/">查看最新</a></li>
            <li {% if current == 'notif' %} class="active" {% endif %}><a href="/home/notif/">通知 ( 1 )</a></li>
        </ul>
</div>
<div class="row" style="">
    <div id='feeds_container' class="span7">
    <img id='feeds_loading' style="margin-left: 50px" src='/static/img/loading.gif'>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment.zh-cn.js"></script>
<script>
/*global jQuery, window */
$(function(){
    moment.lang('zh-cn');
    var orgi_feeds = {{ feeds_as_json|safe }}
    var sorted_feeds = []
    var do_orgi_feeds = function() {
        all_ids = []
        all_feeds = []
        for (x in orgi_feeds) {
            all_feeds = all_feeds.concat(orgi_feeds[x]);
        } 
        all_feeds.sort(function(a,b) {
            return a[1] - b[1];
        })
        var i = 0;
        var pre_feed_id = 0;
        for (x in all_feeds) {
            feed_id = all_feeds[x][0]
            if(pre_feed_id != feed_id) {
                i++;
                all_ids.push(feed_id);
            }
            pre_feed_id = feed_id
            if(i >= 100) { break; }
        }
        all_ids_str = all_ids.join('_');
        $.ajax({
            url: '/ajax/feed/ids/',
            type: 'POST',
            data: {'ids_str': all_ids_str, csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            timeout: 5000,
            error: function(){
                //alert('');
            },
            success: function(json){
                ordered_date = []
                ordered_date_reposname = {}
                display_feeds_map = {}
                feeds = json.feeds
                gravatarmap = json.gravatarmap
                feeds.sort(function(a,b) {
                    return b.committer_date - a.committer_date;
                })
                for(x in feeds) {
                    feed = feeds[x];
                    feed_date_str = moment(new Date(feed.committer_date*1000)).format('MM/DD');
                    feed_repos_name = feed.repos_name;
                    if(!display_feeds_map[feed_date_str]) {
                        ordered_date.push(feed_date_str);
                        display_feeds_map[feed_date_str] = {};
                    }
                    if(!display_feeds_map[feed_date_str][feed_repos_name]) {
                        if(!ordered_date_reposname[feed_date_str]) {
                            ordered_date_reposname[feed_date_str] = [];
                        }
                        ordered_date_reposname[feed_date_str].push(feed_repos_name);
                        display_feeds_map[feed_date_str][feed_repos_name] = [];
                    }
                    display_feeds_map[feed_date_str][feed_repos_name].push(feed);
                }
                html = []
                for(x in ordered_date) {
                    feed_date = ordered_date[x];
                    html.push('<div class="page-header" style="margin: 0px; padding-bottom: 10px"><h4 class="muted"> ' + feed_date + ' </h4></div><div class="feedtime" style="padding: 10px;"><h3><img style="margin-right: 10px" src="http://www.gravatar.com/avatar/{{ userprofile.imgurl }}?s=32"/><a href="/{{ user.username }}/">{{ user.username }}</a>...</h3>');
                    for(y in ordered_date_reposname[ordered_date[x]]) {
                        feed_reposname = ordered_date_reposname[ordered_date[x]][y];
                        html.push('<div style="margin-left: 50px;"><p>commit 到 <a href="">' + feed_reposname + '</a></p><ul>');
                        for(z in display_feeds_map[feed_date][feed_reposname]) {
                            feed = display_feeds_map[feed_date][feed_reposname][z];
                            html.push('<li style="margin: 1px"><code><a href="">' + feed.commit_hash + '</a></code> ' + feed.subject + ' <span class="muted pull-right">' + moment(new Date(feed.committer_date*1000)).fromNow() + '</span></li>');
                        }
                        html.push('</ul></div>');
                    }
                    html.push('</div>')
                }
                $('#feeds_container').append(html.join(''));
                if(ordered_date.length == 0) {
                    $('#feeds_container').append('还没有提交信息');
                }
                $('#feeds_loading').remove()
            }
        });
    };
    do_orgi_feeds();
    $('.feedtime').live('mouseover mouseout', function(event) {
        if (event.type == 'mouseover') {
            $(this).css('background-color', '#D9EDF7');
        } else {
            $(this).css('background-color', '#FFFFFF');
        }
    });
});
</script>
{% endblock %}
