{% extends "base.html" %}
{% block container %}
<div class="page-header" style="padding-bottom: 0px; border-bottom: 0px; margin-top: 0px;">
        <ul class="nav nav-tabs">
            <li {% if current == 'feed' %} class="active" {% endif %}><a href="/home/feed/">Feed</a></li>
            <li {% if current == 'git' %} class="active" {% endif %}><a href="/home/git/">Git 历史</a></li>
            <li {% if current == 'issues' %} class="active" {% endif %}><a href="/home/issues/">Issues</a></li>
            <li {% if current == 'explore' %} class="active" {% endif %}><a href="/home/explore/">查看最新</a></li>
            <!--li {% if current == 'notif' %} class="active" {% endif %}><a href="/home/notif/">通知 ( 1 )</a></li-->
        </ul>
</div>
{% block subcontainer %}{% endblock %}
<script src="/static/js/moment.min.js"></script>
<script src="/static/js/moment.zh-cn.js"></script>
{% endblock %}
