{% extends "user/dashboard_base.html" %}

{% block subcontainer %}
	<div id='issues_container'>
		{% if issues %}
    	<table class="table table-striped">
    		<thead class="fixed">
					<tr>
						<th>主题</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
				{% for issue in issues %}
			    <tr class="c_issues" data="{{issue.id}}">
						<td>
							<a href="/{{user.username}}/{{issue.reponame}}/issues/{{issue.id}}/">#{{issue.id}} {{issue.subject}}</a> <a href="/{{user.username}}/{{issue.reponame}}/">[{{issue.reponame}}]</a>
							<span id="id_label_{{issue.id}}" class="c_label hide">
								<span class="c_fixed_label label label-mini label-info">解决</span>
								<span class="c_close_label label label-mini label-info">关闭</span>
								<span class="c_reject_label label label-mini label-info">拒绝</span>
							</span>
						</td>
				    <td class="muted">{{issue.tracker}} {{issue.status}} {{issue.priority}} {{issue.category}} <a href="/{{issue.name}}/">{{issue.username}}</a> <span style="display:none" class="c_unixtime">{{issue.modify_time}}</span></td>
					</tr>
					<tr id="id_tr_{{issue.id}}" data="{{issue.id}}" class="hide">
						<td>
							<input id="id_comment_{{issue.id}}" class="c_comment">
							<input id="id_repo_id_{{issue.id}}" class="hide" value="{{issue.repo_id}}">
							<button class="c_button btn btn-mini btn-primary" type="submit"></button>
						</td>
						<td></td>
					</tr>
				{% endfor %}
				</tbody>
				<input id="id_action" class="hide">
    	</table>
			{% else %}
				<p class="text-info">没有 Issues 信息</p>
			{% endif %}

			<ul class="pager">
				{%if hasPre%}
					<li><a href="/dashboard/issues/0/">首页</a></li>
					<li><a href="/dashboard/issues/{{page|add:"-1"}}/">前一页</a></li>
				{%endif%}
				{%if hasPre or hasNext%}
					<li style="padding-left: 6px;padding-right: 6px"> 第{{page}}页 </li>
				{%endif%}
				{%if hasNext%}
					<li><a href="/dashboard/issues/{{page|add:"+1"}}/">后一页</a></li>
				{%endif%}
			</ul>
    </div>
{% endblock %}
{% block js %}
<script>
$(function(){
    moment.lang('zh-cn');
    $('.c_issues').live('mouseover mouseout', function(event) {
        var id = $(this).attr('data');
        if(event.type == 'mouseover') {
            $('#id_label_'+id).show();
        } else {
            $('#id_label_'+id).hide();
        }
    });
    $('.c_fixed_label').click(function(event) {
        var id = $(this).parents('tr').attr('data');
        setTimeout(
            function(event) {
        $('#id_tr_'+id).show();
        $('#id_action').val('fixed');
        $('#id_tr_'+id+' .c_button').text('解决');
        $('#id_tr_'+id+' .c_comment').focus();
            }
        , 250)
    });
    $('.c_close_label').click(function(event) {
        var id = $(this).parents('tr').attr('data');
        setTimeout(
            function(event) {
        $('#id_tr_'+id).show();
        $('#id_action').val('close');
        $('#id_tr_'+id+' .c_button').text('关闭');
        $('#id_tr_'+id+' .c_comment').focus();
            }
        , 250)
    });
    $('.c_reject_label').click(function(event) {
        var id = $(this).parents('tr').attr('data');
        setTimeout(
            function(event) {
        $('#id_tr_'+id).show();
        $('#id_action').val('reject');
        $('#id_tr_'+id+' .c_button').text('拒绝');
        $('#id_tr_'+id+' .c_comment').focus();
            }
        , 250)
    });
    $('.c_comment').blur(function(event) {
        var id = $(this).parents('tr').attr('data');
        setTimeout(
            function(event) {
                $('#id_tr_'+id).hide();
            }
        , 350)
    });
    $('.c_button').click(function(event) {
        var id = $(this).parents('tr').attr('data');
        $('#id_tr_'+id).hide();
        var comment = $('#id_comment_'+id).val();
        var repo_id = $('#id_repo_id_'+id).val();
        var action = $('#id_action').val();
        $.post('/ajax/home/do_issue/', {csrfmiddlewaretoken: '{{ csrf_token }}', 'issue_id': id, 'repo_id': repo_id, 'comment': comment, 'action': action}, function(json){
            window.location = window.location
        });
    });
});
</script>
{% endblock %}
