{% extends "base.html" %}
{% block css %}
<style>
#id_captcha_1 {display:block;margin-top:10px;}
</style>
{% endblock %}
{% block container %}
<div class="page-header">
        <h1>:-), 登录 <small>还没有帐号？立即<a href="/join/">注册</a></small></h1>
</div>
<div class="row" style="margin-left: 10px">
    <div class="span7">
        <p>* 使用以下网站帐号登录，无需注册</p>
    </div>
    <div class="span7">
        <p>
            <a href="https://github.com/login/oauth/authorize?client_id=63bbd038b8591356a841"><img src="https://github.com/favicon.ico"/></a>
        </p>
    </div>
    <div class="span7">
        <p>* 使用 Gitshell 帐号登录</p>
    </div>
    <div class="span7" style="">
        <form class="form-inline" action="" method="post" style="margin-bottom: 8px">
            {% csrf_token %}
            {{ loginForm.email }}
            <input type="password" maxlength="64" name="unencrypt_password" id="id_unencrypt_password" placeholder="输入密码，注意大小写">
            <span style="display: none">
                {{ loginForm.password }}
            </span>
            <button id="id_login_submit" class="btn" type="submit">登录</button>
        </form>
        <label class="checkbox">
            {{ loginForm.rememberme }} 下次自动登录&nbsp;|&nbsp;<a href="/resetpassword/">忘记密码了？</a>
        </label>
        {% if error %}
            <div class="alert">
                <a data-dismiss="alert" class="close">×</a>
                <strong>出错了！</strong> {{ error }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/js/md5.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var md5_user_passwd = function() {
        $('#id_password').val(window.md5($('#id_unencrypt_password').val()));
    },
    login_init = function() {
        $('#id_email').attr('placeholder', 'EMAIL 地址');
        $('#id_captcha_1').attr('placeholder', '输入验证码');
    };
    login_init();
    $('#id_login_submit').on('click', md5_user_passwd);
});
</script>
{% endblock %}
