{% extends "base.html" %}

{% block container %}
<div class="bubble login">

	<div class="bubble-header clearfix">
		<h2 class="title pull-left">登录</h2>
	</div>

	<div class="bubble-inner">
		<div class="form">
			<p class="title">使用以下网站帐号登录，无需注册</p>
			<div class="well">
				<p class="em text-warning">如果您已经拥有 Gitshell 帐号，请优先使用 Gitshell 帐号登录然后在“创建仓库页面”进行 GitHub 帐号关联。</p>
				<a href="https://github.com/login/oauth/authorize?client_id=63bbd038b8591356a841" class="btn github-btn btn-success"><i class="icon-github"></i>使用 GitHub 账户登录</a>
			</div>

			<hr class="hr">
			<form class="form-inline" action="" method="post">
				{% csrf_token %}
				<div class="controls">{{ loginForm.email }}</div>
				<div class="controls">
					<input type="password" maxlength="64" name="unencrypt_password" id="id_unencrypt_password" placeholder="密码">
					<span class="hide">{{ loginForm.password }}</span>
				</div>
				<div class="controls"><button id="id_login_submit" class="btn btn-primary" type="submit">登录</button></div>
				<label class="checkbox">{{ loginForm.rememberme }} 下次自动登录</label>
					<a href="/resetpassword/">忘记密码了?</a>
				</form>

			{% if error %}
				<div class="alert">
					<a data-dismiss="alert" class="close">×</a>
					<strong>出错了！</strong> {{ error }}
				</div>
			{% endif %}

		</div>
	</div>

</div>
{% endblock %}

{% block js %}
<script src="/static/js/md5.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var md5_user_passwd = function() {
        $('#id_password').val(window.md5($('#id_unencrypt_password').val()));
    },
    login_init = function() {
        $('#id_email').attr('placeholder', 'Email地址');
        $('#id_captcha_1').attr('placeholder', '输入验证码');
    };
    login_init();
    $('#id_login_submit').on('click', md5_user_passwd);
    $('#id_github_logo').mouseover(function(){
        $('#id_via_gitshell_first').show();
    });
});
</script>
{% endblock %}
