{% extends "user/home_base.html" %}

{% block container_class_name %} user{% endblock %}
{% block subcontainer %}
    <div id='pull_container'>
        <div class="header clearfix">
          <div class="btn-group pull-right">
            <button id="id_pull_merge" class="btn btn-mini btn-primary first">需要我合并的请求</button>
            <button id="id_pull_request" class="btn btn-mini last">我发出的</button>
          </div>
        </div>
        {% if pullRequests %}
					{% for pullRequest in pullRequests %}
          <div class="well pull">
            <div class="heading clearfix btn">
              <h3>
                <a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/pull/{{pullRequest.id}}/" class="id">[{{pullRequest.id}}]{{pullRequest.short_title}}</a>
                <span class="label label-mini {{pullRequest.status_label}}">{{pullRequest.status_view}}</span>
              </h3>
              <p class="pull-right">来自:<a class="puller" href="/{{pullRequest.pull_user.username}}/">{{pullRequest.pull_user.username}}</a></p>
            </div>
          <div class="meta">
            <span class="branches"><span class="btn"><a href="/{{pullRequest.source_repo.username}}/">{{pullRequest.source_repo.username}}</a>/<a href="/{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}/">{{pullRequest.source_repo.name}}</a>:<a href="/{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}/tree/{{pullRequest.source_refname}}/" class="repo-name">{{pullRequest.source_refname}}</a></span><span class="btn"><a href="/{{pullRequest.desc_repo.username}}/">{{pullRequest.desc_repo.username}}</a>/<a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/">{{pullRequest.desc_repo.name}}</a>:<a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/tree/{{pullRequest.desc_refname}}/" class="repo-name">{{pullRequest.desc_refname}}</a></span></span>
            <p>{{pullRequest.short_desc}}</p>
          </div>
        </div>
					{% endfor %}
        {% else %}
        <div class="well pull">
					<p class="text-info">您还没有发起 Pull Request</p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script>
$(function(){
    moment.lang('zh-cn');
    $('#id_pull_merge').click(function(){
        window.location.href = '/home/pull/';
    });
    $('#id_pull_request').click(function(){
        window.location.href = '/home/pull/request/';
    });
});
</script>
{% endblock %}
