{% extends "user/dashboard_base.html" %}

{% block subcontainer %}

  <div class="pulls bubble">
    <div class="header">
      <h2 class="heading">需要我处理的</h2>
      <span class="sortable btn-group">
        <a href="#" {# if current == '/dashboard/pull/' %}class="active"{% endif #} id="pullMerge" class="btn btn-mini first btn-disable">需要我处理的</a>
        <a href="#" {# if current == '/dashboard/pull/request/' %}class="active"{% endif #} id="pullRequest" class="btn btn-mini last">我创建的</a>
      </span>
      {% comment %}
      <span class="sortable btn-group">
        <a href="#" class="btn btn-mini btn-disable first">进行中</a>
        <a href="#" class="btn btn-mini last">已处理</a>
      </span>
      {% endcomment %}
    </div>

    {% if pullRequests %}
      {% for pullRequest in pullRequests %}
      <section class="pull-item">
        <div class="widget">
          <span class="status {{pullRequest.status_lable}}">{{pullRequest.status_view}}</span>
          <span class="branches">
            <a href="/{{pullRequest.source_repo.username}}/{{pullRequest.source_repo.name}}/tree/{{pullRequest.source_refname}}/" class="from branch">{{pullRequest.source_refname}}</a>
            <span class="arrow-right"><i class="icon-long-arrow-right"></i></span>
            <a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/tree/{{pullRequest.desc_refname}}/" class="to branch">{{pullRequest.desc_refname}}</a>
          </span>
        </div>
        <div class="summary">
          <h3 class="heading">
            <a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/pull/{{pullRequest.id}}/">{{pullRequest.short_title}}</a>
            <a href="/{{pullRequest.desc_repo.username}}/{{pullRequest.desc_repo.name}}/pull/{{pullRequest.id}}/" class="id">#{{pullRequest.id}}</a>
          </h3>
          <div class="desc">
            <p>{{pullRequest.short_desc}}</p>
          </div>
          <div class="meta">
            <a href="/{{pullRequest.pull_user.username}}/">{{pullRequest.pull_user.username}}</a>
            <time class="unixtime" pubdate="pubdate">4天前创建</time>
          </div>
        </div>
      </section>
      {% endfor %}

      {% comment %}
      <section class="pull-item">
        <div class="widget">
          <span class="status open">处理中</span>
          <span class="branches">
            <a href="#" class="from branch">3.2.0-wip</a>
            <span class="arrow-right"><i class="icon-long-arrow-right"></i></span>
            <a href="#" class="to branch">master</a>
          </span>
        </div>
        <div class="summary">
          <h3 class="heading">
            <a href="#">重排了格式</a>
            <span class="id">#12</span>
          </h3>
          <div class="desc">
            <p>改成了标题式，比较醒目，也可以避免嵌套列表的问题。（markdown的嵌套列表，各家的解析都不一样。</p>
          </div>
          <div class="meta">
            <img src="https://gravatar.com/avatar/{{pullRequest.pull_user.username}}?s=16" alt="{{pullRequest.pull_user.username}}">
            <a href="#">mingming1222</a>
            <time class="unixtime" pubdate="pubdate">4天前创建</time>
          </div>
        </div>
      </section>

      <section class="pull-item">
        <div class="widget">
          <span class="status open">处理中</span>
          <span class="branches">
            <a href="#" class="from branch">3.2.0-wip</a>
            <span class="arrow-right"><i class="icon-long-arrow-right"></i></span>
            <a href="#" class="to branch">master</a>
          </span>
        </div>
        <div class="summary">
          <h3 class="heading">
            <a href="#">更新FAQ页面（现在已经beta，邀请码和私有项目不同了）</a>
            <span class="id">#08</span>
          </h3>
          <div class="desc unavailable">
            <p>没有介绍内容</p>
          </div>
          <div class="meta">
            <img src="https://gravatar.com/avatar/{{pullRequest.pull_user.username}}?s=16" alt="{{pullRequest.pull_user.username}}">
            <a href="#">yuwen</a>
            <time class="unixtime" pubdate="pubdate">4天前创建</time>
          </div>
        </div>
      </section>

      <section class="pull-item">
        <div class="widget">
          <span class="status closed">已处理</span>
          <span class="branches">
            <a href="#" class="from branch">3.2.0-wip</a>
            <span class="arrow-right"><i class="icon-long-arrow-right"></i></span>
            <a href="#" class="to branch">master</a>
          </span>
        </div>
        <div class="summary">
          <h3 class="heading">
            <a href="#">修正 FAQ.md 列表内段落缩进不正确导致的序号出错问题</a>
            <span class="id">#02</span>
          </h3>
          <div class="desc unavailable">
            <p>没有介绍内容</p>
          </div>
          <div class="meta">
            <img src="https://gravatar.com/avatar/{{pullRequest.pull_user.username}}?s=16" alt="{{pullRequest.pull_user.username}}">
            <a href="#">cloudzhou</a>
            <time class="unixtime" pubdate="pubdate">4天前创建</time>
          </div>
        </div>
      </section>

      <section class="pull-item">
        <div class="widget">
          <span class="status rejected">已处理</span>
          <span class="branches">
            <a href="#" class="from branch">3.2.0-wip</a>
            <span class="arrow-right"><i class="icon-long-arrow-right"></i></span>
            <a href="#" class="to branch">master</a>
          </span>
        </div>
        <div class="summary">
          <h3 class="heading">
            <a href="#">修正 FAQ.md 列表内段落缩进不正确导致的序号出错问题</a>
            <span class="id">#02</span>
          </h3>
          <div class="desc unavailable">
            <p>没有介绍内容</p>
          </div>
          <div class="meta">
            <img src="https://gravatar.com/avatar/{{pullRequest.pull_user.username}}?s=16" alt="{{pullRequest.pull_user.username}}">
            <a href="#">cloudzhou</a>
            <time class="unixtime" pubdate="pubdate">4天前创建</time>
          </div>
        </div>
      </section>
      {% endcomment %}

      {% else %}
      <div class="pull-item wall">
        <p>没有Pull Request需要处理。</p>
      </div>
      {% endif %}

  </div>


{% endblock %}

{% block js %}
  <script>
    $(function(){
        moment.lang('zh-cn');
        $('#pullMerge').click(function(){
            window.location.href = '/dashboard/pull/';
        });
        $('#pullRequest').click(function(){
            window.location.href = '/dashboard/pull/request/';
        });
    });
  </script>
{% endblock %}
