{% extends "user/user_base.html" %}
{% block left_sub_container %}
        <div class="page-header" style="padding-bottom: 2px; margin-bottom: 10px;">
            <h2>评论</h2>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="span2">用户</th>
                        <th class="span5">评论</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recommend in recommends %}
                    <tr>
                        <td><img class="avatar" src="https://gravatar.com/avatar/{{ recommend.imgurl }}?s=40"/> <a href="/{{recommend.username}}/">{{recommend.username}}</a></td>
                        <td style="vertical-align: middle">{{recommend.content}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
{% block subjs %}
<script>
/*global jQuery, window */
$(function(){
});
</script>
{% endblock %}
