{% extends "base.html" %}
{% block container %}
{% ifequal step '3'  %}
<div class="page-header">
        <h1>:-), {{ user.username }}，欢迎您</h1>
</div>
{% else %}
<div class="page-header">
        <h1>:-(, 重置密码 <small>email是您进行帐号验证的唯一途径</small></h1>
</div>
{% endifequal %}
<div class="row">
{% ifequal step '0' %}
    <div class="span9">
        <form class="well form-inline" action="/resetpassword/0/" method="post">
            {% csrf_token %}
            {{ resetpasswordForm0.email }}
            &nbsp;·&nbsp;
            {{ resetpasswordForm0.captcha }}
            <button class="btn" type="submit">重置</button>
            {% if error %}
            <div class="alert">
                <a data-dismiss="alert" class="close">×</a>
                <strong>出错了！</strong> {{ error }}
            </div>
            {% endif %}
        </form>
    </div>
{% endifequal %}
{% ifequal step '1' %}
    <div class="span12">
    <p class="lead">已经发送重置密码邮件，请在半小时内重置，部分运营商会拦截邮件，注意查收</p>
    <small>如果发送邮件失败，请联系<a href="mailto:support@gitshell.com">support@gitshell.com</a> 或者 <a target="_blank" href="http://weibo.com/gitshell"><img src="/static/img/sina_logo.png"/>&nbsp;gitshell</a></small>
    </div>
{% endifequal %}
{% if step|length > 1 %}
    <div class="span7">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="control-group">
                    <label for="id_password" class="control-label">密码</label>
                    <div class="controls">
                        {{ resetpasswordForm1.password }}
                    </div>
                </div>
                <div class="form-actions">
                    <button id="id_resetpassword_submit" class="btn btn-primary" type="submit">重置</button>
                </div>
                {% if error %}
                <div class="alert">
                    <a data-dismiss="alert" class="close">×</a>
                    <strong>出错了！</strong> {{ error }}
                </div>
                {% endif %}
            </fieldset>
        </form>
    </div>
{% endif %}
{% ifequal step '3' %}
    <div class="span12">
    <p class="lead">哎呀，您可不要再忘了密码了</p>
    </div>
{% endifequal %}
{% ifequal step '4' %}
    <div class="span12">
    <small>重置失败，可能是url Token过期，请重新通过<a href="/resetpassword/0/">重置</a>获取激活url，如果这种情况持续出现，请联系<a href="mailto:support@gitshell.com">support@gitshell.com</a> 或者 <a target="_blank" href="http://weibo.com/gitshell"><img src="/static/img/sina_logo.png"/>&nbsp;gitshell</a></small>
    </div>
{% endifequal %}
</div>
{% endblock %}
{% block js %}
<script>
/*global jQuery, window */
$(function(){
    var md5_user_passwd = function() {
        $('#id_password').val(window.md5($('#id_password').val()));
    },
    resetpassword0_init = function() {
        $('#id_email').attr('placeholder', '输入邮箱');
        $('#id_captcha_1').attr('placeholder', '输入验证码');
    };
    resetpassword1_init = function() {
        $('#id_password').attr('placeholder', '密码，包含数字和字母');
    };
{% ifequal step '0' %}
    resetpassword0_init();
{% endifequal %}
{% if step|length > 1 %}
    resetpassword1_init();
{% endif %}
    $('#id_resetpassword_submit').on('click', md5_user_passwd);
});
</script>
{% endblock %}
