{% extends "user/dashboard_base.html" %}

{% block subcontainer %}
<div class="feeds bubble">
  <div class="ajaxLoader">
    <p>请等待...</p>
    <img src='/static/img/loading.gif' alt="loader">
  </div>
  <div id="newsfeed" class="primary">
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(function(){
    moment.lang('zh-cn');

    var orgi_feeds = {{ feeds_as_json|safe }};
    var feed_timestamp = {};
    var sorted_feeds = [];

    var do_orgi_feeds = function() {
      all_ids = [];
      all_feeds = [];
      for (x in orgi_feeds) {
        all_feeds = all_feeds.concat(orgi_feeds[x]);
      } 
      all_feeds.sort(function(a,b) {
        return a[1] - b[1];
      })
      var i = 0;
      var pre_feed_id = 0;
      for (x in all_feeds) {
        feed_id = all_feeds[x][0];
        timestamp = -all_feeds[x][1];
        if(pre_feed_id != feed_id) {
          i++;
          all_ids.push(feed_id);
        }
        feed_timestamp[feed_id] = timestamp;
        pre_feed_id = feed_id;
        if(i >= 1000) { break; }
      }
      all_ids_str = all_ids.join('_');
      $.ajax({
        url: '/ajax/feed/ids/',
        type: 'POST',
        data: {'ids_str': all_ids_str, csrfmiddlewaretoken: '{{ csrf_token }}'},
        dataType: 'json',
        timeout: 10000,
        error: function(){
        //alert('');
        },
        success: function(json){
          ordered_date = [];
          ordered_date_reponame = {};
          display_feeds_map = {};
          feeds = json.feeds;
          gravatarmap = json.gravatarmap;
          gravatar_userId_dict = json.gravatar_userId_dict;
          //feeds.sort(function(a,b) {
          //  return b.committer_date - a.committer_date;
          //})
          for(x in feeds) {
            feed = feeds[x];
            if(feed.relative_obj === undefined) {
              continue;
            }
            feed_date_str = moment(new Date(feed_timestamp[feed.id]*1000)).format('YY年MM月DD');
            if(!display_feeds_map[feed_date_str]) {
              ordered_date.push(feed_date_str);
              display_feeds_map[feed_date_str] = {};
            }
            feed_repo_name = '#' + feed.id;
            if(feed.feed_type == 0) {
              feed_repo_name = feed.relative_obj.repo_name;
            }
            if(!display_feeds_map[feed_date_str][feed_repo_name]) {
              if(!ordered_date_reponame[feed_date_str]) {
                ordered_date_reponame[feed_date_str] = [];
              }
              ordered_date_reponame[feed_date_str].push(feed_repo_name);
              display_feeds_map[feed_date_str][feed_repo_name] = [];
            }
            display_feeds_map[feed_date_str][feed_repo_name].push(feed);
          }

          html = [];

          for(x in ordered_date) {
            feed_date = ordered_date[x];

            html.push('<section class="feed-group"><div class="feed-date"><time class="date" pubdate="pubdate">' + feed_date + '</time></div>');

            for(y in ordered_date_reponame[ordered_date[x]]) {
              feed_reponame = ordered_date_reponame[ordered_date[x]][y];

              // feed_reponame.indexOf('#') != 0  #Commits#
              if(feed_reponame.indexOf('#') != 0) {
                html.push('<section class="feed-item"><span class="feed-type commit">提交</span><figure class="avatar"><img src="https://gravatar.com/avatar/{{ userprofile.imgurl }}?s=32" alt="{{userprofile.imgurl}}"></figure><div class="detail"><p class="title"></a>提交更新到 <a href="#">' + feed_reponame + '</a></p>');
                html.push('<ul class="subject commits">');
                for(z in display_feeds_map[feed_date][feed_reponame]) {
                  commit = display_feeds_map[feed_date][feed_reponame][z].relative_obj;
                  html.push('<li><img src="https://gravatar.com/avatar/{{userprofile.imgurl}}?s=15" alt="{{userprofile.imgurl}}"><a href="/{{ user.username }}/' + feed_reponame + '/" class="hash">' + commit.commit_hash + '</a>- <span class="subject">' + commit.subject + '</span><time class="date" pubdate>' + moment(new Date(commit.committer_date*1000)).fromNow() + '</time></li>');
                }
                html.push('</ul></div></section>');

                // !feed_reponame.indexOf('#') != 0
              } else {
                feed = display_feeds_map[feed_date][feed_reponame][0];

                // feed.feed_type == 300 || feed.feed_type == 301 || feed.feed_type == 302)  #Issues#
                if(feed.feed_type == 300 || feed.feed_type == 301 || feed.feed_type == 302) {
                  var issue = feed.relative_obj;
                  var action = '新建问题';
                  var detail = '';
                  if(feed.feed_type == 300) {
                    action = '新建问题';
                  } else if(feed.feed_type == 301) {
                    action = '更新问题';
                  } else if(feed.feed_type == 302) {
                    action = '编辑问题';
                    detail = feed.first_refname;
                  }

                  html.push('<section class="feed-item"><span class="feed-type issue">问题</span><figure class="avatar"><img src="https://gravatar.com/avatar/{{ userprofile.imgurl }}?s=32" alt="{{userprofile.imgurl}}"></figure><div class="detail"><p class="title"><time class="date" pubdate="pubdate">' + moment(new Date(feed_timestamp[feed.id]*1000)).fromNow() + '</time>' + action + ' <a href="/' + issue.username + '/' + issue.reponame + '/issues/' + issue.id + '/">' + issue.username +'/' + issue.reponame + '#' + issue.id + '</a></p><p class="subject">' + issue.subject);
                  if(detail != '') {
                    html.push('<span class="action">' + detail + '</span>');
                  }
                  html.push('</p></div></section>');

                  // feed.feed_type >= 100 && feed.feed_type <= 105 #Pull Request#
                } else if(feed.feed_type >= 100 && feed.feed_type <= 105) {
                  var pullRequest = feed.relative_obj; 
                  var action = '';
                  if(feed.feed_type == 100) {
                    action = '创建合并请求';
                  } else if(feed.feed_type == 101) {
                    action = '合并';
                  } else if(feed.feed_type == 102) {
                    action = '合并失败';
                  } else if(feed.feed_type == 103) {
                    action = '拒绝合并请求';
                  } else if(feed.feed_type == 104) {
                    action = '关闭合并请求';
                  } else if(feed.feed_type == 105) {
                    action = '评论合并请求';
                  }

                  html.push('<section class="feed-item"><span class="feed-type pull">合并请求</span><figure class="avatar"><img src="https://gravatar.com/avatar/{{ userprofile.imgurl }}?s=32" alt="{{userprofile.imgurl}}"></figure><div class="detail"><p class="title"><time class="date" pubdate="pubdate">' + moment(new Date(feed_timestamp[feed.id]*1000)).fromNow() + '</time>' + action + ' <a href="/'+ pullRequest.desc_repo_username + '/' + pullRequest.desc_repo_name +'/pull/' +  pullRequest.id + '">' + pullRequest.desc_repo_username + '/' + pullRequest.desc_repo_name + '#' + pullRequest.id + '</a></p><p class="subject">' + pullRequest.short_title + '</p></div></section>');
                }// feed.feed_type >= 100 && feed.feed_type <= 105

              }// feed_reponame.indexOf('#') !!= 0

            }// for(y in ordered_date_reponame[ordered_date[x]])


            html.push('</section>');
          }


          $('#newsfeed').append(html.join(''));

          if(ordered_date.length == 0) {
            $('#newsfeed').append('还没有提交信息');
          }

          $('.ajaxLoader').remove();
        }//success

      });
    };


    do_orgi_feeds();
  });
</script>
{% endblock %}
