{% extends "user/dashboard_base.html" %}

{% block container_class_name %} home{% endblock %}

{% block subcontainer %}
    <div id="feeds_container" class="timeline">
      <img id='feeds_loading' style="margin-left: 50px" src='/static/img/loading.gif'>
    </div>
{% endblock %}

{% block js %}
<script>
$(function(){
    moment.lang('zh-cn');
    var orgi_feeds = {{ feeds_as_json|safe }}
    var sorted_feeds = []
    var do_orgi_feeds = function() {
        all_ids = []
        all_feeds = []
        for (x in orgi_feeds) {
            all_feeds = all_feeds.concat(orgi_feeds[x]);
        } 
        all_feeds.sort(function(a,b) {
            return a[1] - b[1];
        })
        var i = 0;
        var pre_feed_id = 0;
        for (x in all_feeds) {
            feed_id = all_feeds[x][0]
            if(pre_feed_id != feed_id) {
                i++;
                all_ids.push(feed_id);
            }
            pre_feed_id = feed_id
            if(i >= 100) { break; }
        }
        all_ids_str = all_ids.join('_');
        $.ajax({
            url: '/ajax/feed/ids/',
            type: 'POST',
            data: {'ids_str': all_ids_str, csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            timeout: 10000,
            error: function(){
                //alert('');
            },
            success: function(json){
                ordered_date = []
                ordered_date_reponame = {}
                display_feeds_map = {}
                feeds = json.feeds
                gravatarmap = json.gravatarmap
                gravatar_userId_dict = json.gravatar_userId_dict
                feeds.sort(function(a,b) {
                    return b.committer_date - a.committer_date;
                })
                for(x in feeds) {
                    feed = feeds[x];
                    if(feed.relative_obj === undefined) {
                        continue;
                    }
                    feed_date_str = moment(new Date(feed.create_time*1000)).format('YY/MM/DD');
                    if(!display_feeds_map[feed_date_str]) {
                        ordered_date.push(feed_date_str);
                        display_feeds_map[feed_date_str] = {};
                    }
                    feed_repo_name = '#' + feed.id
                    if(feed.feed_type == 0) {
                        feed_repo_name = feed.relative_obj.repo_name;
                    }
                    if(!display_feeds_map[feed_date_str][feed_repo_name]) {
                        if(!ordered_date_reponame[feed_date_str]) {
                            ordered_date_reponame[feed_date_str] = [];
                        }
                        ordered_date_reponame[feed_date_str].push(feed_repo_name);
                        display_feeds_map[feed_date_str][feed_repo_name] = [];
                    }
                    display_feeds_map[feed_date_str][feed_repo_name].push(feed);
                }
                html = []
                for(x in ordered_date) {
                    feed_date = ordered_date[x];
                                        html.push('<section class="feedtime"><header class="header"><h1 class="date"> ' + feed_date.substring(3) + ' </h1></header><div class="feedtime-container"><figure class="avatar"><img src="https://gravatar.com/avatar/{{ userprofile.imgurl }}?s=32" alt=""><a href="/{{ user.username }}/">{{ user.username }}</a>...</figure>');
                    for(y in ordered_date_reponame[ordered_date[x]]) {
                        feed_reponame = ordered_date_reponame[ordered_date[x]][y];
                        if(feed_reponame.indexOf('#') != 0) {
                                                    html.push('<dl class="item"><dt class="leader">Commit on <a href="#">' + feed_reponame + '</a></dt><dd>');
                            for(z in display_feeds_map[feed_date][feed_reponame]) {
                                commit = display_feeds_map[feed_date][feed_reponame][z].relative_obj;
                                                                html.push('<p><a href="/{{ user.username }}/' + feed_reponame + '/" class="hash">' + commit.commit_hash + '</a>' + commit.subject + ' <span class="date pull-right">' + moment(new Date(commit.committer_date*1000)).fromNow() + '</span></p>');
                            }
                                                        html.push('</dd></dl>');
                        } else {
                            feed = display_feeds_map[feed_date][feed_reponame][0];
                            if(feed.feed_type == 300 || feed.feed_type == 301 || feed.feed_type == 302) {
                                var issue = feed.relative_obj;
                                var action = 'created issue';
                                var detail = '';
                                if(feed.feed_type == 300) {
                                    action = 'created issue';
                                } else if(feed.feed_type == 301) {
                                    action = 'updated issue';
                                } else if(feed.feed_type == 302) {
                                    action = 'changed issue';
                                    detail = feed.first_refname;
                                }
                                html.push('<p class="issue">' + action + '#' + issue.id + ' on <a href="/'+ issue.username + '/' + issue.reponame +'/">' + issue.reponame + '</a>' + detail + '<a href="/'+issue.username+'/'+issue.reponame+'/issues/'+issue.id+'/">#' + issue.id + ' ' + issue.subject + '</a> <span class="date">' + moment(new Date(issue.create_time*1000)).fromNow() + '</span>')
                                html.push('</p>');
                            } else if(feed.feed_type >= 100 && feed.feed_type <= 105) {
                                var pullRequest = feed.relative_obj; 
                                var action = ''
                                if(feed.feed_type == 100) {
                                    action = 'created pull request';
                                } else if(feed.feed_type == 101) {
                                    action = 'merged pull request';
                                } else if(feed.feed_type == 102) {
                                    action = 'merged failed pull request';
                                } else if(feed.feed_type == 103) {
                                    action = 'rejected pull request';
                                } else if(feed.feed_type == 104) {
                                    action = 'closed pull request';
                                } else if(feed.feed_type == 105) {
                                    action = 'comment on pull request';
                                }
                                html.push('<div>' + action + '#' + pullRequest.id + ' on <a href="/'+ pullRequest.desc_repo_username + '/' + pullRequest.desc_repo_name +'/">' + pullRequest.desc_repo_name + '</a><a href="/'+pullRequest.desc_repo_username+'/'+pullRequest.desc_repo_name+'/pull/'+pullRequest.id+'/">#' + pullRequest.id + ' ' + pullRequest.short_title + '</a><span class="date">' + moment(new Date(pullRequest.create_time*1000)).fromNow() + '</span></div>')
                            }
                        }
                    }
                                        html.push('</section></div>')
                }
                $('#feeds_container').append(html.join(''));
                if(ordered_date.length == 0) {
                    $('#feeds_container').append('还没有提交信息');
                }
                $('#feeds_loading').remove()
            }
        });
    };
    do_orgi_feeds();
    $('.feedtime').live('mouseover mouseout', function(event) {
        if (event.type == 'mouseover') {
            $(this).addClass('current');
        } else {
            $(this).removeClass('current');
        }
    });
});
</script>
{% endblock %}
