{% extends "user/home_base.html" %}
{% block css %}
<style>
#id_todoAdd_div { padding-bottom: 3px; }
.line { border-bottom: 1px solid #EEEEEE; margin: 3px; }
.cl_todo { padding-top: 3px; padding-bottom: 4px; }
.cl_todone { padding-top: 3px; padding-bottom: 4px; }
.cl_todo_text { font-size: 16px; padding: 1px; }
.cl_todone_text { font-size: 12px; color: #717171; }
.cl_todo_done_hovered { border: dashed 2px #cccccc ; padding: 2px}
.cl_todo_move_hovered { border-top: solid 2px #666666 ; padding: 2px}
.cl_control { padding: 2px; font-weight: bold }
</style>
{% endblock %}
{% block subcontainer %}
<div class="row" style="">
    <div id='todo_container' class="span8">
        <div id="id_sceneAdd_div" class="input-append form-inline" style="display: none">
            <input id="id_sceneAdd" type="text" placeholder="添加新的场景，支持Enter按键" class="span3">
            <button id="id_sceneAdd_button" class="btn btn-primary" type="submit">添加新的情景</button>
            <button id="id_sceneCancel_button" class="btn btn-primary" type="submit">取消</button>
        </div>
        <div id="id_todoAdd_div" class="input-append form-inline">
            <input id="id_todoAdd" type="text" placeholder="添加新的todo，支持Enter按键" class="span6">
            <button id="id_todoAdd_button" class="btn btn-primary" type="submit">添加</button>
            <div class="btn-group pull-left" style="margin-right: 2px">
                <button data-toggle="dropdown" class="btn dropdown-toggle">@ <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="javascript: void(0)">所有场景</a></li>
                    <li class="divider"></li>
                    <li id="id_addScene"><a href="javascript: void(0)"><i class="icon-plus"></i> 添加新的场景</a></li>
                </ul>
            </div>
        </div>
        <div id="id_todoList" class="span7">
            {%for i in ii %}
            <div id="id_todo_{{i}}" class="cl_todo" data="{{i}}">
                <a href="javascript: void(0)" rel="tooltip" data-original-title="拖动调整todo顺序"><i class="icon-th-list"></i></a> 
                <input class="cl_todo_check" type="checkbox" value="">
                <span class="cl_todo_text">测试一下todo{{i}}</span>
                <span class="cl_todo_control" style="margin-left: 10px; display: none">
                    <a class="go_top cl_control muted" title="置顶" href="javascript: void(0)">↑</a>
                    <a class="go_down cl_control muted" title="置底" href="javascript: void(0)">↓</a>
                    <a class="delete_todo cl_control muted" title="删除" href="javascript: void(0)">x</a>
                </span>
            </div>
            {%endfor%}
        </div>
        <div id="id_todoneList" class="span7">
            <div class="line"></div>
            <div id="id_todone_div">
            {%for j in jj %}
                <div id="id_todone_{{j}}" class="cl_todone" data="{{j}}">
                    <input class="cl_todone_check" type="checkbox" value="" checked>
                    <span class="cl_todone_text"> 测试一下todo{{j}}</span>
                </div>
            {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script src="/static/js/jquery-ui-1.8.21.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    moment.lang('zh-cn');
    $('.cl_todo').live('mouseover mouseout', function(event) {
        if (event.type == 'mouseover') {
            $(this).children('.cl_todo_control').show();
        } else {
            $(this).children('.cl_todo_control').hide();
        }
    });
    $('#id_todoAdd_button').click(function(event) {
        var todo = $('#id_todoAdd').val()
        add_todo(todo)
    });
    $('#id_todoAdd').keydown(function (e) {
        if (e.keyCode == 10 || e.keyCode == 13) {
            var todo = $(this).val()
            add_todo(todo)
        }
    });
    function add_todo(todo) {
        alert(todo);
    }
    $('#id_addScene').click(function(event) {
        $('#id_sceneAdd_div').show();
        $('#id_todoAdd_div').hide();
    });
    $('#id_sceneCancel_button').click(function(event) {
        $('#id_sceneAdd_div').hide();
        $('#id_todoAdd_div').show();
    });
    $('#id_sceneAdd_button').click(function(event) {
        var scene = $('#id_sceneAdd').val()
        add_scene(scene)
    });
    $('#id_sceneAdd').keydown(function (e) {
        if (e.keyCode == 10 || e.keyCode == 13) {
            var scene = $(this).val()
            add_scene(scene)
        }
    });
    function add_scene(scene) {
        alert(scene);
    }
    $('.cl_todo').tooltip({
      selector: "a[rel=tooltip]"
    })
    $('.cl_todo').draggable({
        cursor: 'move',
        revert: true
    });
    $('.cl_todo').droppable({
        accept: '.cl_todo',
        hoverClass: 'cl_todo_move_hovered',
        drop: handleTodoMoveDrop
    });
    $('#id_todone_div').droppable({
        accept: '.cl_todo',
        hoverClass: 'cl_todo_done_hovered',
        drop: handleTodoDoneDrop
    });
    function handleTodoMoveDrop(event, ui){
        var from_todo_id = ui.draggable.attr('data');
        var to_todo_id = $(this).attr('data');
        $.ajax({
            url: '/ajax/repo/cloudzhou/gitshell/issues/update/' + issue_id + '/' + issue_attr + '/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            timeout: 10000,
            error: function(){
            },
            success: function(json){
                location_cons()
            },
        });
    }
    function handleTodoDoneDrop(event, ui){
        var from_todo_id = ui.draggable.attr('data');
        $.ajax({
            url: '/ajax/repo/cloudzhou/gitshell/issues/update/' + issue_id + '/' + issue_attr + '/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            timeout: 10000,
            error: function(){
            },
            success: function(json){
                location_cons()
            },
        });
    }
    $('.cl_todo_check').click(function (e) {
        var todo_id = $(this).parents('.cl_todo').attr('data');
        var todo_text = $('#id_todo_'+todo_id).children('.cl_todo_text').text();
        $('#id_todo_'+todo_id).remove()
        var todone = '<div id="id_todone_' + todo_id + '" class="cl_todone" data="' + todo_id + '">' +
                     '<input class="cl_todone_check" type="checkbox" value="' + todo_id + '" checked>' +
                     '<span class="cl_todone_text"> ' + todo_text + '</span></div>'
        $('#id_todone_div').prepend(todone)
        //alert(todo_id);
    });
    $('.cl_todone_check').click(function (e) {
        var todone_id = $(this).parents('.cl_todone').attr('data');
        var todone_text = $('#id_todone_'+todone_id).children('.cl_todone_text').text();
        $('#id_todone_'+todone_id).remove()
        var todo = '<div id="id_todo_' + todone_id + '" class="cl_todo" data="' + todone_id + '">' +
                    '<a href="javascript: void(0)" rel="tooltip" data-original-title="拖动调整todo顺序"><i class="icon-th-list"></i></a> ' +
                    '<input class="cl_todo_check" type="checkbox" value="">' +
                    '<span class="cl_todo_text">' + todone_text + '</span>' +
                    '<span class="cl_todo_control" style="margin-left: 10px; display: none">' +
                    '<a class="go_top cl_control muted" title="置顶" href="javascript: void(0)">↑</a>' +
                    '<a class="go_down cl_control muted" title="置底" href="javascript: void(0)">↓</a>' +
                    '<a class="delete_todo cl_control muted" title="删除" href="javascript: void(0)">x</a>' +
                    '</span></div>';
        $('#id_todoList').prepend(todo)
        alert(todone_id);
    });
    $('.go_top').click(function (e) {
        var todo_id = $(this).parents('.cl_todo').attr('data');
        var todo_top = $('#id_todo_'+todo_id);
        todo_top.remove();
        $('#id_todoList').prepend(todo_top);
        //alert(todo_id);
    });
    $('.go_down').click(function (e) {
        var todo_id = $(this).parents('.cl_todo').attr('data');
        var todo_down = $('#id_todo_'+todo_id);
        todo_down.remove();
        $('#id_todoList').append(todo_down);
        //alert(todo_id);
    });
    $('.delete_todo').click(function (e) {
        var todo_id = $(this).parents('.cl_todo').attr('data');
        $('#id_todo_'+todo_id).remove()
        //alert(todo_id);
    });
});
</script>
{% endblock %}
