{% extends "user/user_base.html" %}
{% block left_sub_container %}
        <div class="page-header small_page-header">
            <h2>最近 <small><a href="/{{gsuser.username}}/active/" class="more">more</a></small></h2>
        </div>
        <div>
            <table class="table table-striped zero_border_table">
                <thead>
                  <tr>
                    <th class="span1">事件</th>
                    <th class="span5">详细</th>
                    <th class="span1">时间</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">gitshell</a></td>
                        <td>增加基础样式文件 <a style="float:right" href=""><code>acedfgff</code></a></td>
                        <td>2012.02.03</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-header small_page-header">
            <h2>统计<small><span><a href="/{{gsuser.username}}/stats/" class="more">more</a></small></span></h2>
        </div>
        <div id="id_user_stats">
            <div id="figure-a" class="figure lg">
                <div id="id_placeholder" style="height:200px"></div>
                <div class="muted">统计最近一月 <strong>commit</strong> 次数 异步统计，仅供参考</div>
            </div>
        </div>
        <div class="page-header small_page-header">
            <h2>仓库<small><a href="/{{gsuser.username}}/repo/" class="more">more</a></small></h2>
        </div>
        <div>
            <table class="table table-striped zero_border_table">
                <thead>
                    <tr>
                        <th class="span1">名称</th>
                        <th class="span5">简介</th>
                        <th class="">更新</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td>没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                        <td>1小时前</td>
                    </tr>
                    <tr>
                        <td><a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td>没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                        <td>1小时前</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-header small_page-header">
            <h2>关注仓库<small><a href="/{{gsuser.username}}/watch/repo/" class="more">more</a></small></h2>
        </div>
        <div>
            <table class="table table-striped zero_border_table">
                <thead>
                    <tr>
                        <th class="span1">名称</th>
                        <th class="span5">简介</th>
                        <th class="">更新</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td>没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                        <td>1小时前</td>
                    </tr>
                    <tr>
                        <td><a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td>没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                        <td>1小时前</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-header small_page-header">
            <h2>关注<small><a href="/{{gsuser.username}}/watch/user/" class="more">more</a></small></h2>
        </div>
        <div>
            <table class="table table-striped zero_border_table">
                <thead>
                    <tr>
                        <th class="span2">用户</th>
                        <th class="span5">简介</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="http://www.gravatar.com/avatar/{{ userprofile.imgurl }}?s=40"/> <a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td style="vertical-align: middle">没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                    </tr>
                    <tr>
                        <td><img src="http://www.gravatar.com/avatar/{{ userprofile.imgurl }}?s=40"/> <a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td style="vertical-align: middle">没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-header small_page-header">
            <h2>被关注 <small><a href="/{{gsuser.username}}/watch/user/" class="more">more</a></small></h2>
        </div>
        <div>
            <table class="table table-striped zero_border_table">
                <thead>
                    <tr>
                        <th class="span2">名称</th>
                        <th class="span5">简介</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="http://www.gravatar.com/avatar/{{ userprofile.imgurl }}?s=40"/> <a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td style="vertical-align: middle">没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                    </tr>
                    <tr>
                        <td><img src="http://www.gravatar.com/avatar/{{ userprofile.imgurl }}?s=40"/> <a href="/cloudzhou/gitshell/">gitshell</a></td>
                        <td>没错！gitshell 就是你目前使用的这个网站代码，基于django...</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
{% block right_sub_container %}
        {% if userprofile.resume %}
        <div id="id_user_resume">
            <h4 style="margin-bottom: 8px; font-weight: normal; color: #999999;">简历:</h4>
            <blockquote>
                <div id="id_user_resume_content" style="display:none">{{ userprofile.resume }}</div>
            </blockquote>
        </div>
        {% endif %}
        <div id="id_user_recommends">
            <h4 style="margin-bottom: 8px; font-weight: normal; color: #999999;">评论:
                <small><a href="/{{gsuser.username}}/watch/recommend/" class="more">more</a></small></h4>
            <blockquote style="border-left-width: 0px;">
                {% for i in kk %}
                <span>作为gitshell开发者，知识全面，为人谦和</span>
                <small style="margin-left: 10px; margin-bottom:6px"><a href="">cloudzhou</a> git开发者</small>
                {% endfor %}
                <form class="form-inline" action="/{{user.username}}/recommends/" method="post">
                    {% csrf_token %}
                    {{ recommendsForm.recommend }}
                    <button id="id_recommend_submit" class="btn hide" type="submit">确定</button>
                </form>
            </blockquote>
        </div>
{% endblock %}
{% block subjs %}
<script src="/static/js/Markdown.Converter.js"></script>
<script src="/static/js/Markdown.Editor.js"></script>
<script src="/static/js/Markdown.Sanitizer.js"></script>
<script>
/*global jQuery, window */
$(function(){
{% if userprofile.resume %}
    var resume_md_converter = function() {
        var converter = new Markdown.getSanitizingConverter();
        var html = converter.makeHtml($('#id_user_resume_content').html());
        $('#id_user_resume_content').html(html);
        $('#id_user_resume_content').show();
    };
    resume_md_converter();
{% endif %}
    $('#id_recommend').attr('placeholder', '言简意赅评论一下他，希望你确实了解他');
    $('#id_recommend').addClass('input-xlarge');
    $('#id_recommend').click(function() {
        $('#id_recommend_submit').show();
    });
    $('#id_recommend').blur(function() {
        $('#id_recommend_submit').hide();
    });
});
</script>
{% endblock %}
