{% extends "user/user_base.html" %}
{% block left_sub_container %}
        <div class="page-header" style="padding-bottom: 2px; margin-bottom: 10px;">
            <h2>关注仓库</h2>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="span2">仓库</th>
                        <th class="span5">简介</th>
                    </tr>
                </thead>
                <tbody>
                {% for watch_repo in watch_repos %}
                    <tr>
                        <td><a href="/{{watch_repo.username}}/{{watch_repo.name}}/">{{watch_repo.name}}</a></td>
                        <td>{{watch_repo.desc}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
{% block subjs %}
<script>
/*global jQuery, window */
$(function(){
});
</script>
{% endblock %}
