{% extends "repos/repos.html" %}
{% block subcontainer %}
    <div>
        <div class="well" style="padding: 5px; margin: 4px; overflow:hidden">
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">指派给:</dt>
                <dd style="margin-left: 80px"><span class="label">test</span> <span class="label label-success">cloudzhou</span></dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">跟踪:</dt>
                <dd style="margin-left: 80px">
                {%for tracker in trackers%}
                    <span class="label">{{tracker}}</span>
                {%endfor%}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">状态:</dt>
                <dd style="margin-left: 80px">
                {%for status in statuses%}
                    <span class="label">{{status}}</span>
                {%endfor%}
                </dd>
            </dl>
            <dl class="dl-horizontal" style="margin: 4px">
                <dt style="width: 60px; font-weight: normal">优先级:</dt>
                <dd style="margin-left: 80px">
                {%for priority in priorities%}
                    <span class="label">{{priority}}</span>
                {%endfor%}
                </dd>
            </dl>
            <a style="margin-top:-30px;margin-right:3px" href="./javascript.html#buttons" class="btn pull-right">创建 issues</a>
        </div>
    </div>
	<table class="table table-striped">
			<thead class="fixed">
			  <tr>
				<th class="span6">主题</th>
				<th>跟踪</th>
				<th>状态</th>
				<th>指派给</th>
				<th>优先级</th>
				<th>类别</th>
				<th>更新时间</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td><a href="">#190 Show deleted wiki pages or wiki files on the activity on the activity</a></td>
				<td>功能</td>
				<td>新</td>
				<td>cloudzhou</td>
				<td>高</td>
				<td>安全</td>
				<td>3个小时前</td>
			  </tr>
			  <tr>
				<td><a href="">#190 Show deleted wiki pages or wiki files on the activity on the activity</a></td>
				<td>功能</td>
				<td>新</td>
				<td>cloudzhou</td>
				<td>高</td>
				<td>安全</td>
				<td>3个小时前</td>
			  </tr>
			</tbody>
	</table>
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
});
</script>
{% endblock %}
