{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block container %}
<div class="page-header" style="margin-bottom: 18px; height: 52px; padding-bottom: 0px;">
        <h1 style="float: left; margin-right: 30px">:-), {{ user_name }}的仓库列表</h1><div style="float: left" class="btn-group">
          <button data-toggle="dropdown" class="btn btn-small dropdown-toggle">查看列表 <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {% for repos in repos_list %}
            <li><a href="/{{ user_name }}/{{ repos.name }}/">{{ repos.name }}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="/{{ user.username }}/repos/edit/0/">+ 创建新的仓库</a></li>
            <li><a href="/settings/repos/">+ 更多仓库管理</a></li>
          </ul>
</div>
</div>
{% load humanize %}
{% for repos in repos_list %}
<div class="row" style="margin: 10px;">
    <div class="span7">
        <div class="c_repos" style="padding: 10px;">
            <h3>☺ <a href="/{{ user_name }}/">{{ user_name }}</a> / 
            <a href="/{{ user_name }}/{{ repos.name }}/">{{ repos.name }}</a>
            <span style="float: right;">
            <a href="" style="margin-right: 20px" rel="tooltip" data-original-title="commit 次数">♯ {{ repos.commit }}</a>
            <a href="" style="margin-right: 20px" rel="tooltip" data-original-title="watch 次数">♥ {{ repos.watch }}</a>
            <a href="" style="margin-right: 20px" rel="tooltip" data-original-title="fork 次数">♂ {{ repos.fork }}</a></span></h3>
            <div style="margin-left: 20px;">
                <h6>创建于{{ repos.create_time|date:"y/m/d" }}，最近更新{{ repos.modify_time|date:"y/m/d H:i" }}</h6> 
                <p>{{ repos.desc }}</p>
                <h6>commit 历史</h6> 
                <ul>
                    <li><code><a href="">adfe54e9334e</a></code> user.html and repos forms ... :-) <span class="muted pull-right">by <a href="" style="margin-right: 10px">cloudzhou</a>{{ repos.modify_time|naturaltime }}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="c_repos_event">
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block js %}
<script>
/*global jQuery, window */
$(function(){
    $('.c_repos').hover(function() {
        $(this).css('background-color', '#D9EDF7');
    }, function(){
        $(this).css('background-color', '#FFFFFF');
    });
    $('.c_repos').tooltip({
      selector: "a[rel=tooltip]"
    })
});
</script>
{% endblock %}
