{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block container %}
<div class="page-header" style="margin-bottom: 25px; height: 30px">
        <h1 style="float: left; margin-right: 30px">:-), {{ user.username }}的仓库列表</h1><div style="float: left" class="btn-group">
          <button data-toggle="dropdown" class="btn btn-small dropdown-toggle">查看列表 <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="/{{ user.username }}/gitshell/">gitshell</a></li>
            <li><a href="/{{ user.username }}/gitshellstatic/">gitshellstatic</a></li>
            <li><a href="/{{ user.username }}/gitshellopenssh/">gitshellopenssh</a></li>
            <li class="divider"></li>
            <li><a href="/{{ user.username }}/repos/edit/0/">+ 创建新的仓库</a></li>
          </ul>
</div>
</div>
{% for i in ii %}
<div class="row" style="margin: 10px;">
    <div class="span7">
        <div class="c_repos" style="padding: 10px;">
            <h3>☺ <a href="/{{ user.username }}/">{{ user.username }}</a> / 
            <a href="/{{ user.username }}/gitshell/">gitshell</a>
            <span style="float: right;">
            <a href="" style="margin-right: 20px" rel="tooltip" data-original-title="commit 次数">♯ 11</a>
            <a href="" style="margin-right: 20px" rel="tooltip" data-original-title="关注 数量">♥ 22</a>
            <a href="" style="margin-right: 20px" rel="tooltip" data-original-title="fork 次数">♂ 33</a></span></h3>
            <div style="margin-left: 20px;">
                <h6>创建于xxx，最近更新xxx</h6> 
                <p>gitshell 就是您目前使用的这个网站，使用django，redis，nginx，memcached，uwsgi</p>
                <h6>commit 历史</h6> 
                <ul>
                    <li><a href="" style="margin-right: 10px">cloudzhou</a> user.html and repos forms ... :-) <code style="margin-left: 20px"><a href="">adfe54e9334e</a></code> <span class="muted">三个小时前</span></li>
                    <li><a href="" style="margin-right: 10px">cloudzhou</a> user.html and repos forms ... :-) <code style="margin-left: 20px"><a href="">adfe54e9334e</a></code> <span class="muted">三个小时前</span></li>
                    <li><a href="" style="margin-right: 10px">cloudzhou</a> user.html and repos forms ... :-) <code style="margin-left: 20px"><a href="">adfe54e9334e</a></code> <span class="muted">三个小时前</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="c_repos_event">
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block js %}
<script src="/static/js/flot/jquery.flot.min.js"></script>
<script>
/*global jQuery, window */
$(function(){
    var resume_md_converter = function() {
    };
    resume_md_converter();
    $('#id_skills').click(function() {
    });
    $('.c_repos').hover(function() {
        $(this).css('background-color', '#D9EDF7');
    }, function(){
        $(this).css('background-color', '#FFFFFF');
    });
    $('.c_repos').tooltip({
      selector: "a[rel=tooltip]"
    })
});
</script>
{% endblock %}
