{% extends "repos/repos.html" %}
{% block subcontainer %}
	<div class="file-list">
    <h4><a href="/{{user_name}}/{{repos_name}}/tree/{{refs}}/">gitshell</a> /
    <span id="i_repo_path"></span>
    </h4>
	<table class="table table-striped">
			<thead class="fixed">
			  <tr>
				<th width="20%">名称</th>
				<th width="15%">修改时间</th>
				<th>日志</th>
			  </tr>
			</thead>
			<tbody>
            {% for file, attrs in tree.items %}
			  <tr>
				<td>
                {% if attrs.0 == 'tree' %}
                    <i class="icon-folder-open"></i>
                {% else %}
                    <i class="icon-file"></i> 
                {% endif %}
                    <a href="{{ file }}" title="{{ file }}">{{ file }}</a>
                </td>
				<td><span class="c_unixtime hide">{{ attrs.2 }}</span></td>
				<td>{{ attrs.3 }}</td>
			  </tr>
            {% endfor %}
			</tbody>
	</table>
	</div>		  
{% endblock %}
{% block subjs %}
<script>
$(function(){
    $('.c_unixtime').each(function(index){ 
        $(this).html(moment(new Date($(this).html()*1000)).fromNow());
        $(this).show();
    });
    set_path_href = function() {
        var base_href_path = '/{{user_name}}/{{repos_name}}/tree/{{refs}}/';
        var path = '{{path}}';
        if(path == '.') {
            return;
        }
        var paths = path.split('/');
        path_href_html = '';
        for(x in paths) {
            subpath = paths[x];
            if(subpath == '') {
                break;
            }
            base_href_path = (base_href_path + subpath + '/');
            if(path.substr(-1) === "/") {
                if(x != (paths.length-2)) {
                    path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
                } else {
                    path_href_html = (path_href_html + ' ' + subpath + ' /');
                }
            } else {
                if(x != (paths.length-1)) {
                    path_href_html = (path_href_html + ' <a href="' + base_href_path + '">' + subpath + '</a> /');
                } else {
                    path_href_html = (path_href_html + ' ' + subpath);
                }
            }
        }
        $('#i_repo_path').html(path_href_html);
    };
    set_path_href();
});
</script>
{% endblock %}
