{% extends "base.html" %}

{% load gstools %}

{% block container_class_name %} explore{% endblock %}

{% block container %}
    <!--TODO refactor FIX timeline error -->
    <section class="colspan">
            <section class="activity span">
                <header class="header">
                    <h1 class="heading">活跃仓库列表</h1>
                </header>
                {%for repo in repos%}
                  <div class="c_repo user-plugin">
                      <figure class="avatar">
                        <img src="https://gravatar.com/avatar/{{userimgurl_dict|keyvalue:repo.user_id}}?s=35">
                      </figure>
                      <div class="info">
                        <div class="name">{{forloop.counter}}. <a href="/{{username_dict|keyvalue:repo.user_id}}/">{{username_dict|keyvalue:repo.user_id}}</a> / 
                          <a href="/{{username_dict|keyvalue:repo.user_id}}/{{repo.name}}/">{{repo.name}}</a>
                        </div>
                        <div class="meta">
                          <p>{{repo.desc}}</p>
                          <p>创建于 {{repo.create_time|date:'y/m/d'}}，最近更新 {{repo.modify_time|date:'y/m/d'}}</p>
                        </div>
                        <div class="actions btn-group">
                          <a data-original-title="提交次数" rel="tooltip" class="c_repo_attr first btn btn-mini" href="javascript:void(0)"><i class="icon-time"></i>{{repo.commit}}</a>
                          <a data-original-title="关注数量" rel="tooltip" class="c_repo_attr middle btn btn-mini" href="javascript:void(0)"><i class="icon-eye-open"></i>{{repo.watch}}</a>
                          <a data-original-title="衍生次数" rel="tooltip" class="c_repo_attr last btn btn-mini" href="javascript:void(0)"><i class="icon-code-fork"></i>{{repo.fork}}</a>
                        </div>
                      </div>
                  </div>
                {%endfor%}
            </section>
            <section class="recently span">
                <header class="header">
                    <h1 class="heading">最新提交信息</h1>
                </header>
                <div id='feeds_container'>
                    <img id='feeds_loading' src='/static/img/loading.gif'>
                </div>
            </section>
    </section>
{% endblock %}
